<div class="n-module {{addIngredients}}" data-modal-container="add-ingredient">
	<div class="n-module__header">
		{#<button class="n-back btn btn-lg btn-primary n-module__back" data-modal-close="add-ingredient">
			<i class="fa fa-arrow-left"></i>
			<span>Back</span>
		</button>#}
		<div class="n-module__title">Add ingredients to "Bun" option</div>

		<!-- begin n-search -->
		<div class="n-search n-module__search">
			<div class="n-search__field">
				<input type="text" class="form-control input-lg" placeholder="Search For Ingredient" />
			</div>
		</div>
		<!-- end n-search -->
	</div>
	<div class="n-module__body">
		{% set items = {
			columns: [ 'half', 'half' ],
			rows: [
				{ title: 'Onion', unit: 'Item (item)' },
				{ title: 'Potato', unit: 'Pound (lb)' },
				{ title: 'Cherry', unit: 'Kilogram (kg)' }
			]
		} %}
		<div class="n-items">
			<div class="n-items__head">
				<div class="n-items__checkbox">
					<div class="checkbox">
						<input type="checkbox" id="all-ingredients">
						<label for="all-ingredients"></label>
					</div>
				</div>
				<div class="n-items__table">
					<div class="n-items__tr">
						<div class="n-items__col">Ingredient Name</div>
						<div class="n-items__col">Unit of measurement</div>
					</div>
				</div>
			</div>
			<div class="n-items__body">
				{% for row in range(0,5) %}
					{% set active = loop.index + '' %}
					{% for item in items.rows %}
						<div class="n-items__row">
							<div class="n-items__checkbox">
								<div class="checkbox">
									<input type="checkbox" id="ingredient-{{active + loop.index}}">
									<label for="ingredient-{{active + loop.index}}"></label>
								</div>
							</div>
							<div class="n-items__table">
								<div class="n-items__tr">
									<div class="n-items__col">{{item.title}}</div>
									<div class="n-items__col">{{item.unit}}</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			<div class="n-items__footer">
				<input class="btn btn-lg btn-primary n-items__btn" type="button" value="Add">
				<input class="btn btn-lg btn-default n-items__btn" type="button" value="Cancel">
			</div>
		</div>
	</div>
</div>