<!-- begin g-box SUCCESS PAYMENT -->
<div class="g-box g-box_success v-box g-box_payment" data-success>
	{% if success.close %}
		<button class="g-box__close" data-modal-close="payment" data-success-close>
			<i class="fa fa-close"></i>
		</button>
	{% endif %}
	<div class="g-box__footer" data-animation="form">
		<button class="v-guide-btn v-guide-btn_wide g-box__btn" data-guide-direction="next" {{success.btnAttrs | safe}}>{{success.btn or 'Get Started'}} <i class="fa fa-angle-right"></i></button>
	</div>
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__center">
			<div class="v-box__icon" data-animation="icon"> <i class="fa fa-check " aria-hidden="true"></i> </div>
			<h3 class="v-box__title" data-animation="title">{{success.title or 'Thank you for your payment'}}</h3>
			<div class="v-box__description" data-animation="text">
				<p>{{success.text or 'Your account has been upgraded to Freedom.'}}</p>
			</div>
		</div>
	</div>
</div>
<!-- end g-box SUCCESS PAYMENT -->