<div class="v-guide-form">
	<div class="v-guide-form__container">
		<div class="v-guide-form__row">
			{% for item in [
				{
					info: true,
					classModificator: 'vertical'
				},
				{
					title: 'Payment Method',
					classModificator: 'values',
					fields: [
						[
							{
								label: 'First Name',
								wide: true
							},
							{
								label: 'Last Name',
								wide: true
							}
						],
						[
							{
								label: 'Card Number',
								error: 'Invalid or unsupported card number',
								wide: true
							}
						],
						[
							{
								label: 'Expiration Date',
								dates: [
									{
										options: [
											'01',
											'02',
											'03',
											'04'
										]
									},
									{
										options: [
											'2018',
											'2019',
											'2020',
											'2021'
										]
									}
								]
							},
							{
								label: 'Security Code',
								type: 'password'
							}
						]
					]
				}
			] %}
				<div class="v-guide-form__col v-guide-form__{{item.classModificator}}">
					{% if item.title %}
						<div class="v-guide-form__title">{{item.title}}</div>
					{% endif %}
					{% if item.fields %}
						{% for item in item.fields %}
							<div class="v-guide-form__fields">
								{% set field = item %}
								{% for item in item %}
									<div class="v-guide-form__field {% if item.wide %}v-guide-form__field_wide{% endif %} {% if field.length > 1 %}v-guide-form__field_sm-small{% endif %}">
										<div class="v-guide-form__label">{{item.label | safe}}</div>
										{% if item.select %}
											<select class="select">
												{% for item in item.select.options %}
													<option value="{{item}}">{{item}}</option>
												{% endfor %}
											</select>
										{% elif item.dates %}
											<div class="v-guide-form__fields">
												{% for item in item.dates %}
													<div class="v-guide-form__date">
														<select class="select">
															{% for item in item.options %}
																<option value="{{item}}">{{item}}</option>
															{% endfor %}
														</select>
													</div>
												{% endfor %}
											</div>
										{% else %}
											<input type="{{item.type or 'text'}}" class="form-control input-lg {% if item.error %}hasError{% endif %}">
											{% if item.error %}
												<span class="fieldError v-guide-form__error">{{item.error}}</span>
											{% endif %}
										{% endif %}
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					{% endif %}
					{% if item.info %}
						<div class="v-guide-info v-guide-form__center">
							<div class="v-guide-info__price">
								<div class="v-guide-info__price-label">
									<small>$</small>
									<strong data-price="39.99">39.99</strong> 
									mo per register
								</div>
							</div>
							<div class="v-guide-info__spinner">
								<div class="v-spinner" data-spinner>
									<button class="v-spinner__minus" type="button" data-spinner-control="down" onclick="spinnerControl(event, 'down')" disabled></button>
									<button class="v-spinner__plus" type="button" data-spinner-control="up" onclick="spinnerControl(event, 'up')"></button>
									<input 
										type="text" 
										value="1" 
										data-spinner-input 
										data-min="1"
										data-max="100"
										oninput="spinnerInput(event)"
										class="form-control input-lg v-spinner__input">
								</div>
								<script>
									var UP = 'up';
									var DOWN = 'down';
									var numberPattern = /\d+/g;

									function getValues(input) {
										return {
											val: input.val(),
											min: +input.data('min'),
											max: +input.data('max')
										};
									};

									function enableControls(buttons) {
										buttons.attr('disabled', false);
									}

									function disableControls(buttons, direction) {
										switch (direction) {
											case UP:
												buttons.filter('[data-spinner-control="' + UP + '"]').attr('disabled', true);
												return;
											case DOWN:
												buttons.filter('[data-spinner-control="' + DOWN + '"]').attr('disabled', true);
												return;
										}
									}

									function setTotal(quantity) {
										var price = $('[data-price]').data('price');
										var total = $('[data-total]');

										total.text((price*quantity).toFixed(2));
									}

									function spinnerControl(e, direction) {
										e.preventDefault();
										var target = $(e.currentTarget);
										var spinner = target.closest('[data-spinner]');
										var input = spinner.find('[data-spinner-input]');
										var buttons = spinner.find('[data-spinner-control]');
										if (target.attr('disabled')) return;

										var values = getValues(input);

										var min = values.min;
										var max = values.max;
										var newVal = +values.val;

										enableControls(buttons);
										switch (direction) {
											case UP: 
												newVal++;
												if (newVal >= max) {
													newVal = max;
													disableControls(buttons, UP);
												}
												break;
											case DOWN:
												newVal--;
												if (newVal <= min) {
													newVal = min;
													disableControls(buttons, DOWN);
												}
												break;
										}

										setTotal(newVal);
										input.val(newVal);
									}

									function spinnerInput(e) {
										var input = $(e.currentTarget);
										var spinner = input.closest('[data-spinner]');
										var buttons = spinner.find('[data-spinner-control]');

										var values = getValues(input);
										var min = values.min;
										var max = values.max;
										var val = values.val;

										if (!val) val = ''+min;

										var filtered = val.match( numberPattern );
										
										var newVal = (filtered && filtered.length) ? +(filtered.join('')) : min;
										enableControls(buttons);

										if (newVal >= max) {
											newVal = max;
											disableControls(buttons, UP);
										}
										if (newVal <= min) {
											newVal = min;
											disableControls(buttons, DOWN);
										}

										setTotal(newVal);
										input.val(newVal);
									}
								</script>
							</div>
							<div class="v-guide-info__price">
								<div class="v-guide-info__price-label">Total:</div>
								<div class="v-guide-info__price-main">
									<small>$</small>
									<strong data-total>39.99</strong>
								</div>
							</div>
							<div class="v-guide-info__disclaimer">NOTE: Excludes Poynt. For&nbsp;details&nbsp;visit our <a target="_blank" href="https://ehoppersupport.zendesk.com/hc/en-us/articles/360000788408">support page</a>.</div>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>