<!-- begin n-search -->
<div class="n-search">
	{#<div class="n-search__aside">
		<a href="#" class="n-link n-search__link">New modifier</a>
	</div>#}
	<div class="n-search__field">
		<input type="text" class="form-control input-lg" placeholder="Search For Modifier Group" />
	</div>
	<div class="n-search__links">
		<a href="#" class="n-link n-search__link">New modifier group</a>
		<a href="#" class="n-link n-search__link">Export modifiers</a>
		<a href="#" class="n-link n-search__link">Import modifiers</a>
	</div>
</div>
<!-- end n-search -->