<!-- begin n-search -->
<div class="n-search n-search_sidebar">
	<div class="n-search__links">
		<div class="n-search__col">
			{% if sidebarDisabled %}
				<a href="#" class="btn btn-primary n-search__btn" disabled>New</a>
			{% else %}
				<a href="#" class="btn btn-primary n-search__btn">New</a>
			{% endif %}
		</div>
		<div class="n-search__col">
			{% if sidebarDisabled %}
				<a href="#" class="btn btn-primary n-search__btn" disabled>Export</a>
			{% else %}
				<a href="#" class="btn btn-primary n-search__btn">Export</a>
			{% endif %}
		</div>
		<div class="n-search__col">
			{% if sidebarDisabled %}
				<a href="#" class="btn btn-primary n-search__btn" disabled>Import</a>
			{% else %}
				<a href="#" class="btn btn-primary n-search__btn">Import</a>
			{% endif %}
		</div>
		<div class="n-search__col">
			<a href="#" class="btn btn-red n-search__btn" disabled>Delete</a>
		</div>
	</div>
	<div class="n-search__field">
		<i class="fa fa-search n-search__icon"></i>
		<input type="text" class="form-control input-lg" placeholder="{{searchPlaceholder or 'Search For Modifier Group'}}" />
	</div>
</div>
<!-- end n-search -->