<div class="n-container {{radiosClassList}}">
	<div class="n-row">
		<div class="n-col">
			<label class="n-label n-label_title">Select modifier type:</label>
		</div>
		
		{% set choice = [
			{ 
				title: 'One selection',
				description: 'eg: small, medium, large',
				attrs: 'checked',
				iconClassList: [
					'n-fake-radio__circle_full'
				]
			},
			{ 
				title: 'Multiple selections',
				description: 'eg: cheese, sousage',
				iconPlus: true,
				iconClassList: [
					'n-fake-radio__circle_full',
					'n-fake-radio__circle_full',
					'n-fake-radio__circle_full'
				]
			},
			{ 
				title: 'Exceptions',
				description: 'eg: No salt, No sugar',
				iconMinus: true,
				iconClassList: [
					'n-fake-radio__circle_full',
					'n-fake-radio__circle_full',
					'n-fake-radio__circle_full'
				]
			}
		] %}

		{% for item in choice %}
			<div class="n-col n-col_sm n-radio-container">
				<label class="n-fake-radio n-fake-radio_block">
					<input type="radio" value="{{loop.index}}" id="{{radiosName + '' + loop.index}}" name="{{radiosName}}" {{item.attrs | safe}}>
					<span class="n-fake-radio__content n-fake-radio__content_icons">{{item.title}}</span>
					<span class="n-fake-radio__icon-group">
						{% if item.iconPlus %}
							<i class="n-fake-radio__plus"></i>
						{% elif item.iconMinus %}
							<i class="n-fake-radio__minus"></i>
						{% endif %}
						<i class="n-fake-radio__circle {{item.iconClassList[0]}}"></i>
						<i class="n-fake-radio__circle {{item.iconClassList[1]}}"></i>
						<i class="n-fake-radio__circle {{item.iconClassList[2]}}"></i>
					</span>
				</label>
				<label class="n-label" for="{{radiosName + '' + loop.index}}">{{item.description}}</label>
			</div>
		{% endfor %}
	</div>
</div>