<div class="n-pane__inner {{sidebarDisabled}}">
	{% include 'partials/components/_n-search.html' %}
	{% set list = [
		{ title: 'Toppings', active: 'is-active' },
		{ title: 'Sizes' },
		{ title: 'Icecream Flafors' }
	] %}
	{% set sidebarActions = [
		'<i class="fa fa-pencil-square-o"></i>',
		'<i class="fa fa-clone"></i>',
		'<span>Add to products</span>'
	] %}
	{% if sidebarEmpty %}
		<!-- begin n-empty -->
		<div class="n-empty">
			<div class="n-empty__title">There are no modifiers created. <a href="#" class="n-link">Add new</a>.</div>
		</div>
		<!-- end n-empty -->
	{% else %}
		<!-- begin i-items -->
		<div class="i-items">
			<div class="i-items__head">
				<div class="i-items__checkbox">
					{{form.checkbox.call()}}
				</div>
				<div class="i-items__title">Modifiers</div>
			</div>
			<ul class="i-items__list">
				{% for item in list %}
					<li class="i-item i-items__row {% if sidebarNoActive != true %}{{item.active}}{% endif %}">
						<div class="i-item__actions">
							{% for link in sidebarActions %}
								<a href="#" class="i-item__action {% if loop.index == sidebarActionsActive %}{{item.active}}{% endif %}">{{link | safe}}</a>
							{% endfor %}
						</div>
						<div class="i-item__checkbox">
							{{form.checkbox.call()}}
						</div>
						<div class="i-item__title">{{item.title}}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<!-- end i-items -->
	{% endif %}
</div>