<div class="s-tabs">
	<div class="s-tabs__header">
		<ul class="s-tabs__list">
			{% for item in tabs %}
				<li class="s-tabs__item">
					<a href="" class="s-tabs__btn js-tabs-btn {{item.active}}" data-tabs-btn="{{item.name}}" data-tabs-collection="{{tabsCollection}}">{{item.btn}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="s-tabs__body">
		{% for item in tabs %}
			{% if item.content %}
				<div class="s-tabs__content {{item.open}}" data-tabs-container="{{item.name}}" data-tabs-collection="{{tabsCollection}}">
					{% include item.content %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>