<!-- begin v-warning -->
<div class="v-warning">
	<i class="fa fa-exclamation-circle v-warning__icon" aria-hidden="true"></i>
	<div class="v-warning__inner">
		<div class="v-warning__title">Please note!</div>
		<div class="v-warning__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sunt, beatae blanditiis praesentium earum ut voluptas perspiciatis sequi architecto, recusandae officia modi consectetur quidem sint quis repellendus repudiandae. Numquam iste consectetur, esse? Deleniti officiis quidem nam facilis harum vitae impedit quos repellat consectetur voluptatem aperiam omnis odio praesentium, officia mollitia aliquam natus! Natus nobis dolorum suscipit earum quisquam, distinctio rem, doloribus fugiat placeat sint, nulla hic unde, magni possimus voluptas autem veniam consectetur necessitatibus repellat repellendus eius dicta illo eligendi ipsum? A alias, facilis at error perspiciatis, in libero aperiam consequuntur distinctio amet! Eos, magni tenetur fugit eius, odio voluptatem.</div>
	</div>
</div>
<!-- end v-warning -->