.n-pane
	&__inner
		height: 100%
		padding: 20px
		overflow-y: auto
		overflow-x: hidden
		&.is-disabled
			opacity: 0.5
			pointer-events: none


.n-columns-layout
	position: relative
	min-width: 1180px
	height: 100%
	+clr

.n-link
	display: inline-block
	vertical-align: top
	color: $blue
	font-size: inherit
	// text-decoration: underline

.n-add
	a
		display: inline-block
		vertical-align: top
		color: $blue
		font-size: 16px
		text-decoration: underline
	i
		margin-right: 8px

.n-back
	i
		margin-right: 8px

.n-close
	padding: 0
	border: none
	color: $red
	background: none
	i
		font-size: 16px

.n-btn-toggle
	position: relative
	display: inline-block
	vertical-align: top
	padding: 15px 15px 15px 15px
	border: none
	width: 175px
	color: $blue
	background: none
	font-size: 16px
	text-align: left
	&.is-active
		.n-btn-toggle
			&__show
				display: none
			&__hide
				display: inline-block
			&__arrow
				transform: rotate(180deg)
	&__show
		display: inline-block
	&__hide
		display: none
	&__show,
	&__hide
		vertical-align: top
	&__arrow
		display: inline-block
		vertical-align: top
		margin-left: 5px
		font-size: 22px
		+gpu
		transition: transform 0.175s ease-in-out
		

//containers
.n-section
	position: relative
	padding: 20px
	&_step
		padding: 0 0 93px
		height: 100%
	&__body
		padding: 20px
		height: 100%
		overflow: auto
	&__container
		margin: 0 auto
		// max-width: 800px
		max-width: 600px
	&__footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 20px
		text-align: center
		.form-buttons 
			margin: 0
			> .btn,
			> .btn:last-child
				margin: 0 5px
	&__radios
		max-width: 600px

.n-box
	padding-bottom: 20px

.n-label
	display: block
	&_title
		font-size: 16px
		margin-bottom: 15px

.n-radio-container
	padding-bottom: 10px
	.radio
		margin-top: 0

.n-vertical-center
	height: 100%
	+vertical
	&__content
		display: inline-block
		vertical-align: middle
		width: 100%

//modifiers styles
.n-modifiers
	.pane-left
		background: #f6f4f4
		width: 40%
	.pane-right
		margin-left: 40%
		overflow-y: auto
		overflow-x: hidden
	.list
		padding: 0
		margin: 20px 0
		list-style: none
		background: white
		.item
			position: relative
			padding: 10px 10px 10px 20px
			margin-top: -1px
			border: 1px solid #eaeaea 
			&:before
				content: "\2261"
				position: absolute
				left: 7px
				color: silver

//product modifiers
.n-modifiers-container
	max-width: 650px
.n-modifiers-section
	margin-bottom: 20px
	+clr
	&__btn
		padding-right: 20px
	&__slash
		padding-right: 20px
		line-height: 53px
.n-modifiers-block
	&__title
		padding: 10px 0
		margin-bottom: 20px
		border-bottom: 2px solid #eee
		color: $blue
		font-size: 20px

#modifierReportTable
	min-width: 1700px