.n-pane
	&__inner
		height: 100%
		padding: 20px
		overflow-y: auto
		overflow-x: hidden
		&.is-disabled
			// opacity: 0.5
			pointer-events: none
			+nosel
			.n-pane__overlay
				opacity: 0.3
				visibility: visible
			a.i-item__action
				color: #333
				opacity: 0.5
			.i-item__active
				i
					color: #333
	&__overlay
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		visibility: hidden
		background: #434c55
		transition: opacity 0.15s, visibility 0.15s


.n-columns-layout
	position: relative
	min-width: 1024px
	height: 100%
	+clr

.color-red
	color: #f00
.color-green
	color: #0b860b

.buttons-center
	text-align: center
	.form-buttons > 
		.btn, 
		.btn:last-child
			margin: 0 5px

.i-title
	padding: 9px 0 10px
	margin-bottom: 20px
	color: #999
	font-size: 24px
	text-align: center

.n-link
	display: inline-block
	vertical-align: top
	color: $blue
	font-size: inherit
	// text-decoration: underline

.n-add
	a
		display: inline-block
		vertical-align: top
		color: $blue
		font-size: 16px
		text-decoration: underline
	i
		margin-right: 8px

.n-back
	i
		margin-right: 8px

.n-close
	padding: 0
	border: none
	color: $red
	background: none
	i
		font-size: 16px

.n-btn-toggle
	position: relative
	display: inline-block
	vertical-align: top
	padding: 15px 15px 15px 15px
	border: none
	width: 175px
	color: $blue
	background: none
	font-size: 16px
	text-align: left
	&.is-active
		.n-btn-toggle
			&__show
				display: none
			&__hide
				display: inline-block
			&__arrow
				transform: rotate(180deg)
	&__show
		display: inline-block
	&__hide
		display: none
	&__show,
	&__hide
		vertical-align: top
	&__arrow
		display: inline-block
		vertical-align: top
		margin-left: 5px
		font-size: 22px
		+gpu
		transition: transform 0.175s ease-in-out
		

//containers
.n-section
	position: relative
	padding: 20px
	&_step
		padding: 0 0 93px
		height: 100%
	&__body
		padding: 20px
		height: 100%
		overflow: auto
	&__container
		margin: 0 auto
		// max-width: 800px
		max-width: 600px
		&_ordering
			max-width: 720px
	&__footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 20px
		text-align: center
		.form-buttons 
			margin: 0
			> .btn,
			> .btn:last-child
				margin: 0 5px
	&__radios
		max-width: 600px
	&__tabs
		margin: 0 auto 40px
		max-width: 600px
		&.tab-control > .tab
			margin: 0 2px 0 0
	.tab-elemtn
		width: 33.33%
	&__alert
		position: absolute
		top: 20px
		left: 20px
		right: 20px
		font-size: 14px
		text-align: left

.n-box
	padding-bottom: 20px

.n-label
	display: block
	&_title
		font-size: 16px
		margin-bottom: 15px

.n-radio-container
	padding-bottom: 10px
	.radio
		margin-top: 0

.n-vertical-center
	height: 100%
	+vertical
	&__content
		display: inline-block
		vertical-align: middle
		width: 100%

//modifiers styles
.n-modifiers
	.pane-left
		background: #f6f4f4
		width: 40%
	.pane-right
		margin-left: 40%
		overflow-y: auto
		overflow-x: hidden
	.list
		padding: 0
		margin: 20px 0
		list-style: none
		background: white
		.item
			position: relative
			padding: 10px 10px 10px 20px
			margin-top: -1px
			border: 1px solid #eaeaea 
			&:before
				content: "\2261"
				position: absolute
				left: 7px
				color: silver

//product modifiers
.n-modifiers-container
	max-width: 650px
.n-modifiers-section
	margin-bottom: 20px
	+clr
	&__btn
		padding-right: 20px
	&__slash
		padding-right: 20px
		line-height: 53px
.n-modifiers-block
	&__title
		padding: 10px 0
		margin-bottom: 20px
		border-bottom: 2px solid #eee
		color: $blue
		font-size: 20px

#modifierReportTable
	min-width: 1700px
#ingredientsReportTable
	min-width: 1300px
	// min-width: 1700px

//ingredients ordering
#taxTable input[type="text"], 
#pricingTable input[type="text"], 
#orderingTable input[type="text"]
	width: 100%

//store transfer
.store-transfer
	height: 100%
.store-transfer-buttons
	margin-top: 30px
.i-ingredients-table
	min-width: 1400px

//header
.pane-header 
	&__right
		display: none
	.pane-header__left 
		.toggle-options-panel-button
			margin-right: 30px
	&_double
		min-width: 1180px
		+clr
		.pane-header__left 
			width: 40%
		.pane-header__right
			display: block
			width: 60%
		.pane-header__left,
		.pane-header__right
			position: relative
			float: left
			height: 100%
		.pane-header
			&__back
				position: relative
				z-index: 1
				float: left
				padding: 0 20px
				border: none
				height: 100%
				color: $white
				background: none
				font-size: 16px
				i
					margin-right: 4px
					font-size: 24px
					line-height: 50px
				i, span
					display: inline-block
					vertical-align: top
			&__subtitle
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				text-align: center

//common
.select-parent-wide
	select,
	.select
		width: 100%
.select-wide
	width: 100%
.multi-select-single
	input[type="checkbox"],
	input[type="radio"] 
		+ label:before
			display: none

//app
.app-block
	&__icon
		height: 100%
		+vertical
		i
			display: inline-block
			vertical-align: middle
			font-size: 56px
		&_notifications
			i 
				border-radius: 50%
				width: 56px
				height: 56px
				color: #ffcc00
				background: $blue
				font-size: 0
				line-height: 56px
				&:before
					display: inline-block
					vertical-align: middle
					font-size: 34px
		&-denomination
			display: inline-block
			vertical-align: middle
			border-radius: 50%
			width: 70px
			height: 70px
			background: #ffe786
			+vertical
			img 
				display: inline-block
				vertical-align: middle
				margin: 0
				height: 60%
//employee
.e-checkbox
	input[type="checkbox"] + label,
	input[type="radio"] + label
		position: relative
		padding-left: 31px
	input[type="checkbox"] + label:before, 
	input[type="radio"] + label:before
		position: absolute
		top: 7px
		left: 0

.new-logo
	margin-bottom: 20px
	width: 263px

//app
.app-settings
	width: 100%
	height: 100%
	position: relative
	overflow: hidden

.n-app
	position: relative
	padding-top: 270px
	height: 100%
	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 20px 0
		height: 270px
		.n-app__container
			padding: 0 20px
	&__body
		position: relative
		padding: 71px 0 20px
		height: 100%
		.n-app__title
			position: absolute
			top: 20px
			left: 0
			right: 0
	&__title
		padding: 0 20px 20px
		font-family: "Open Sans", Helvetica, Arial, sans-serif
		font-size: 24px
		font-weight: bold
		line-height: 1.3
	&__container
		margin: 0 20px
		border: 1px solid #e5e5e5
		min-height: 100px
	&__iframe
		height: 100%
	&__row
		+clr
	&__col
		float: left
		padding: 20px
		width: 100%
		&_50
			width: 50%
	&__filter
		label,
		select,
		.select,
		.btn
			display: inline-block
			vertical-align: middle
			margin: 0 15px 0 0
	&__footer
		padding: 0 20px 20px
	
.color-red
	color: #e24e34 !important

//store settings
.store-settings
	&__taxes
		&-table
			&.is-hidden
				.store-settings
					&__taxes
						&-rate
							width: 426px !important
						&-radio
							display: none
				[data-row*="hidden"]
					display: none
		&-checkboxes
			+clr
		&-checkbox
			float: left
			padding-right: 30px
		&-name
			width: 384px !important
		&-rate,
		&-radio
			width: 213px !important
		&-delete
			width: 20px !important
			
//convenience-fee
.convenience-fee
	padding: 25px 40px 40px 40px
	min-width: 1024px

.dataTables_wrapper_flexible
	padding: 0 !important
	min-width: none !important

.field-group
	display: table
	width: 100%
	&__input,
	&__switcher
		display: table-cell
		vertical-align: top
	&__input
		border-radius: 0 4px 4px 0
		width: 100%
		text-align: right
	&__switcher
		position: relative
		z-index: 3
		padding: 10px 12px 11px
		border: 1px solid #ccc
		border-right: none
		border-radius: 4px 0 0 4px
		width: 1%

		color: #555
		background: #eee

		font-size: 16px
		font-weight: normal
		line-height: 1
		text-align: center

//payment report
#activationReportTable
	min-width: 3000px
#paymentReportTable
	min-width: 2300px
.payment-report-filters
	margin: 0 -10px
	&__table
		table-layout: fixed
.payment-report-filter
	padding: 0 10px
	label
		display: block
	select
		width: 100% !important
//table report columns
=column($name)
	[data-table-report="col-#{$name}"]
		@content
+column('trans-date')
	width: 140px
+column('tsp')
	width: 100px
+column('trans-id')
	width: 110px
+column('order-id')
	width: 110px
+column('bill-pay-id')
	width: 130px
+column('carrier-id')
	width: 120px
+column('payment-method')
	width: 110px
+column('trans-type')
	width: 120px
+column('register')
	width: 110px
+column('service-date')
	width: 100px
+column('mobile')
	width: 120px
+column('contract-type')
	width: 120px
+column('sppo-name')
	width: 350px
+column('exp')
	width: 180px
// .table-report-register
// 	width: 110px
// .table-report-id
// 	width: 110px
// .table-report-fee
// 	width: 100px
// .table-report-sppo-name
// 	width: 350px
// .table-trans-date
// 	width: 15%
// .table-trans-id
// 	width: 20%



.break-word
	white-space: normal !important
	word-break: break-word !important

.tab-control_wide
	margin-left: -120px
	margin-right: -120px
	text-align: center

.tab 
	// max-width: 130px
	max-width: 160px
	font-size: 0 !important
	&-title
		display: inline-block
		vertical-align: middle
		font-size: 14px
		line-height: 1.2

.radio,
.checkbox 
	input:disabled + label 
		cursor: not-allowed
	&_solo
		margin: 0
		label
			display: block
			&:before
				top: 0 !important
				display: block !important

//btn
.btn
	&_dropdown
		position: relative
		padding-right: 40px !important
		border-radius: 4px !important
		outline: none !important
		&[aria-expanded="true"]
			.caret
				transform: translate3d(0,-50%,0) rotate(180deg)
			~ .dropdown-menu
				display: block !important
		.caret
			position: absolute
			top: 50%
			right: 10px
			transform: translate3d(0,-50%,0)
		~ .dropdown-menu
			left: auto
			right: 0
			width: 200px

//form
.form 
	&_md
		padding: 20px 0 !important
		margin: 0 auto !important
		max-width: 600px !important
		width: 100% !important
	&__description
		margin: 0 auto
		max-width: 330px
		font-size: 18px
		line-height: 1.3
		text-align: center
		p 
			margin: 0
	&__buttons
		padding-top: 20px
	&__item_md
		margin: 0 auto
		max-width: 400px
	&__row
		margin: 0 -20px
		+clr
	&__col
		float: left
		padding: 0 20px
		width: 50%
	&__section 
		margin-bottom: 30px

//MENU
ul.main-menu 
	li 
		&.open 
			a 
				&.billing-icon
					background-image: url(../content/images/menu/invoice-white.svg)
		a
			&.billing-icon
				background: url(../content/images/menu/invoice.svg) 8px 8px no-repeat
				background-size: 30px auto
			.icon
				position: absolute
				top: 50%
				right: 10px
				margin-top: -0.5em
				fill: currentColor
				font-size: 20px

[hidden]
	display: none !important

.form-control.hasError
	~ .n-error-message
		display: block
.n-error-message
	display: none

.center-content
	height: 100%
	+vertical 
	&__container
		display: inline-block
		vertical-align: middle
		width: 100%
		font-size: 14px

.btn__icon
	margin-right: 3%
	font-size: 120%

select 
	padding-right: 38px
