---
title: Acticvation report
headerTitle: Tracfone (DAP) Report
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body inventory" data-bind="with: filter">
		<input class="form-control input-lg pull-left datatable-search" type="text" data-bind="local: 'reports/productMixReport.search_item_by_title_or_code', localAttr: 'placeholder'" placeholder="Search item by: Name, Code, Mobile">
		<div style="float:left;">
			<!--ko compose: { view: 'controls/storesFilter.html', mode:'templated' }-->
			<div data-bind="if: $data.storesFilter.storesArr().length > 1" data-view="views/controls/storesFilter" style="" data-active-view="true">
				<div data-bind="with: $data.storesFilter, css: self.divStyle">
					<div class="stores-filter-label-wrapper" data-bind="visible: !labelNotVisible">
						<label data-bind="local: 'employees/manage-tabs/generalTab.stores'">Stores:</label>
					</div>
					<div data-bind="css: contStyle" class="filter_control_cont">
						<select class="form-control input-lg" data-bind="options: storesArr, optionsText: 'storeName', optionsValue: 'id',
							multipleSelect: storesArr, selectedElements: stores, multipleSelectOptions: setupMultiSelect(), attr: { id: name }" style="display: none;"><option value="df17c52b068e428e94046bcacfd33adb">BESTsTore</option><option value="9b95b38021254511970c394af32606e1">FAstSTore</option><option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option><option value="8c69323a6b28488f9f5e688f592979cf">New Store</option><option value="e926fc3cd7614d549d9ac824b3f92e23">New Store 32</option><option value="a3474647d20d40a1b267cdc7cd141428">New Store a</option><option value="887cc460a3dd47a79a14203dc23dd111">New Store s</option><option value="fbff8a9bbec04e3f831b0c1b3f78184f">New Store X1</option><option value="600172f4371c40aab4999b63a5775634">Store ulevan</option><option value="86240cf9e12e41e585183105da181f67">Vlad store</option><option value="028f25cf079a4019a12f67d575d11512">WestGuestCafe</option>
						</select>
						<div class="ms-parent" style="width: 100px;">
							<script>
								function openDropdown(e) {
									e.preventDefault();
									$(e.currentTarget)
										.closest('.ms-parent')
										.find('.ms-drop')
										.toggle();
								}
							</script>
							<button type="button" class="select" onclick="openDropdown(event)">
								<div class="fl">
									<div>
										<input id="txtMs_data_undefined" class="filter-text" type="text" dataid="data_undefined" selectid="undefined" placeholder="Select store(s)" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false">
									</div>
									<div>
										<div></div>
									</div>
								</div>
							</button>
							<div class="ms-drop bottom" data-name="multipleSelect1">
								<ul style="max-height: 250px;">
									<li>
										<input id="allCheck" type="checkbox" name="selectAllmultipleSelect1" checked>
										<label for="allCheck">Select All</label>
									</li>
									{% set stores = [ '6408 Pacific Ave' ] %}
									{% for item in stores %}
										<li>
											<input type="checkbox" name="selectItemmultipleSelect1" id="payment-store-{{loop.index}}" checked>
											<label for="payment-store-{{loop.index}}">{{item}}</label>
										</li>
									{% endfor %}
									<li class="ms-no-results">No matches found</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ko-->
		</div>
		<div class="pull-right tips-filter no-margin">
			<date-filter params="value: dateRange">
				<div class="pull-right">
					<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
						&nbsp;
						<span>All</span> 
						<b class="caret"></b>
					</div>
				</div>
			</date-filter>
		</div>
		<div class="report-export-wrapper pull-right">
			<a href="api/ProductMixReport/ExportProductMix" target="_blank" class="btn-report-export" data-bind="click: exportTableData, local: 'shell.exportReport'">Export</a>
			<i class="fa fa-file-excel-o" aria-hidden="true" data-bind="click: exportTableData"></i>
		</div>
	
		<div class="loader-container" data-bind="visible: loading()" style="min-height: 400px; display: none;"></div>
		
		<div class="row list-filters payment-report-filters" data-bind="visible: !loading()" style="">
			<table class="payment-report-filters__table">
				<tbody>
					<tr>
						<td class="payment-report-filter">
							<label>Register:</label>
							<select>
								<option>All</option>
								{% for item in range(0,5) %}
									<option value="Register {{loop.index}}">Register {{loop.index}}</option>
								{% endfor %}
							</select>
						</td>
						<td class="payment-report-filter">
							<label>Contract Type:</label>
							{% set contractType = [
								'Activation',
								'Add A Line',
								'First Add A Line',
								'Headset Upgrade',
								'Non-eligible Upgrade',
								'Port In',
								'Port-In Add-A-Line',
								'Reactivation'
							] %}
							<select>
								<option>All</option>
								{% for item in range(0,5) %}
									<option value="Contract Type {{loop.index}}">Contract Type {{loop.index}}</option>
								{% endfor %}
							</select>
						</td>
						<td class="payment-report-filter">
							<label>Carrier:</label>
							{% set carrier = [
								'GoSmart',
								'Net 10',
								'Simple Mobile',
								'Telcel',
								'TracFone'
							] %}
							<select>
								<option>All</option>
								{% for item in carrier %}
									<option value="{{item}}">{{item}}</option>
								{% endfor %}
							</select>
						</td>
						<td class="payment-report-filter">
							<label>Employee:</label>
							<select>
								<option>All</option>
								{% for item in range(0,5) %}
									<option value="Salesperson {{loop.index}}">Employee {{loop.index}}</option>
								{% endfor %}
							</select>
						</td>
						<td class="payment-report-filter">
							<label>Customer:</label>
							<select>
								<option>All</option>
								{% for item in range(0,5) %}
									<option value="Customer {{loop.index}}">Customer {{loop.index}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br class="clear">

		<div id="productMixReportTable_wrapper" class="dataTables_wrapper dataTables_wrapper_flexible">
			<div id="productMixReportTable_filter" class="dataTables_filter">
				<label>Search:
					<input type="search" class="" placeholder="" aria-controls="activationReportTable">
				</label>
			</div>
			<div id="productMixReportTable_processing" class="dataTables_processing" style="display: none;">Processing...</div>
			<table class="datatable dataTable" id="activationReportTable" data-bind="visible: !loading()" style="width: 100%;" role="grid">
				<thead>
					<tr role="row">
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Store: Activate to sort by ascending columns">Store</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-register"
							aria-controls="productMixReportTable" 
							aria-label="Register: Activate to sort by ascending columns">Register</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-trans-type"
							aria-controls="productMixReportTable" 
							aria-label="Transaction Type: Activate to sort by ascending columns">Transaction Type</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-trans-id"
							aria-controls="productMixReportTable" 
							aria-label="Transaction ID: Activate to sort by ascending columns">Transaction ID</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-payment-method"
							aria-controls="productMixReportTable" 
							aria-label="Payment Metod: Activate to sort by ascending columns">Payment Metod</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-payment-status"
							aria-controls="productMixReportTable" 
							aria-label="Payment Status: Activate to sort by ascending columns">Payment Status</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Commission Item: Activate to sort by ascending columns">Commission Item</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Product Description: Activate to sort by ascending columns">Product Description</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Serial#: Activate to sort by ascending columns">Serial #</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-mobile"
							aria-controls="productMixReportTable" 
							aria-label="Mobile Number: Activate to sort by ascending columns">Mobile Number</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-contract-type"
							aria-controls="productMixReportTable" 
							aria-label="Contract Type: Activate to sort by ascending columns">Contract Type</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-sppo-name"
							aria-controls="productMixReportTable" 
							aria-label="SP/PO Name: Activate to sort by ascending columns">SP/PO Name</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="SP/PO Code: Activate to sort by ascending columns">SP/PO Code</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="MRC: Activate to sort by ascending columns">MRC</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-service-date"
							aria-controls="productMixReportTable" 
							aria-label="Service Date: Activate to sort by ascending columns">Service Date</th>
						<th class="sorting" 
							tabindex="0" 
							data-table-report="col-trans-date"
							aria-controls="productMixReportTable" 
							aria-label="Transaction Date: Activate to sort by ascending columns">Transaction Date</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Carrier: Activate to sort by ascending columns">Carrier</th>
						<th class="sorting_asc"
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Employee: Activate to sort by descending columns" 
							aria-sort="ascending">Employee</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Customer: Activate to sort by ascending columns">Customer</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="BAN: Activate to sort by ascending columns">BAN</th>
						<th class="sorting" 
							tabindex="0" 
							aria-controls="productMixReportTable" 
							aria-label="Subscriber ID: Activate to sort by ascending columns">Subscriber ID</th>
					</tr>
				</thead>
				{% set payments = [
					{
						store: '6408 Pacific Ave',
						register: '1',
						person: 'alfaro, Marylene',
						commission: 'SP',
						serviceDate: '11/1/2017',
						productDesc: 'Customer Phone',
						serial: '&nbsp;',
						transType: 'Sale',
						transID: '3210',
						transDate: '11/1/17 16:27',
						customer: 'Roberto Flores',
						mobile: '3235780912',
						carrier: 'Net 10',
						contractType: 'Activation',
						sppoName: 'Net10 $35 Unlimited / 30 Days',
						sppoCode: 'NTNS2U035ID',
						mrc: '$35.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Cash',
						paymentStatus: 'Completed'
					},
					{
						store: '6408 Pacific Ave',
						register: '1',
						person: 'Tello, Janettzy',
						commission: 'SP',
						serviceDate: '11/2/2017',
						productDesc: 'Customer Phone',
						serial: '&nbsp;',
						transType: 'Sale',
						transID: '3213',
						transDate: '11/2/17 11:04',
						customer: 'Juan Castillo',
						mobile: '3233602247',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'Simple Mobile $50 Unlimited Talk, Text & Data (Truly Unlimited Data at 4G LTE speed)',
						sppoCode: 'SMNS40050ILDID',
						mrc: '$50.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Credit Card',
						paymentStatus: 'Completed'
					},
					{
						store: '6408 Pacific Ave',
						register: '2',
						person: 'Tello, Janettzy',
						commission: 'SP',
						serviceDate: '11/3/2017',
						productDesc: 'Tracfone LG Flip Phone',
						serial: '014651007797347',
						transType: 'Sale',
						transID: '3227',
						transDate: '11/3/17 11:15',
						customer: 'Sara Corronadl',
						mobile: '&nbsp;',
						carrier: 'Tracfone',
						contractType: 'Activation',
						sppoName: 'Tracfone (Activation) - $19.99 (60min / 90day)',
						sppoCode: 'TFRTR40060',
						mrc: '$19.99',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Debit Card',
						paymentStatus: 'Voided'
					},
					{
						store: '6408 Pacific Ave',
						register: '1',
						person: 'Benigno, Oscar',
						commission: 'SP',
						serviceDate: '11/7/2017',
						productDesc: 'Customer Phone',
						serial: '35278508016657',
						transType: 'Sale',
						transID: '3260',
						transDate: '11/7/17 12:06',
						customer: 'Francisco Sandoval',
						mobile: '4243499079',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'Simple Mobile $40 Unlimited talk and text & ILD / 4GB  / 30 Days',
						sppoCode: 'SMNS40040ILDID',
						mrc: '$40.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'External Payment',
						paymentStatus: 'All'
					},
					{
						store: '6408 Pacific Ave',
						register: '4',
						person: 'alfaro, Marylene',
						commission: 'SP',
						serviceDate: '11/7/2017',
						productDesc: 'Customer Phone',
						serial: '&nbsp;',
						transType: 'Sale',
						transID: '3269',
						transDate: '11/7/17 17:25',
						customer: 'Manuel Jimenez',
						mobile: '3237046430',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'SM (RTR) - $25 UNL TnT +ILD / 30day',
						sppoCode: '&nbsp;',
						mrc: '$25.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Split',
						paymentStatus: 'Voided'
					},
					{
						store: '6408 Pacific Ave',
						register: '2',
						person: 'Tello, Janettzy',
						commission: 'SP',
						serviceDate: '11/9/17',
						productDesc: 'Att Go Phone Unlocked GSM Flip Phone',
						serial: '354104086084540',
						transType: 'Sale',
						transID: '3276',
						transDate: '11/9/17 10:27',
						customer: 'Jose Soto',
						mobile: '3233623798',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'Simple Mobile $25 Unlimited Talk, Text, 1GB Data',
						sppoCode: 'SMNS40025ILDID',
						mrc: '$25.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'EBT',
						paymentStatus: 'Completed'
					},
					{
						store: '6408 Pacific Ave',
						register: '2',
						person: 'Tello, Janettzy',
						commission: 'SP',
						serviceDate: '11/11/17',
						productDesc: 'Customer Phone',
						serial: '&nbsp;',
						transType: 'Sale',
						transID: '3287',
						transDate: '11/11/17 10:38',
						customer: 'Mariah Wells',
						mobile: '3233540306',
						carrier: 'GoSmart',
						contractType: 'Activation',
						sppoName: 'GoSmart (RTR) $35 - UNL TnT 4GB 3G DATA',
						sppoCode: 'GSRTRU0035',
						mrc: '$35.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Debit Card',
						paymentStatus: 'Completed'
					},
					{
						store: '6408 Pacific Ave',
						register: 'alfaro, Marylene',
						person: '1',
						commission: 'SP',
						serviceDate: '11/11/17',
						productDesc: 'Simple Mobile Rose Gold iPhone SE',
						serial: '358633071736512',
						transType: 'Sale',
						transID: '3288',
						transDate: '11/11/17 12:27',
						customer: 'Oscar Benigno',
						mobile: '3233606618',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'SM (RTR) - $40 UNL TnT +ILD 4GB / 30day',
						sppoCode: 'SMNRTR20040',
						mrc: '$40.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Credit Card',
						paymentStatus: 'Voided'
					},
					{
						store: '6408 Pacific Ave',
						register: '2',
						person: 'Tello, Janettzy',
						commission: 'SP',
						serviceDate: '11/11/17',
						productDesc: 'Simple Mobile Space Gray iPhone SE',
						serial: '353791081834910',
						transType: 'Sale',
						transID: '3290',
						transDate: '11/11/17 14:44',
						customer: 'Oscar Benigno',
						mobile: '4247577739',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'Simple Mobile $40 Unlimited talk and text & ILD / 4GB  / 30 Days',
						sppoCode: 'SMNS40040ILDID',
						mrc: '$40.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'Cash',
						paymentStatus: 'All'
					},
					{
						store: '6408 Pacific Ave',
						register: '1',
						person: 'alfaro, Marylene',
						commission: 'SP',
						serviceDate: '11/12/17',
						productDesc: 'Customer Phone',
						serial: '&nbsp;',
						transType: 'Sale',
						transID: '3295',
						transDate: '11/12/17 11:16',
						customer: 'Jose Renteria',
						mobile: '3235484637',
						carrier: 'Simple Mobile',
						contractType: 'Activation',
						sppoName: 'SM (RTR) - $25 UNL TnT +ILD / 30day',
						sppoCode: '&nbsp;',
						mrc: '$25.00',
						ban: '&nbsp;',
						subscriberID: '&nbsp;',
						paymentMethod: 'External Payment',
						paymentStatus: 'Voided'
					}
				] %}	
				<tbody>
					{% for item in payments %}
						<tr>
							<td class="break-word">{{item.store | safe}}</td>
							<td class="break-word" data-table-report="col-register">{{item.register}}</td>
							<td class="break-word" data-table-report="col-trans-type">{{item.transType | safe}}</td>
							<td class="break-word" data-table-report="col-trans-id">{{item.transID | safe}}</td>
							<td class="break-word" data-table-report="col-payment-method">{{item.paymentMethod | safe}}</td>
							<td class="break-word" data-table-report="col-payment-status">{{item.paymentStatus | safe}}</td>
							<td class="break-word">{{item.commission | safe}}</td>
							<td class="break-word">{{item.productDesc | safe}}</td>
							<td class="break-word">{{item.serial | safe}}</td>
							<td class="break-word" data-table-report="col-mobile">{{item.mobile | safe}}</td>
							<td class="break-word" data-table-report="col-contract-type">{{item.contractType | safe}}</td>
							<td class="break-word" data-table-report="col-sppo-name">{{item.sppoName | safe}}</td>
							<td class="break-word">{{item.sppoCode}}</td>
							<td class="break-word">{{item.mrc | safe}}</td>
							<td class="break-word" data-table-report="col-service-date">{{item.serviceDate | safe}}</td>
							<td class="break-word" data-table-report="col-trans-date">{{item.transDate | safe}}</td>
							<td class="break-word">{{item.carrier | safe}}</td>
							<td class="break-word">{{item.person | safe}}</td>
							<td class="break-word">{{item.customer | safe}}</td>
							<td class="break-word">{{item.ban | safe}}</td>
							<td class="break-word">{{item.subscriberID | safe}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="dataTables_paginate paging_simple_numbers" id="productMixReportTable_paginate">
				<a class="paginate_button previous disabled" aria-controls="productMixReportTable" data-dt-idx="0" tabindex="0" id="productMixReportTable_previous">Previous</a>
				<span>
					<a class="paginate_button current" aria-controls="productMixReportTable" data-dt-idx="1" tabindex="0">1</a>
					<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="2" tabindex="0">2</a>
					<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="3" tabindex="0">3</a>
					<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="4" tabindex="0">4</a>
					<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="5" tabindex="0">5</a>
					<span class="ellipsis">…</span>
					<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="6" tabindex="0">554</a>
				</span>
				<a class="paginate_button next" aria-controls="productMixReportTable" data-dt-idx="7" tabindex="0" id="productMixReportTable_next">Next</a>
			</div>
		</div>
	</div>
{% endblock %}