---
title: Edit Convenience Fee
headerTitle: Edit Convenience Fee
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<span class="help-popup-icon" data-bind="visible: showHelpPopupButton(), click: showHelpPopup"></span>
	<div class="pane-body convenience-fee">
		<div class="form wide-form-simple">
			<!--ko compose: { model: $root.langs }-->
			<div class="language-selector">
				<a class="selected">English</a>
				<a class="">Français</a>
				<a class="">Русский</a>
			</div>
			<!--/ko-->

			<div id="taxSaveMessages"></div>
		  
			<div class="form-group no-overflow row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group ">
						<label>Convenience Fee Name <span class="color-red">*</span></label>
						<input class="form-control input-lg tax-name" type="text" placeholder="Convenience Fee Name" maxlength="100">
						<span class="fieldError" style="display: none;"></span>
					</div>
				</div>
			</div>

			<div class="form-group no-overflow row">

				<div class="col-xs-5 col-md-5">
					<div class="form-group no-overflow position-relative">
						<label>Convenience Fee Rate <span class="color-red">*</span></label>
						<div class="field-group">
							<div class="field-group__switcher">
								<label class="awesome-switcher">
									<input type="checkbox" checked onchange="convenienceSwitch(event)">
									<span class="awesome-switcher__content">
										<span class="awesome-switcher__left">$</span>
										<span class="awesome-switcher__control"></span>
										<span class="awesome-switcher__right">%</span>
									</span>
								</label>
							</div>
							<input class="field-group__input form-control input-lg" type="text" value="0.00" maxlength="100">
						</div>
						<span class="fieldError" style="display: none;"></span>
					</div>
				</div>

				<div class="col-xs-2 col-md-2" style="padding-top: 26px;">
					<div class="checkbox js-convenience-checkbox">
						<input type="checkbox" id="inclide-taxes" checked>
						<label for="inclide-taxes">Charge from Taxes</label>
					</div>
				</div>
			</div>

			<script>
				function convenienceSwitch(e) {
					var $checkbox = $('.js-convenience-checkbox');
					
					if ($(e.target).prop('checked')) $checkbox.show();
					else $checkbox
							.hide()
							.find('input')
							.prop('checked', false);
				}
			</script>

			<div class="checkbox" initializedcheckbox="true">
				<input type="checkbox" id="isActiveTax" checked>
				<label for="isActiveTax">Is Active</label>
			</div>
			<label></label>
			<div class="form-buttons">
				<input data-fat="fat-global-done-button" class="btn btn-lg btn-primary" type="button" value="Done">
				<input class="btn btn-lg btn-default" type="button" value="Cancel">
			</div>
		</div>
	</div>
{% endblock %}