---
title: Customer List
headerTitle: Customer List
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body employees">
		<div id="messages"></div>
		<div style="min-width: 1400px; padding-right: 50px;">
			<input class="form-control input-lg pull-left datatable-search" type="text" placeholder="Search for customer">
			<div style="float:left; padding: 0 20px;">
				<label style="margin-right: 10px;">Type:</label>
				<select style="display: inline-block;">
					<option value="All">All</option>
					<option value="Personal">Personal</option>
					<option value="Business">Business</option>
				</select>
			</div>

			<div class="btn-toolbar pull-right">
				<div class="report-export-wrapper pull-left">
					<a href="api/Products/ExportProductList" target="_blank" class="btn-report-export" data-bind="click: exportProducts, local: 'shell.exportReport'">Export</a>
					<i class="fa fa-file-excel-o" aria-hidden="true" data-bind="click: exportProducts"></i>
				</div>
				<div class="btn-group">
					<button class="btn btn-lg btn-red" type="button" disabled="">Delete</button>
				</div>
				<div class="btn-group btn-group-lg" style="margin-left: 5px;">
					<input class="btn btn-lg btn-primary" type="button" value="Import">
				</div>
				<div class="btn-group btn-group-lg" style="margin-left: 5px;">
					<script>
						function toggleDD(e) {
							var target = e.currentTarget;
							var state = !JSON.parse(''+target.getAttribute('aria-expanded'))
							target.setAttribute('aria-expanded', state);
						}
					</script>
					<button class="btn btn-primary btn_dropdown" type="button" data-toggle="dropdown" aria-expanded="false" onclick="toggleDD(event)">
						<span>New Customer</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">New Personal</a></li>
						<li><a href="#">New Businnes</a></li>
					</ul>
				</div>
			</div>

			<br class="clear">
		</div>

		<div id="employeesTable_wrapper" class="dataTables_wrapper no-footer">
			<div id="employeesTable_filter" class="dataTables_filter">
				<label>Search:<input type="search" class="" placeholder="" aria-controls="employeesTable"></label>
			</div>
			<div id="employeesTable_processing" class="dataTables_processing" style="display: none;">Processing...</div>
			<table class="datatable selectablelist dataTable no-footer" id="customerListTable" role="grid">
				<thead>
					<tr role="row">
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="">
							<div class="checkbox">
								<input type="checkbox" id="itemsSelectAll" data-bind="checked: selectAll">
								<label for="itemsSelectAll"></label>
							</div>
						</th>
						<th class="sorting" tabindex="0" aria-controls="customerListTable" aria-label="First Name: Activate to sort by ascending columns">First Name</th>
						<th class="sorting_asc" tabindex="0" aria-controls="customerListTable" aria-label="Last Name: Activate to sort by descending columns" aria-sort="ascending">Last Name</th>
						<th class="sorting" tabindex="0" aria-controls="customerListTable" aria-label="Email: Activate to sort by ascending columns">Email</th>
						<th class="sorting" tabindex="0" aria-controls="customerListTable" aria-label="Phone: Activate to sort by ascending columns">Phone</th>
						<th class="sorting" tabindex="0" aria-controls="customerListTable" aria-label="Type: Activate to sort by ascending columns">Type</th>
					</tr>
				</thead>
				<tbody>
					{% for item in [
						{
							firstName: 'Ivan',
							lastName: 'Sidorov',
							email: 'ivansidorov@mail.ru',
							phone: '0123456789',
							type: 'Personal'
						},
						{
							firstName: 'Petya',
							lastName: 'Vasechkin',
							email: 'petyavasechkin@mail.ru',
							phone: '0123456789',
							type: 'Business'
						}
					] %}
						<tr class="editable {% if loop.index0 % 2 == 0 %}odd{% else %}even{% endif %}">
							<td>
								<div class="checkbox"><input type="checkbox" data-bind="checked: selected, attr: {id: product.id }" id="ba1e4fae099440eab186f3d47efbdd8e"><label data-bind="attr: {for: product.id }, click: selectItem" for="ba1e4fae099440eab186f3d47efbdd8e"></label></div>
							</td>
							<td>{{item.firstName}}</td>
							<td>{{item.lastName}}</td>
							<td>{{item.email}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.type}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{# <div class="dataTables_paginate paging_simple_numbers" id="employeesTable_paginate">
				<a class="paginate_button previous disabled" aria-controls="customerListTable" data-dt-idx="0" tabindex="0" id="employeesTable_previous">Previous</a>
				<span>
					<a class="paginate_button current" aria-controls="customerListTable" data-dt-idx="1" tabindex="0">1</a>
					<a class="paginate_button " aria-controls="customerListTable" data-dt-idx="2" tabindex="0">2</a>
					<a class="paginate_button " aria-controls="customerListTable" data-dt-idx="3" tabindex="0">3</a>
					<a class="paginate_button " aria-controls="customerListTable" data-dt-idx="4" tabindex="0">4</a>
					<a class="paginate_button " aria-controls="customerListTable" data-dt-idx="5" tabindex="0">5</a>
					<span class="ellipsis">…</span>
					<a class="paginate_button " aria-controls="customerListTable" data-dt-idx="6" tabindex="0">15</a>
				</span>
				<a class="paginate_button next" aria-controls="customerListTable" data-dt-idx="7" tabindex="0" id="employeesTable_next">Next</a>
			</div> #}
		</div>
	</div>
{% endblock %}