---
title: Denomination App Settings
headerTitle: Denomination App Settings
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div id="app-settings">
		<div class="v-denomination">
			<div class="alert alert-dismissible fade in alert-success" role="alert">
				<button class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<strong>Success!</strong> Saved successfully.
			</div>
			<div class="v-denomination__section">
				<div class="v-denomination__title">Company settings</div>
				<div class="v-denomination__container">
					<div class="v-denomination__row">
						<div class="v-denomination__label">Denomination count</div>
						<div class="v-denomination__control">
							<label class="awesome-switcher">
								<input type="checkbox" checked>
								<span class="awesome-switcher__content">
									<span class="awesome-switcher__left">Off</span>
									<span class="awesome-switcher__control"></span>
									<span class="awesome-switcher__right">On</span>
								</span>
							</label>
						</div>
					</div>
					{#<div class="v-denomination__row">
						<div class="v-denomination__label">Required denomination</div>
						<div class="v-denomination__control">
							<label class="new-checkbox">
								<input type="checkbox" checked>
								<span class="new-checkbox__icon"></span>
							</label>
						</div>
					</div>#}
				</div>
			</div>
			{#<div class="v-denomination__section">
				<div class="v-denomination__title">Store settings</div>
				<div class="v-denomination__container">
					<table class="datatable dataTable v-denomination__table" role="grid">
						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="productMixReportTable" aria-label="Required denomination: Activate to sort by descending columns" aria-sort="ascending" style="width: 200px;">
									<label class="new-checkbox" style="display: inline-block; vertical-align: middle;">
										<input type="checkbox">
										<span class="new-checkbox__icon"></span>
									</label>
									<span style="display: inline-block; vertical-align: middle; padding-left: 10px; width: 120px;">Required denomination</span>
								</th>
								<th class="sorting" tabindex="0" aria-controls="productMixReportTable" aria-label="Store: Activate to sort by ascending columns">Store</th>
							</tr>
						</thead>
						<tbody>
							{% for item in [
								{ checked: true },
								{ checked: false },
								{ checked: true },
								{ checked: true }
							] %}
								<tr>
									<td>
										<label class="new-checkbox">
											<input type="checkbox" {% if item.checked %}checked{% endif %}>
											<span class="new-checkbox__icon"></span>
										</label>
									</td>
									<td>Store {{loop.index}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>#}
			<div class="v-denomination__section">
				<div class="v-denomination__title">Cash declarations</div>
				<div class="v-denomination__container">
					<div class="v-denomination__tables">
						<div class="v-denomination__tables-row">
							<div class="v-denomination__tables-col js-wrap">
								<div class="v-denomination__subtitle">Bills</div>
								<table class="datatable dataTable v-denomination__table" role="grid">
									<thead>
										<tr role="row">
											{#<th class="sorting_desc" tabindex="0" aria-controls="productMixReportTable" aria-label="Type: Activate to sort by ascending columns">Type</th>#}
											<th class="sorting" tabindex="0" aria-controls="productMixReportTable" aria-label="Amount: Activate to sort by descending columns" aria-sort="ascending">Amount</th>
											<th class="v-denomination__close"></th>
										</tr>
									</thead>
									<tbody class="js-body">
										{% for item in [
											{ type: 'Bill', amount: '100' },
											{ type: 'Bill', amount: '50' },
											{ type: 'Bill', amount: '20' },
											{ type: 'Bill', amount: '10' },
											{ type: 'Bill', amount: '5' },
											{ type: 'Bill', amount: '2' },
											{ type: 'Bill', amount: '1' }
										] %}
											<tr>
												{#<td>{{item.type}}</td>#}
												<td>{{item.amount}}</td>
												<td class="v-denomination__close"><button class="v-denomination__close-btn" onclick="deleteRow(event)"></button></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<div class="v-denomination__add">
									{#<select class="select v-denomination__select js-type">
										<option value="Bill">Bill</option>
										<option value="Coin">Coin</option>
									</select>#}
									<input class="tax-add-button v-denomination__add-btn" type="button" onclick="addLine(event, 'Bill')">
								</div>
							</div>
							<div class="v-denomination__tables-col js-wrap">
								<div class="v-denomination__subtitle">Coins</div>
								<table class="datatable dataTable v-denomination__table" role="grid">
									<thead>
										<tr role="row">
											{#<th class="sorting_desc" tabindex="0" aria-controls="productMixReportTable" aria-label="Type: Activate to sort by ascending columns">Type</th>#}
											<th class="sorting" tabindex="0" aria-controls="productMixReportTable" aria-label="Amount: Activate to sort by descending columns" aria-sort="ascending">Amount</th>
											<th class="v-denomination__close"></th>
										</tr>
									</thead>
									<tbody class="js-body">
										{% for item in [
											{ type: 'Coin', amount: '0.50' },
											{ type: 'Coin', amount: '0.25' },
											{ type: 'Coin', amount: '0.10' },
											{ type: 'Coin', amount: '0.01' }
										] %}
											<tr>
												{#<td>{{item.type}}</td>#}
												<td>{{item.amount}}</td>
												<td class="v-denomination__close"><button class="v-denomination__close-btn" onclick="deleteRow(event)"></button></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<div class="v-denomination__add">
									{#<select class="select v-denomination__select js-type">
										<option value="Bill">Bill</option>
										<option value="Coin">Coin</option>
									</select>#}
									<input class="tax-add-button v-denomination__add-btn" type="button" onclick="addLine(event, 'Coin')">
								</div>
							</div>
						</div>
					</div>

					<script>
						function addLine(e, type) {
							var template = `<tr>
								<td><input type="text" class="form-control input-sm" /></td>
								<td class="v-denomination__close"><button class="v-denomination__close-btn" onclick="deleteRow(event)"></button></td>
							</tr>`;

							$(e.target)
								.closest('.js-wrap')
								.find('.js-body')
								.append(template);
						}

						function deleteRow(e) {
							$(e.target)
								.closest('tr')
								.remove();
						}
					</script>
				</div>
			</div>
			<div class="v-denomination__footer">
				<div class="form-buttons"> 
					<input data-fat="fat-global-done-button" class="btn btn-lg btn-primary" type="button" value="Done"> 
					<input class="btn btn-lg btn-default" type="button" value="Cancel"> 
				</div>
			</div>
		</div>
	</div>
{% endblock %}