<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pages</title>
</head>
<body>
	{% set pages = [
		'modifiers',
		'modifiers-ingredient',
		'modifiers-successfully',
		'modifiers-empty',
		'modifiers-add-ingredients',
		'modifiers-add-to-products-first',
		'modifiers-add-to-products-second',
		'report-modifier-report',
		'report-ingredients-report',
		'ingredients',
		'ingredients-ordering',
		'ingredients-vendors',
		'ingredients-new-vendor',
		'ingredients-successfully',
		'ingredients-empty',
		'product',
		'product-modifiers',
		'product-modifiers-ingredients',
		'product-create-modifier',
		'product-copy-modifier',
		'product-ingredients',
		'product-create-ingredients',
		'product-add-ingredients'
	] %}
	<ul style="font-size: 18px;">
		{% for page in pages %}
			<li>
				<a href="{{page}}.html" style="display: block; color: blue; text-decoration: none;" target="_blank">{{page}}</a>
			</li>
		{% endfor %}
	</ul>
</body>
</html>