<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pages</title>
</head>
<body>
	{% set pages = [
		'modifiers',
		'modifiers-one-item',
		'modifiers-ingredient',
		'modifiers-successfully',
		'modifiers-empty',
		'modifiers-add-ingredients',
		'modifiers-add-ingredients-empty',
		'modifiers-create-ingredient',
		'modifiers-add-to-products-first',
		'modifiers-add-to-products-second',
		'report-modifier-report',
		'report-ingredients-report',
		'ingredients',
		'ingredients-ordering',
		'ingredients-vendors',
		'ingredients-new-vendor',
		'ingredients-successfully',
		'ingredients-empty',
		'ingredients-add-to-product',
		'product',
		'product-modifiers',
		'product-modifiers-empty',
		'product-modifiers-ingredients',
		'product-create-modifier',
		'product-copy-modifier',
		'product-copy-modifier-empty',
		'product-ingredients',
		'product-create-ingredients',
		'product-add-ingredients',
		'product-add-ingredients-empty',
		'store-transfer',
		'po-receiving',
		'inventory-adjustment',
		'employee',
		'app-element',
		'reports',
		'reports-menu',
		'login',
		'app',
		'app-one-category',
		'products',
		'store-settings-in',
		'store-settings-taxes',

		'convenience-fee-manager',
		'convenience-fee-store-settings',
		'convenience-fee-report',

		'cash-discount-edit',

		'bill-payment-report',
		'activation-report',
		'service-fee-manager',
		'service-fee-edit',
		'service-fee-store-settings',
		'service-fee-report',
		'service-fee-app',

		'departments',
		'departments-edit',

		'categories',
		'categories-edit',
		'categories-edit-2',

		'surcharge-edit',

		'merchant-fee-manager',
		'merchant-fee-app',
		'merchant-fee-store-settings',
		'merchant-fee-report',

		'customer-list',
		'orders',
		'order-exchange',
		'geo-fencing-changes-beacon',
		'geo-fencing-changes-beacon-blank',

		'welcome',
		'welcome-v2',
		'popup-steps-v2',

		'welcome-guide',
		'welcome-guide-v3',

		'dashboard',
		'dashboard-upgrade-error',

		'product-mix-report',

		'time-clock',

		'welcome-guide-v3-error',

		'new-register',
		'new-store'
	] %}

	<ul style="font-size: 18px;">
		{% for page in pages %}
			<li>
				<a href="{{page}}.html" style="display: block; color: blue; text-decoration: none;" target="_blank">{{page}}</a>
			</li>
		{% endfor %}
	</ul>

	{#
		UOM/Stock unit
		- cheese slice - unit/box
		- pepper - unit/box
		- milk - l/pack
		- potatoes - kg/bag
		- strawberry - kg/box
		- tomatoes - kg/case
		- cream - unit/box
		- rice - kg/pack
		- pasta - kg/pack
		- egg - unit/tray
	#}
</body>
</html>