<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pages</title>
</head>
<body>
	{% set pages = [
		'modifiers',
		'modifiers-one-item',
		'modifiers-ingredient',
		'modifiers-successfully',
		'modifiers-empty',
		'modifiers-add-ingredients',
		'modifiers-add-ingredients-empty',
		'modifiers-create-ingredient',
		'modifiers-add-to-products-first',
		'modifiers-add-to-products-second',
		'report-modifier-report',
		'report-ingredients-report',
		'ingredients',
		'ingredients-ordering',
		'ingredients-vendors',
		'ingredients-new-vendor',
		'ingredients-successfully',
		'ingredients-empty',
		'ingredients-add-to-product',
		'product',
		'product-modifiers',
		'product-modifiers-empty',
		'product-modifiers-ingredients',
		'product-create-modifier',
		'product-copy-modifier',
		'product-copy-modifier-empty',
		'product-ingredients',
		'product-create-ingredients',
		'product-add-ingredients',
		'product-add-ingredients-empty',
		'store-transfer',
		'po-receiving',
		'inventory-adjustment',
		'employee',
		'app-element',
		'reports',
		'reports-menu',
		'login',
		'app',
		'app-one-category',
		'products',
		'store-settings-in',
		'store-settings-taxes',
		'store-settings-convenience-fee',
		'convenience-fee',
		'edit-convenience-fee',
		'convenience-fee-report',
		'payment-report',
		'activation-report',
		'service-fee',
		'edit-service-fee',
		'store-settings-service-fee',
		'service-fee-report'
	] %}
	<ul style="font-size: 18px;">
		{% for page in pages %}
			<li>
				<a href="{{page}}.html" style="display: block; color: blue; text-decoration: none;" target="_blank">{{page}}</a>
			</li>
		{% endfor %}
	</ul>

	{#
		UOM/Stock unit
		- cheese slice - unit/box
		- pepper - unit/box
		- milk - l/pack
		- potatoes - kg/bag
		- strawberry - kg/box
		- tomatoes - kg/case
		- cream - unit/box
		- rice - kg/pack
		- pasta - kg/pack
		- egg - unit/tray
	#}
</body>
</html>