---
title: Ingredients
headerTitle: Ingredients
paneBodyWrapperClassList: 'n-modifiers'
sidebarDisabled: 'is-disabled'
iHeader: [
	{
		title: 'Edit ingredient',
		classList: 'is-open'
	}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-ingredients.html' %}
		</div>
		<div class="pane pane-right">
			{% include 'partials/components/_ingredients.html' %}
		</div>
	</div>
{% endblock %}
