---
title: Ingredients Empty
headerTitle: Ingredients
paneBodyWrapperClassList: 'n-modifiers'
sidebarEmpty: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-ingredients.html' %}
		</div>
		<div class="pane pane-right">
			<div class="n-vertical-center">
				{{mixins.empty({
					classList: 'n-vertical-center__content',
					text: 'No ingredient is selected',
					icon: true
				})}}
			</div>
		</div>
	</div>
{% endblock %}
