---
title: Ingredients
headerTitle: Ingredients
paneBodyWrapperClassList: 'n-modifiers'
sidebarDisabled: 'is-disabled'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-ingredients.html' %}
		</div>
		<div class="pane pane-right">
			<div class="n-section n-section_step">
				<div class="n-section__body">
					<!-- begin tabs buttons -->
					<div class="tab-control n-section__tabs">
						<span class="tab selected" data-for="#generalTab">
							<span class="tab-title">General</span>
							<span class="tab-selected-arrow"></span>
						</span>
						<span class="tab" data-for="#vendors">
							<span class="tab-title">Vendors</span>
							<span class="tab-selected-arrow"></span>
						</span>
						<span class="tab" data-for="#ordering">
							<span class="tab-title">Ordering</span>
							<span class="tab-selected-arrow"></span>
						</span>
					</div>
					<!-- end tabs buttons -->
					<div class="n-section__container">
						<div class="language-selector"> 
							<a class="selected">English</a> 
							<a>Ukrainian</a> 
							<a>Russian</a> 
						</div>
						<div class="i-fields">
							<div class="i-fields__col i-fields__col_lg">
								<label class="n-label n-label_title">Ingredient name <span class="color-red">*</span></label>
								<input type="text" class="form-control input-lg" />
							</div>
							<div class="i-fields__col i-fields__col_sm">
								<label class="n-label n-label_title">UPC</label>
								<input type="text" class="form-control input-lg" />
							</div>
						</div>
						<div class="i-fields">
							<div class="i-fields__col i-fields__col_sm">
								<label class="n-label n-label_title">UOM <span class="color-red">*</span></label>
								<select>
									<option value="">All</option>
									<option value="cd29975bc97d42ac86e33497f596699f">!AutomationDepartment</option>
									<option value="6a897da2a2af4104935bee96446de938">1122h</option>
									<option value="0e3da3ac80b249749cd9a6f821c48948">Active</option>
									<option value="4067850f2c43408eab83091fb5df0f13">ads</option>
									<option value="28d7949af98b4f9f9ad5216d4660bf4f">Alcohol</option>
								</select>
							</div>
							<div class="i-fields__col i-fields__col_sm">
								<label class="n-label n-label_title">Convertion number</label>
								<input type="text" class="form-control input-lg" />
							</div>
							<div class="i-fields__col i-fields__col_sm">
								<label class="n-label n-label_title">Stock Unit</label>
								<input type="text" class="form-control input-lg" />
								<label class="n-label">eg: pack, box</label>
							</div>
						</div>
						<div class="i-fields">
							<div class="i-fields__col">
								{{form.checkbox.call({
									attrs: 'checked',
									text: 'is Active'
								})}}
							</div>
						</div>
					</div>
				</div>
				<div class="n-section__footer">
					<div class="form-buttons"> 
						<input data-fat="fat-global-done-button" class="btn btn-lg btn-primary" type="button" value="Done"> 
						<input class="btn btn-lg btn-default" type="button" value="Cancel"> 
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
