---
title: Ingredients Empty
headerTitle: Ingredients
paneBodyWrapperClassList: 'n-modifiers'
sidebarEmpty: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-ingredients.html' %}
		</div>
		<div class="pane pane-right">
			<div class="n-vertical-center">
				<!-- begin n-empty -->
				<div class="n-empty n-vertical-center__content">
					<div class="n-empty__title">No ingredient is selected</div>
				</div>
				<!-- end n-empty -->
			</div>
		</div>
	</div>
{% endblock %}
