---
title: Inventory Adjustment
headerTitle: Inventory Adjustment
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body store-transfer">
		{% set tabsCollection = 'inventory-adjustment' %}
		{% set tabs = [
			{
				active: 'is-active',
				open: 'is-open',
				name: 'inventory-adjustment-products',
				btn: 'Products',
				content: 'partials/inventory-adjustment/_products.html'
			},
			{
				name: 'inventory-adjustment-ingredients',
				btn: 'Ingredients',
				content: 'partials/inventory-adjustment/_ingredients.html'
			}
		] %}
		{% include 'partials/components/_tabs.html' %}
	</div>
{% endblock %}