---
title: Modifiers Add To Products
headerTitle: Modifiers
paneBodyWrapperClassList: 'n-modifiers'
sidebarDisabled: 'is-disabled'
sidebarActionsActive: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-modifiers.html' %}
		</div>
		<div class="pane pane-right">
			<div class="n-module n-module_simple is-open">
				<div class="n-module__container">
					<div class="n-module__header">
						<div class="n-module__title">Select "Toppings" modifiers for adding to products</div>
					</div>
					<div class="n-module__body">
						{% set items = {
							rows: [
								{ title: 'Cheese' },
								{ title: 'Salami' },
								{ title: 'Chicken' },
								{ title: 'Bacon' },
								{ title: 'Pepper' },
								{ title: 'Tomatoes' },
								{ title: 'Corn' }
							]
						} %}
						<div class="n-items">
							<div class="n-items__head">
								<div class="n-items__checkbox">
									<div class="checkbox">
										<input type="checkbox" id="all-ingredients">
										<label for="all-ingredients"></label>
									</div>
								</div>
								<div class="n-items__table">
									<div class="n-items__tr">
										<div class="n-items__col">Modifier Name</div>
									</div>
								</div>
							</div>
							<div class="n-items__body">
								{% for item in items.rows %}
									<div class="n-items__row">
										<div class="n-items__checkbox">
											<div class="checkbox">
												<input type="checkbox" id="ingredient-{{active + loop.index}}">
												<label for="ingredient-{{active + loop.index}}"></label>
											</div>
										</div>
										<div class="n-items__table">
											<div class="n-items__tr">
												<div class="n-items__col">{{item.title}}</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							<div class="n-items__footer">
								<input class="btn btn-lg btn-primary n-items__btn" type="button" value="Next">
								<input class="btn btn-lg btn-default n-items__btn" type="button" value="Cancel">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
