---
title: Modifiers Add Ingredient
headerTitle: Modifiers
paneBodyWrapperClassList: 'n-modifiers'
createIngredient: 'is-open'
sidebarDisabled: 'is-disabled'
sidebarActionsActive: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-modifiers.html' %}
		</div>
		<div class="pane pane-right">
			{% include 'partials/components/_create-new-ingredient.html' %}
		</div>
	</div>
{% endblock %}
