---
title: Modifiers Ingredient
headerTitle: Modifiers
paneBodyWrapperClassList: 'n-modifiers'
modifiersIngredients: true
sidebarDisabled: 'is-disabled'
sidebarActionsActive: 1
ingredientsCancelButtonAttrs: 'data-modal-close="create-ingredients"'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			{% include 'partials/components/_sidebar-modifiers.html' %}
		</div>
		<div class="pane pane-right">
			{% include 'partials/components/_modifiers.html' %}
			{% include 'partials/components/_add-ingredients.html' %}
			{% include 'partials/components/_create-new-ingredient.html' %}
		</div>
	</div>
{% endblock %}
