---
title: Modifiers Successfully
headerTitle: Modifiers
paneBodyWrapperClassList: 'n-modifiers'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			<div class="n-pane__inner">

				{% include 'partials/components/_n-search.html' %}

				{% set list = [
					{ title: 'Toppings' },
					{ title: 'Sizes' },
					{ title: 'Icecream Flafors' }
				] %}

				<!-- begin n-list -->
				<ul class="list n-list">
					{% for item in list %}
						<li class="item n-item {{item.active}}">
							<button class="n-close n-item__close"><i class="fa fa-close"></i></button>
							<ul class="n-item__actions">
								<li class="n-item__action"><a href="#" class="n-item__link">Edit</a></li>
								<li class="n-item__action"><a href="#" class="n-item__link">Copy</a></li>
								<li class="n-item__action"><a href="#" class="n-item__link">Add to products</a></li>
							</ul>
							<div class="n-item__title">{{item.title}}</div>
						</li>
					{% endfor %}
				</ul>
				<!-- end n-list -->

			</div>
		</div>
		<div class="pane pane-right">
			<div class="n-section">
				<div class="alert alert-dismissible fade in alert-success" role="alert">
					<button class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<strong>Success!</strong> Modifiers group "Toppings" is successfully created.
				</div>
			</div>
		</div>
	</div>
{% endblock %}
