---
title: Modifiers Add Ingredient
headerTitle: Modifiers
paneBodyWrapperClassList: 'n-modifiers'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			
			<!-- begin n-search -->
			<div class="n-search">
				<div class="n-search__aside">
					<a href="#" class="n-link n-search__link">New modifier</a>
				</div>
				<div class="n-search__field">
					<input type="text" class="form-control input-lg" placeholder="Search Modifiers" />
				</div>
			</div>
			<!-- end n-search -->

			{% set list = [
				{ title: 'Toppings', active: 'is-active' },
				{ title: 'Sizes' },
				{ title: 'Icecream Flafors' }
			] %}

			<!-- begin n-list -->
			<ul class="list n-list">
				{% for item in list %}
					<li class="item n-item {{item.active}}">
						<button class="n-close n-item__close"><i class="fa fa-close"></i></button>
						<ul class="n-item__actions">
							<li class="n-item__action"><a href="#" class="n-item__link">Edit</a></li>
							<li class="n-item__action"><a href="#" class="n-item__link">Copy</a></li>
							<li class="n-item__action"><a href="#" class="n-item__link">Add to products</a></li>
						</ul>
						<div class="n-item__title">{{item.title}}</div>
					</li>
				{% endfor %}
			</ul>
			<!-- end n-list -->

		</div>
		<div class="pane pane-right">
			<div class="n-module">
				<div class="n-module__header">
					<button class="n-back btn btn-lg btn-primary n-module__back">
						<i class="fa fa-arrow-left"></i>
						<span>Back</span>
					</button>
					<div class="n-module__title">Add ingredients to "Bun" option</div>

					<!-- begin n-search -->
					<div class="n-search n-module__search">
						<div class="n-search__field">
							<input type="text" class="form-control input-lg" placeholder="Search For Ingredient" />
						</div>
					</div>
					<!-- end n-search -->
				</div>
				<div class="n-module__body">
					{% set items = {
						columns: [ 'half', 'half' ],
						rows: [
							{ title: 'Onion', unit: 'Item (item)' },
							{ title: 'Potato', unit: 'Pound (lb)' },
							{ title: 'Cherry', unit: 'Kilogram (kg)' }
						]
					} %}
					<div class="n-items">
						<div class="n-items__head">
							<div class="n-items__checkbox">
								<div class="checkbox">
									<input type="checkbox" id="all-ingredients">
									<label for="all-ingredients"></label>
								</div>
							</div>
							<div class="n-items__col" data-column="{{items.columns[0]}}">Ingredient Name</div>
							<div class="n-items__col" data-column="{{items.columns[1]}}">Unit of measurement</div>
						</div>
						<div class="n-items__body">
							{% for item in range(0,5) %}
								{% for item in items.rows %}
									<div class="n-items__row">
										<div class="n-items__checkbox">
											<div class="checkbox">
												<input type="checkbox" id="ingredient-{{loop.index}}">
												<label for="ingredient-{{loop.index}}"></label>
											</div>
										</div>
										<div class="n-items__col" data-column="{{items.columns[0]}}">{{item.title}}</div>
										<div class="n-items__col" data-column="{{items.columns[1]}}">{{item.unit}}</div>
									</div>
								{% endfor %}
							{% endfor %}
						</div>
						<div class="n-items__footer">
							<input class="btn btn-lg btn-primary n-items__btn" type="button" value="Add">
							<input class="btn btn-lg btn-default n-items__btn" type="button" value="Cancel">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
