---
title: Modifiers Add Ingredient
headerTitle: Modifiers
paneBodyWrapperClassList: 'n-modifiers'
addIngredients: 'is-open'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-columns-layout">
		<div class="pane pane-left">
			<div class="n-pane__inner is-disabled">
				
				{% include 'partials/components/_n-search.html' %}

				{% set list = [
					{ title: 'Toppings', active: 'is-active' },
					{ title: 'Sizes' },
					{ title: 'Icecream Flafors' }
				] %}

				<!-- begin n-list -->
				<ul class="list n-list">
					{% for item in list %}
						<li class="item n-item {{item.active}}">
							<button class="n-close n-item__close"><i class="fa fa-close"></i></button>
							<ul class="n-item__actions">
								<li class="n-item__action"><a href="#" class="n-item__link {{item.active}}">Edit</a></li>
								<li class="n-item__action"><a href="#" class="n-item__link">Copy</a></li>
								<li class="n-item__action"><a href="#" class="n-item__link">Add to products</a></li>
							</ul>
							<div class="n-item__title">{{item.title}}</div>
						</li>
					{% endfor %}
				</ul>
				<!-- end n-list -->
			</div>
		</div>
		<div class="pane pane-right">
			{% include 'partials/components/_add-ingredients.html' %}
		</div>
	</div>
{% endblock %}
