---
title: New Register
headerTitle: New Register
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body item-list" data-bind="css: { loading: isLoading() }">

		<div class="form form_md" data-bind="visible: !isLoading()" style="">

			
			<div class="form__description">
				<p>To add a new register, please fill out the form and select the "Buy" button.</p>
			</div>
			<div class="form__section">
				{% include 'partials/components/_add-register.html' %}
			</div>

			<div class="form__item js-item">
				<div class="form__row">
					<div class="form__col">
						<div class="form-group">
							<label data-bind="local: 'registerSettings/registerSettingsManage.register_name'">Register Name</label>
							<input class="form-control input-lg" type="text" placeholder="Enter Register Name" data-bind="value: registerName, local: 'registerSettings/registerSettingsManage.input_name', localAttr: 'placeholder'" maxlength="100" value="Register 2" data-value="Register"><span class="fieldError" style="display: none;"></span>
						</div>
					</div>
					<div class="form__col">
						<div class="form-group select-parent-wide multi-select-single">
							<script>
								function toggleDropdown(e) {
									var target = $(e.target);
									var select = target.closest('multi-selector');
									var dropdown = select.find('.ms-drop');

									dropdown.toggle();
								}

								document.querySelector('body').addEventListener('click', function(e) {
									if (e.target.closest('.select')) return;
									Array
										.prototype
										.forEach
										.call(document.querySelectorAll('.ms-drop'), function(dropdown) {
											dropdown.style.display = 'none';
										});
								}, false);
							</script>
							<label for="new-register-store-name" data-bind="local: 'registerSettings/registerSettingsManage.store'">Store</label>
							<multi-selector params="options: $root.setupTaxAgencyMultiSelect($data)"><div class="ms-parent" data-bind="style: { width : options.width }, click : onSelectorClick" style="width: 100%;">
							    <button type="button" class="select" data-bind="enable: enabled, click: selectControlClick, validationElement: validationElement" onclick="toggleDropdown(event)">
							    <div class="fl">
							        <div>
							            <!-- ko if: options.filter -->
							            <input class="filter-text" type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" data-bind="enable: enabled, attr : { id: options.filterId, dataid: options.dataid, placeholder:  options.filter_text}, 
							                   textInput : selectorValueText " placeholder="Select a Store">
							            <!-- /ko -->
							            <!-- ko if: !options.filter --><!-- /ko -->
							        </div>
							        <div>
							            <div>
							            </div>
							        </div>
							    </div>
							    </button>
							    <input style="display:none" data-bind="value: validationElement" class=""><span class="fieldError" style="display: none;"></span>
							    <div class="ms-drop bottom" data-bind="css: msDropStyle(), style : { display : isOpen() ? 'block' : 'none'} " style="display: none;">
							    <ul data-bind="style:{ 'max-height' :  options.maxHeight } " style="max-height: 250px;">
							        <!-- ko if: options.selectAll &&  !options.single && filteredData.length > 0 --><!-- /ko -->

							        <!-- ko if: options.single -->
							        <!-- ko foreach: filteredData -->
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_5c4803249782499491a8ef585a3a3608" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_5c4803249782499491a8ef585a3a3608" value="5c4803249782499491a8ef585a3a3608">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_5c4803249782499491a8ef585a3a3608">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">111</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_d5ce17aac0614b968a54ec5bb01a558e" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_d5ce17aac0614b968a54ec5bb01a558e" value="d5ce17aac0614b968a54ec5bb01a558e">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_d5ce17aac0614b968a54ec5bb01a558e">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">123</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_2217ba8718824f8aa4b2a83942cf96b8" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_2217ba8718824f8aa4b2a83942cf96b8" value="2217ba8718824f8aa4b2a83942cf96b8">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_2217ba8718824f8aa4b2a83942cf96b8">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">2</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_06ea970799574a07b82cca64347b647c" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_06ea970799574a07b82cca64347b647c" value="06ea970799574a07b82cca64347b647c">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_06ea970799574a07b82cca64347b647c">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">231</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_d58a1b048c2445f4b7d79094bc4a3ef3" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_d58a1b048c2445f4b7d79094bc4a3ef3" value="d58a1b048c2445f4b7d79094bc4a3ef3">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_d58a1b048c2445f4b7d79094bc4a3ef3">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">3</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_500e12811341484bb9bc5254e92e234b" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_500e12811341484bb9bc5254e92e234b" value="500e12811341484bb9bc5254e92e234b">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_500e12811341484bb9bc5254e92e234b">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">355</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_2f8b597b1ad74a478389cc0d4d271d69" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_2f8b597b1ad74a478389cc0d4d271d69" value="2f8b597b1ad74a478389cc0d4d271d69">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_2f8b597b1ad74a478389cc0d4d271d69">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">3565</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_07688e3043ee49248ebc49e39b24b97f" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_07688e3043ee49248ebc49e39b24b97f" value="07688e3043ee49248ebc49e39b24b97f">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_07688e3043ee49248ebc49e39b24b97f">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">654</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_9482b5f692dd40bbba01f3bf66124792" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_9482b5f692dd40bbba01f3bf66124792" value="9482b5f692dd40bbba01f3bf66124792">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_9482b5f692dd40bbba01f3bf66124792">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">abcd 12345</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_5ddef72ccc204185b7a154062cce91fd" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_5ddef72ccc204185b7a154062cce91fd" value="5ddef72ccc204185b7a154062cce91fd">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_5ddef72ccc204185b7a154062cce91fd">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">Default Agency</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        
							        <li data-bind="click: $parent.selectItem.bind($parent)">
							            <input type="radio" data-bind="checked: itemSelected, attr: { 
							                   id: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId],
							                   name: 'selectItem_' + $parent.filterId + '_' + $data[ $parent.options.optionId], 
							                   value: $data[ $parent.options.optionId] } 
							                    " id="selectItem_88bcb066f85ec10673a71dccdf89ffd8_c32781e1277d4bfc9985528d81d3d136" name="selectItem_88bcb066f85ec10673a71dccdf89ffd8_c32781e1277d4bfc9985528d81d3d136" value="c32781e1277d4bfc9985528d81d3d136">
							            <label data-bind="attr: { for: $parent.filterId + '_' + $data[$parent.options.optionId] }" for="88bcb066f85ec10673a71dccdf89ffd8_c32781e1277d4bfc9985528d81d3d136">
							                <span data-bind="text: $data[ $parent.options.optionDisplayText]">new taxxxx</span>
							                <div class="ms-description" data-bind="text: $data.description, visible: $data.description" style="display: none;"></div>
							            </label>
							            
							        </li>
							        <!-- /ko -->
							        <!-- /ko -->

							        <!-- ko if: !options.single --><!-- /ko -->

							         <li class="ms-no-results" data-bind="visible : filteredData.length === 0,  text: options.no_matches_text">No matches found</li>
							        </ul>
							    </div>
							</div></multi-selector>
						</div>
					</div>
				</div>
			</div>

			<div data-bind="text: errorMessage" class="fieldError"></div>
			
			<div class="buttons-center form__buttons">
				<div class="form-buttons">
					<input data-fat="fat-global-done-button" class="btn btn-lg btn-primary" type="button" value="Buy" data-bind="click: done, local: 'registerSettings/registerSettingsManage.done'">
					<input class="btn btn-lg btn-default" type="button" value="Cancel" data-bind="click: cancel, local: 'registerSettings/registerSettingsManage.cancel'">
				</div>
			</div>
		</div>
	</div>
{% endblock %}