---
title: Orders
headerTitle: Orders
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="pane-body inventory">
		<div id="messages"></div>
		{{simpleFilters.call({
			search: { placeholder: 'Search for order, serial #' },
			fields: [
				{ label: 'Stores' },
				{ label: 'Order Type' },
				{ label: 'Order Status' },
				{ label: 'Fulfillment' }
			]
		})}}

		{#<input class="form-control input-lg pull-left datatable-search" type="text" data-bind="local: 'orders/ordersList.search_order', localAttr: 'placeholder', value: ordersFilter.search" placeholder="Search for order, serial #">
		<div style="float:left;">
			<!--ko compose: { view: 'controls/storesFilter.html', mode:'templated' }-->
			<div data-bind="if: $data.storesFilter.storesArr().length > 1" data-view="views/controls/storesFilter" style="" data-active-view="true">
				<div data-bind="with: $data.storesFilter, css: self.divStyle">
					<div class="stores-filter-label-wrapper" data-bind="visible: !labelNotVisible">
						<label data-bind="local: 'employees/manage-tabs/generalTab.stores'">Stores:</label>
					</div>
					<div data-bind="css: contStyle" class="filter_control_cont">
						<select class="form-control input-lg" data-bind="options: storesArr, optionsText: 'storeName', optionsValue: 'id',
							multipleSelect: storesArr, selectedElements: stores, multipleSelectOptions: setupMultiSelect(), attr: { id: name }" style="display: none;">
							<option value="5a4b11ccd458452facd24376cc851f7b">28 aug test</option>
							<option value="ea56b32ca4064c43b2d943700b5a796c">28 august store</option>
							<option value="df17c52b068e428e94046bcacfd33adb">BESTsTore</option>
							<option value="9b95b38021254511970c394af32606e1">FAstSTore</option>
							<option value="dec86c0a82174c449744d003e8f3dceb">ivanstore</option>
							<option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option>
							<option value="8c69323a6b28488f9f5e688f592979cf">New Store</option>
							<option value="662fd10aa39844839b3b909d232547a3">New Store  8931b</option>
							<option value="e926fc3cd7614d549d9ac824b3f92e23">New Store 32</option>
							<option value="b3dcb79fc4474880af4fd17c2f9ac400">New Store 8931a</option>
							<option value="a3474647d20d40a1b267cdc7cd141428">New Store a</option>
							<option value="887cc460a3dd47a79a14203dc23dd111">New Store s</option>
							<option value="b6f3d5c57a84498db16a3f5d4b22dfe6">New Store s2</option>
							<option value="fbff8a9bbec04e3f831b0c1b3f78184f">New Store X1</option>
							<option value="e359ba2d45c6467795cfe279152a7ccc">New Store X2</option>
							<option value="6050df646589491b81a3dd087204c5d4">New Store234</option>
							<option value="5d09b2d4754c498c8ec665b2ea4bf621">New Storeq</option>
							<option value="29e2ac6d8a094defa9369454323ba645">Olga Store</option>
							<option value="6298584313f54a40b31d6403e55614d5">Store 2</option>
							<option value="688cd61f63b24a5dadc4c526c0b2a7a2">Store 27</option>
							<option value="f596311134c747418136bd872557750c">Store 28</option>
							<option value="46116dbcea1c43fd8a91c797c668147c">Store 3</option>
							<option value="600172f4371c40aab4999b63a5775634">Store ulevan</option>
							<option value="eaa6a02e0a604f87a3450a897cd9649d">STORE!</option>
							<option value="46a47ec55ae34e5699a815196881f4bc">TestCreation</option>
							<option value="86240cf9e12e41e585183105da181f67">Vlad store</option>
							<option value="2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</option>
							<option value="028f25cf079a4019a12f67d575d11512">WestGuestCafe</option>
						</select>
						<div class="ms-parent" style="width: 100px;">
							<button type="button" class="select">
								<div class="fl">
									<div><input id="txtMs_data_undefined" class="filter-text  " type="text" dataid="data_undefined" selectid="undefined" placeholder="Select store(s)" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false"></div>
									<div>
										<div></div>
									</div>
								</div>
							</button>
							<div class="ms-drop bottom" data-name="multipleSelect1">
								<ul style="max-height: 250px;">
									<li><input id="allCheck" type="checkbox" name="selectAllmultipleSelect1"> <label for="allCheck">Select All</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="5a4b11ccd458452facd24376cc851f7b" id="id_multipleSelect1_5a4b11ccd458452facd24376cc851f7b"> <label for="id_multipleSelect1_5a4b11ccd458452facd24376cc851f7b">28 aug test</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="ea56b32ca4064c43b2d943700b5a796c" id="id_multipleSelect1_ea56b32ca4064c43b2d943700b5a796c"> <label for="id_multipleSelect1_ea56b32ca4064c43b2d943700b5a796c">28 august store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="df17c52b068e428e94046bcacfd33adb" id="id_multipleSelect1_df17c52b068e428e94046bcacfd33adb"> <label for="id_multipleSelect1_df17c52b068e428e94046bcacfd33adb">BESTsTore</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="9b95b38021254511970c394af32606e1" id="id_multipleSelect1_9b95b38021254511970c394af32606e1"> <label for="id_multipleSelect1_9b95b38021254511970c394af32606e1">FAstSTore</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="dec86c0a82174c449744d003e8f3dceb" id="id_multipleSelect1_dec86c0a82174c449744d003e8f3dceb"> <label for="id_multipleSelect1_dec86c0a82174c449744d003e8f3dceb">ivanstore</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="2d9e1fa2504149f1a36b2b7eaf90daef" id="id_multipleSelect1_2d9e1fa2504149f1a36b2b7eaf90daef"> <label for="id_multipleSelect1_2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="8c69323a6b28488f9f5e688f592979cf" id="id_multipleSelect1_8c69323a6b28488f9f5e688f592979cf"> <label for="id_multipleSelect1_8c69323a6b28488f9f5e688f592979cf">New Store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="662fd10aa39844839b3b909d232547a3" id="id_multipleSelect1_662fd10aa39844839b3b909d232547a3"> <label for="id_multipleSelect1_662fd10aa39844839b3b909d232547a3">New Store  8931b</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="e926fc3cd7614d549d9ac824b3f92e23" id="id_multipleSelect1_e926fc3cd7614d549d9ac824b3f92e23"> <label for="id_multipleSelect1_e926fc3cd7614d549d9ac824b3f92e23">New Store 32</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="b3dcb79fc4474880af4fd17c2f9ac400" id="id_multipleSelect1_b3dcb79fc4474880af4fd17c2f9ac400"> <label for="id_multipleSelect1_b3dcb79fc4474880af4fd17c2f9ac400">New Store 8931a</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="a3474647d20d40a1b267cdc7cd141428" id="id_multipleSelect1_a3474647d20d40a1b267cdc7cd141428"> <label for="id_multipleSelect1_a3474647d20d40a1b267cdc7cd141428">New Store a</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="887cc460a3dd47a79a14203dc23dd111" id="id_multipleSelect1_887cc460a3dd47a79a14203dc23dd111"> <label for="id_multipleSelect1_887cc460a3dd47a79a14203dc23dd111">New Store s</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="b6f3d5c57a84498db16a3f5d4b22dfe6" id="id_multipleSelect1_b6f3d5c57a84498db16a3f5d4b22dfe6"> <label for="id_multipleSelect1_b6f3d5c57a84498db16a3f5d4b22dfe6">New Store s2</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="fbff8a9bbec04e3f831b0c1b3f78184f" id="id_multipleSelect1_fbff8a9bbec04e3f831b0c1b3f78184f"> <label for="id_multipleSelect1_fbff8a9bbec04e3f831b0c1b3f78184f">New Store X1</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="e359ba2d45c6467795cfe279152a7ccc" id="id_multipleSelect1_e359ba2d45c6467795cfe279152a7ccc"> <label for="id_multipleSelect1_e359ba2d45c6467795cfe279152a7ccc">New Store X2</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="6050df646589491b81a3dd087204c5d4" id="id_multipleSelect1_6050df646589491b81a3dd087204c5d4"> <label for="id_multipleSelect1_6050df646589491b81a3dd087204c5d4">New Store234</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="5d09b2d4754c498c8ec665b2ea4bf621" id="id_multipleSelect1_5d09b2d4754c498c8ec665b2ea4bf621"> <label for="id_multipleSelect1_5d09b2d4754c498c8ec665b2ea4bf621">New Storeq</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="29e2ac6d8a094defa9369454323ba645" id="id_multipleSelect1_29e2ac6d8a094defa9369454323ba645"> <label for="id_multipleSelect1_29e2ac6d8a094defa9369454323ba645">Olga Store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="6298584313f54a40b31d6403e55614d5" id="id_multipleSelect1_6298584313f54a40b31d6403e55614d5"> <label for="id_multipleSelect1_6298584313f54a40b31d6403e55614d5">Store 2</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="688cd61f63b24a5dadc4c526c0b2a7a2" id="id_multipleSelect1_688cd61f63b24a5dadc4c526c0b2a7a2"> <label for="id_multipleSelect1_688cd61f63b24a5dadc4c526c0b2a7a2">Store 27</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="f596311134c747418136bd872557750c" id="id_multipleSelect1_f596311134c747418136bd872557750c"> <label for="id_multipleSelect1_f596311134c747418136bd872557750c">Store 28</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="46116dbcea1c43fd8a91c797c668147c" id="id_multipleSelect1_46116dbcea1c43fd8a91c797c668147c"> <label for="id_multipleSelect1_46116dbcea1c43fd8a91c797c668147c">Store 3</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="600172f4371c40aab4999b63a5775634" id="id_multipleSelect1_600172f4371c40aab4999b63a5775634"> <label for="id_multipleSelect1_600172f4371c40aab4999b63a5775634">Store ulevan</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="eaa6a02e0a604f87a3450a897cd9649d" id="id_multipleSelect1_eaa6a02e0a604f87a3450a897cd9649d"> <label for="id_multipleSelect1_eaa6a02e0a604f87a3450a897cd9649d">STORE!</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="46a47ec55ae34e5699a815196881f4bc" id="id_multipleSelect1_46a47ec55ae34e5699a815196881f4bc"> <label for="id_multipleSelect1_46a47ec55ae34e5699a815196881f4bc">TestCreation</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="86240cf9e12e41e585183105da181f67" id="id_multipleSelect1_86240cf9e12e41e585183105da181f67"> <label for="id_multipleSelect1_86240cf9e12e41e585183105da181f67">Vlad store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="2b2f054ecc58450aa7c59cb9a03ec6ac" id="id_multipleSelect1_2b2f054ecc58450aa7c59cb9a03ec6ac"> <label for="id_multipleSelect1_2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect1" value="028f25cf079a4019a12f67d575d11512" id="id_multipleSelect1_028f25cf079a4019a12f67d575d11512"> <label for="id_multipleSelect1_028f25cf079a4019a12f67d575d11512">WestGuestCafe</label></li>
									<li class="ms-no-results">No matches found</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ko-->
		</div>
		<div class="pull-right">
			<date-filter params="value: dateRange">
				<div class="pull-right">
					<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
						&nbsp;
						<span>Last 30 Days</span> 
						<b class="caret"></b>
					</div>
				</div>
			</date-filter>
		</div>
		<div class="report-export-wrapper pull-right">
			<a href="api/Transaction/ExportOrders" target="_blank" class="btn-report-export" data-bind="click: exportTableData, local: 'shell.exportReport'">Export</a>
			<i class="fa fa-file-excel-o" aria-hidden="true" data-bind="click: exportTableData"></i>
		</div>
		<br class="clear">
		<div class="row list-filters" data-bind="with: ordersFilter">
			<table>
				<tbody>
					<tr>
						<!-- ko if: $root.isOrderFulfilmentAppInstalled() -->
						<td>
							<label data-bind="local: 'orders/ordersList.order_type'">Order Type:</label>
							<select data-bind="value: orderType">
								<option value="0" data-bind="local: 'orders/ordersList.all'">All</option>
								<!-- ko foreach: orderTypes -->
								<option data-bind="attr: { value: code }, text: name" value="1">Quick Sale</option>
								<option data-bind="attr: { value: code }, text: name" value="2">Dine In</option>
								<option data-bind="attr: { value: code }, text: name" value="3">Take Out</option>
								<option data-bind="attr: { value: code }, text: name" value="4">Drive Thru</option>
								<option data-bind="attr: { value: code }, text: name" value="5">Delivery</option>
								<option data-bind="attr: { value: code }, text: name" value="7">Manual Sale</option>
								<!-- /ko -->
							</select>
						</td>
						<!-- /ko -->
						<td>
							<label data-bind="local: 'orders/ordersList.order_status'">Order Status:</label>
							<select data-bind="value: paymentStatus">
								<option value="0" data-bind="local: 'orders/ordersList.all'">All</option>
								<!-- ko foreach: paymentStatuses -->
								<option data-bind="attr: { value: code }, text: name" value="6">Refunded</option>
								<option data-bind="attr: { value: code }, text: name" value="4">Paid</option>
								<option data-bind="attr: { value: code }, text: name" value="5">Partially Refunded</option>
								<option data-bind="attr: { value: code }, text: name" value="7">Voided</option>
								<option data-bind="attr: { value: code }, text: name" value="1">Not Paid</option>
								<option data-bind="attr: { value: code }, text: name" value="3">Partially Paid</option>
								<option data-bind="attr: { value: code }, text: name" value="2">Pending Payment</option>
								<option data-bind="attr: { value: code }, text: name" value="9">Exchanged</option>
								<!-- /ko -->
							</select>
						</td>
						<!-- ko if: $root.isOrderFulfilmentAppInstalled() -->
						<td>
							<label data-bind="local: 'orders/ordersList.fulfillment'">Fulfillment:</label>
							<select data-bind="value: fulfillment">
								<option value="0" data-bind="local: 'orders/ordersList.all'">All</option>
								<!-- ko foreach: fulfillments -->
								<option data-bind="attr: { value: code }, text: name" value="4">In Fulfillment</option>
								<option data-bind="attr: { value: code }, text: name" value="3">Prepared</option>
								<option data-bind="attr: { value: code }, text: name" value="1">New</option>
								<option data-bind="attr: { value: code }, text: name" value="5">Fulfilled</option>
								<option data-bind="attr: { value: code }, text: name" value="2">In Preparation</option>
								<!-- /ko -->
							</select>
						</td>
						<!-- /ko -->
						<td data-bind="with: $root" class="text-right">
							<button class="btn btn-lg btn-primary" type="button" id="searchOrder" data-keypress="Enter" data-bind="local: 'common.searchButton', click: search">Search</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>#}
		<div id="transactionsTable_wrapper" class="dataTables_wrapper" style="min-width: 1180px;">
			<div id="transactionsTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="transactionsTable"></label></div>
			<div id="transactionsTable_processing" class="dataTables_processing" style="display: none;">Processing...</div>
			<table class="datatable dataTable" id="transactionsTable" role="grid" aria-describedby="transactionsTable_info">
				<thead>
					<tr role="row">
						<th data-bind="local: 'orders/ordersList.order_id'" class="center sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Order ID: Activate to sort by ascending columns" style="width: 230px;">Order ID</th>
						<th data-bind="local: 'orders/ordersList.order_name'" class="tenderData sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Order Name: Activate to sort by ascending columns">Order Name</th>
						<th data-bind="local: 'orders/ordersList.type'" class="sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Type: Activate to sort by ascending columns" style="width: 100px;">Type</th>
						<th data-bind="local: 'orders/ordersList.fulfillmentColumn'" class="center sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Fulfillment: Activate to sort by ascending columns" style="width: 150px;">Fulfillment</th>
						<th data-bind="local: 'orders/ordersList.status'" class="center sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Status: Activate to sort by ascending columns">Status</th>
						<th data-bind="local: 'orders/ordersList.total'" class="break-word sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Total Sales: Activate to sort by ascending columns">Total Sales</th>
						<th data-bind="local: 'orders/ordersList.date'" class="sorting_desc" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Date: Activate to sort by ascending columns" aria-sort="descending">Date</th>
						<th data-bind="local: 'orders/ordersList.employee'" class="sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Employee: Activate to sort by ascending columns">Employee</th>
						<th data-bind="local: 'orders/ordersList.customer'" class="sorting" tabindex="0" aria-controls="transactionsTable" rowspan="1" colspan="1" aria-label="Customer: Activate to sort by ascending columns">Customer</th>
					</tr>
				</thead>
				<tbody>
					<tr class="editable odd" id="bd34d62c69a24e9bbadffc5fb51c0a15" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">031830015666</td>
						<td class=" tenderData"></td>
						<td>Take Out</td>
						<td class=" center"><i class="fa fa-plus-square-o fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$24.45</td>
						<td class="sorting_1">02/07/2018 4:45:41 PM</td>
						<td>WooCommerce WooCommerce</td>
						<td>ss sss</td>
					</tr>
					<tr class="editable even" id="000000001007107600110001120f3a68" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">171780811504</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-ban fa-lg status-voided"></i></td>
						<td class=" break-word">$2.63</td>
						<td class="sorting_1">27/06/2018 1:00:10 PM</td>
						<td>Admin Admin</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable odd" id="000000001007107600110001120ff57b" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">171780784281</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-arrow-left fa-lg status-refunded"></i></td>
						<td class=" break-word">$2.63</td>
						<td class="sorting_1">27/06/2018 12:56:58 PM</td>
						<td>Admin Admin</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable even" id="000000001008107600170001120a180c" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">231739585123</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$15.23</td>
						<td class="sorting_1">22/06/2018 5:02:02 PM</td>
						<td>Car Machine</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable odd" id="000000001005107600170001120a84d5" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">231739572133</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$0.23</td>
						<td class="sorting_1">22/06/2018 4:49:29 PM</td>
						<td>Los  Angeles </td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable even" id="00000000101a1076002100011208c339" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">331717085872</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$105.00</td>
						<td class="sorting_1">20/06/2018 1:31:45 PM</td>
						<td>Admin Admin</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable odd" id="00000000100b1076002100011208efd5" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">331717075048</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$4.20</td>
						<td class="sorting_1">20/06/2018 1:20:57 PM</td>
						<td>Admin Admin</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable even" id="00000000ac02107600320001120144da" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">501640210263</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$6.09</td>
						<td class="sorting_1">13/06/2018 5:06:13 PM</td>
						<td>mrgoro admin</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable odd" id="0000000021c11076003200011201bd30" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">501640208628</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$6.09</td>
						<td class="sorting_1">13/06/2018 5:05:44 PM</td>
						<td>mrgoro admin</td>
						<td>Walk-In</td>
					</tr>
					<tr class="editable even" id="00000000c2b71076003200011201308b" data-bind="click: edit, css:{checked: checked()}" role="row">
						<td class=" center">501640191227</td>
						<td class=" tenderData"></td>
						<td>Quick Sale</td>
						<td class=" center"><i class="fa fa-thumbs-up fa-lg fulfilment-color"></i></td>
						<td class=" center"><i class="fa fa-check fa-lg status-paid"></i></td>
						<td class=" break-word">$5.83</td>
						<td class="sorting_1">13/06/2018 5:05:08 PM</td>
						<td>mrgoro admin</td>
						<td>Walk-In</td>
					</tr>
				</tbody>
				<tfoot class="tfooter-total">
					<tr>
						<th class="text-right center tenderData" colspan="5" data-bind="local: 'orders/ordersList.totalAmountFooter'" rowspan="1">Total amount:</th>
						<th class="text-left break-word" rowspan="1" colspan="1">$485.98</th>
					</tr>
				</tfoot>
			</table>
			<div class="dataTables_info" id="transactionsTable_info" role="status" aria-live="polite">Showing 1 to 10 of 33 entriesInfoPostFix</div>
			<div class="dataTables_paginate paging_simple_numbers" id="transactionsTable_paginate"><a class="paginate_button previous disabled" aria-controls="transactionsTable" data-dt-idx="0" tabindex="0" id="transactionsTable_previous">Previous</a><span><a class="paginate_button current" aria-controls="transactionsTable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="transactionsTable" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="transactionsTable" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="transactionsTable" data-dt-idx="4" tabindex="0">4</a></span><a class="paginate_button next" aria-controls="transactionsTable" data-dt-idx="5" tabindex="0" id="transactionsTable_next">Next</a></div>
		</div>
	</div>

{% endblock %}