---
title: Add Existing Ingredients
headerTitle: Ingredients
ingredientsCancelButtonAttrs: 'data-modal-close="add-ingredients"'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="n-module is-open" data-modal-container="add-ingredients">
		<div class="n-module__container">
			<div class="n-module__header">
				<div class="n-module__title">Add existing ingredients</div>

				<!-- begin n-search -->
				<div class="n-search n-module__search">
					<div class="n-search__field">
						<input type="text" class="form-control input-lg" placeholder="Search For Ingredients" />
					</div>
				</div>
				<!-- end n-search -->
			</div>
			<div class="n-module__body">
				{% set items = {
					columns: [ 'half', 'half' ],
					rows: [
						{ title: 'cheese slice', unit: 'box' },
						{ title: 'pepper', unit: 'box' },
						{ title: 'milk', unit: 'pack' },
						{ title: 'potatoes', unit: 'bag' },
						{ title: 'strawberry', unit: 'box' },
						{ title: 'tomatoes', unit: 'case' },
						{ title: 'cream', unit: 'box' },
						{ title: 'rice', unit: 'pack' },
						{ title: 'pasta', unit: 'pack' },
						{ title: 'egg', unit: 'tray' }
					]
				} %}
				<div class="n-items">
					<div class="n-items__head">
						<div class="n-items__checkbox">
							<div class="checkbox">
								<input type="checkbox" id="all-ingredients">
								<label for="all-ingredients"></label>
							</div>
						</div>
						<div class="n-items__table">
							<div class="n-items__tr">
								<div class="n-items__col">Ingredient name</div>
								<div class="n-items__col">UOM</div>
							</div>
						</div>
					</div>
					<div class="n-items__body">
						{% for row in range(0,2) %}
							{% set active = loop.index + '' %}
							{% for item in items.rows %}
								<div class="n-items__row">
									<div class="n-items__checkbox">
										<div class="checkbox">
											<input type="checkbox" id="ingredient-{{active + loop.index}}">
											<label for="ingredient-{{active + loop.index}}"></label>
										</div>
									</div>
									<div class="n-items__table">
										<div class="n-items__tr">
											<div class="n-items__col">{{item.title}}</div>
											<div class="n-items__col">{{item.unit}}</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endfor %}
					</div>
					<div class="n-items__footer">
						<input class="btn btn-lg btn-primary n-items__btn" type="button" value="Add">
						<input class="btn btn-lg btn-default n-items__btn" type="button" value="Cancel" data-modal-close="add-ingredients">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}