---
title: Product Ingredients
headerTitle: New Inventory Item
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body inventory-manage-body">
		<div class="form inventory-item-form" id="inventoryManage" style="display: block;">
			
			<!-- begin tabs buttons -->
			<div class="inventory-tabs serials-hidden tab-control">
				<span class="tab" data-for="#generalTab">
					<span class="tab-title">General</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab" data-for="#pricingTab">
					<span class="tab-title">Pricing</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab" data-for="#modifiersTab">
					<span class="tab-title">Modifiers</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab selected" data-for="#ingredientsTab">
					<span class="tab-title">Ingredients</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab" data-for="#orderingTab">
					<span class="tab-title">Ordering</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab" data-for="#serialsTab">
					<span class="tab-title">Serials</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab" data-for="#taxesTab">
					<span class="tab-title">Taxes</span>
					<span class="tab-selected-arrow"></span>
				</span>
				<span class="tab" data-for="#variantTab" style="display: none;">
					<span class="tab-title">Inventory Matrix</span>
					<span class="tab-selected-arrow"></span>
				</span>
			</div>
			<!-- end tabs buttons -->
			
			<div class="tab-content" id="ingredientsTab" style="display: block;">
				<div class="n-modifiers-container">
					<div class="n-modifiers-section n-modifiers-block">
						<div class="n-modifiers-block__title">Add ingredients</div>
						<div class="pull-left n-modifiers-section__btn">
							<input class="btn btn-lg btn-primary" type="button" value="Add Existing">
						</div>
						{#<div class="pull-left n-modifiers-section__slash">or</div>
						<div class="pull-left n-modifiers-section__btn">
							<input class="btn btn-lg btn-primary" type="button" value="Create New">
						</div>#}
					</div>
					<div class="n-modifiers-block">
						<div class="n-modifiers-block__title">Current Ingredients</div>
						{% set items = [
							{ name: 'cheese slice', qty: '1', type: 'unit' },
							{ name: 'milk', qty: '2', type: 'l' },
							{ name: 'egg', qty: '1', type: 'unit' },
							{ name: 'tomatoes', qty: '3', type: 'kg' }
						] %}
						<div class="i-ingredients-items">
							{% for item in items %}
								<div class="i-ingredients-item">
									<div class="i-ingredients-item__row">
										<div class="i-ingredients-item__col" data-column="name">
											<label class="n-label i-ingredients-item__label">Ingredient:</label>
											<div class="i-ingredients-item__field">
												<input class="form-control input-lg textbox" type="text" value="{{item.name}}" readonly maxlength="100" placeholder="Enter Name" data-lang="EN">
											</div>
										</div>
										<div class="i-ingredients-item__col" data-column="qty">
											<label class="n-label i-ingredients-item__label">Qty:</label>
											<div class="i-ingredients-item__field">
												<input class="form-control input-lg textbox" type="text" value="{{item.qty}}" maxlength="100" data-lang="EN">
											</div>
										</div>
										<div class="i-ingredients-item__col" data-column="type">
											<label class="n-label i-ingredients-item__label">UOM:</label>
											<div class="i-ingredients-item__field">
												<span class="i-ingredients-item__text">{{item.type}}</span>
											</div>
										</div>
										<div class="i-ingredients-item__col" data-column="close">
											<input class="i-ingredients-item__close delete-row-button" type="button">
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/components/_product-buttons.html' %}
{% endblock %}