---
title: Modifiers report
headerTitle: Modifiers report
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body modifier-report">
		<div class="modifier-report__filters">
			<div class="modifier-report__container">
				<div class="modifier-report__row">
					<div class="modifier-report__col modifier-report__col_sm">
						<div class="modifier-report__search">
							<i class="fa fa-search modifier-report__search-icon"></i>
							<input class="form-control input-lg modifier-report__search-input" type="text" placeholder="Search by modifier">
						</div>
					</div>
					<div class="modifier-report__col modifier-report__col_sm">
						<label>Department:</label>
						<select data-bind="value: departmentId, event: { change: $root.departmentChanged.bind($root) }">
							<option value="">All</option>
							<option value="cd29975bc97d42ac86e33497f596699f">!AutomationDepartment</option>
							<option value="6a897da2a2af4104935bee96446de938">1122h</option>
							<option value="0e3da3ac80b249749cd9a6f821c48948">Active</option>
							<option value="4067850f2c43408eab83091fb5df0f13">ads</option>
							<option value="28d7949af98b4f9f9ad5216d4660bf4f">Alcohol</option>
						</select>
					</div>
					<div class="modifier-report__col modifier-report__col_sm">
						<label>Category:</label>
						<select data-bind="value: departmentId, event: { change: $root.departmentChanged.bind($root) }">
							<option value="">All</option>
							<option value="cd29975bc97d42ac86e33497f596699f">!AutomationDepartment</option>
							<option value="6a897da2a2af4104935bee96446de938">1122h</option>
							<option value="0e3da3ac80b249749cd9a6f821c48948">Active</option>
							<option value="4067850f2c43408eab83091fb5df0f13">ads</option>
							<option value="28d7949af98b4f9f9ad5216d4660bf4f">Alcohol</option>
						</select>
					</div>
					<div class="modifier-report__col modifier-report__col_sm pull-right">
						<div class="modifier-report__action">
							<date-filter params="value: dateRange">
								<div class="pull-right">
									<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
										<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
										&nbsp;
										<span>Today</span> 
										<b class="caret"></b>
									</div>
								</div>
							</date-filter>
						</div>
						<div class="modifier-report__action">
							<div class="report-export-wrapper">
								<button class="btn-report-export">Export</button>
								<i class="fa fa-file-excel-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modifier-report__container">
				<div class="modifier-report__row">
					<div class="modifier-report__col modifier-report__col_xs">
						<label>Product:</label>
						<div class="modifier-report__multi-select">
							<div data-bind="with: $data.storesFilter, css: self.divStyle">
								<div class="stores-filter-label-wrapper" data-bind="visible: !labelNotVisible">
								</div>
								<div data-bind="css: contStyle" class="filter_control_cont">
									<select class="form-control input-lg" style="display: none;">
										<option value="df17c52b068e428e94046bcacfd33adb">BESTsTore</option>
										<option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option>
										<option value="8c69323a6b28488f9f5e688f592979cf">New Store</option>
										<option value="e926fc3cd7614d549d9ac824b3f92e23">New Store СЫЗ2</option>
										<option value="86240cf9e12e41e585183105da181f67">Vlad store</option>
										<option value="2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</option>
										<option value="028f25cf079a4019a12f67d575d11512">WestGuestCafe</option>
									</select>
									<div class="ms-parent" style="width: 100px;">
										<button type="button" class="select">
											<div class="fl">
												<div>
													<input id="txtMs_undefined" class="filter-text  " type="text" dataid="undefined" selectid="undefined" placeholder="Select Product(s)" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false">
												</div>
												<div>
													<div></div>
												</div>
											</div>
										</button>
										<div class="ms-drop bottom" style="display: none;">
											<ul style="max-height: 250px;">
												<li>
													<input id="allCheck" type="checkbox" name="selectAll">
													<label for="allCheck">Select All</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="df17c52b068e428e94046bcacfd33adb" id="BESTsToreundefined">
													<label for="BESTsToreundefined">BESTsTore</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="2d9e1fa2504149f1a36b2b7eaf90daef" id="New_CSP_Storeundefined">
													<label for="New_CSP_Storeundefined">New CSP Store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="8c69323a6b28488f9f5e688f592979cf" id="New_Storeundefined">
													<label for="New_Storeundefined">New Store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="e926fc3cd7614d549d9ac824b3f92e23" id="New_Store_СЫЗ2undefined">
													<label for="New_Store_СЫЗ2undefined">New Store СЫЗ2</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="86240cf9e12e41e585183105da181f67" id="Vlad_storeundefined">
													<label for="Vlad_storeundefined">Vlad store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="2b2f054ecc58450aa7c59cb9a03ec6ac" id="West_Street_Cafeundefined">
													<label for="West_Street_Cafeundefined">West Street Cafe</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="028f25cf079a4019a12f67d575d11512" id="WestGuestCafeundefined">
													<label for="WestGuestCafeundefined">WestGuestCafe</label>
												</li>
												<li class="ms-no-results" style="display: none;">No matches found</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modifier-report__col modifier-report__col_xs">
						<label>Modifier <br>group&nbsp;name:</label>
						<div class="modifier-report__multi-select">
							<div data-bind="with: $data.storesFilter, css: self.divStyle">
								<div class="stores-filter-label-wrapper" data-bind="visible: !labelNotVisible">
								</div>
								<div data-bind="css: contStyle" class="filter_control_cont">
									<select class="form-control input-lg" style="display: none;">
										<option value="df17c52b068e428e94046bcacfd33adb">BESTsTore</option>
										<option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option>
										<option value="8c69323a6b28488f9f5e688f592979cf">New Store</option>
										<option value="e926fc3cd7614d549d9ac824b3f92e23">New Store СЫЗ2</option>
										<option value="86240cf9e12e41e585183105da181f67">Vlad store</option>
										<option value="2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</option>
										<option value="028f25cf079a4019a12f67d575d11512">WestGuestCafe</option>
									</select>
									<div class="ms-parent" style="width: 100px;">
										<button type="button" class="select">
											<div class="fl">
												<div>
													<input id="txtMs_undefined" class="filter-text  " type="text" dataid="undefined" selectid="undefined" placeholder="Select Modifier(s)" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false">
												</div>
												<div>
													<div></div>
												</div>
											</div>
										</button>
										<div class="ms-drop bottom" style="display: none;">
											<ul style="max-height: 250px;">
												<li>
													<input id="allCheck" type="checkbox" name="selectAll">
													<label for="allCheck">Select All</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="df17c52b068e428e94046bcacfd33adb" id="BESTsToreundefined">
													<label for="BESTsToreundefined">BESTsTore</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="2d9e1fa2504149f1a36b2b7eaf90daef" id="New_CSP_Storeundefined">
													<label for="New_CSP_Storeundefined">New CSP Store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="8c69323a6b28488f9f5e688f592979cf" id="New_Storeundefined">
													<label for="New_Storeundefined">New Store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="e926fc3cd7614d549d9ac824b3f92e23" id="New_Store_СЫЗ2undefined">
													<label for="New_Store_СЫЗ2undefined">New Store СЫЗ2</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="86240cf9e12e41e585183105da181f67" id="Vlad_storeundefined">
													<label for="Vlad_storeundefined">Vlad store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="2b2f054ecc58450aa7c59cb9a03ec6ac" id="West_Street_Cafeundefined">
													<label for="West_Street_Cafeundefined">West Street Cafe</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="028f25cf079a4019a12f67d575d11512" id="WestGuestCafeundefined">
													<label for="WestGuestCafeundefined">WestGuestCafe</label>
												</li>
												<li class="ms-no-results" style="display: none;">No matches found</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modifier-report__col modifier-report__col_xs">
						<label>Store:</label>
						<div class="modifier-report__multi-select">
							<div data-bind="with: $data.storesFilter, css: self.divStyle">
								<div class="stores-filter-label-wrapper" data-bind="visible: !labelNotVisible">
								</div>
								<div data-bind="css: contStyle" class="filter_control_cont">
									<select class="form-control input-lg" style="display: none;">
										<option value="df17c52b068e428e94046bcacfd33adb">BESTsTore</option>
										<option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option>
										<option value="8c69323a6b28488f9f5e688f592979cf">New Store</option>
										<option value="e926fc3cd7614d549d9ac824b3f92e23">New Store СЫЗ2</option>
										<option value="86240cf9e12e41e585183105da181f67">Vlad store</option>
										<option value="2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</option>
										<option value="028f25cf079a4019a12f67d575d11512">WestGuestCafe</option>
									</select>
									<div class="ms-parent" style="width: 100px;">
										<button type="button" class="select">
											<div class="fl">
												<div>
													<input id="txtMs_undefined" class="filter-text  " type="text" dataid="undefined" selectid="undefined" placeholder="Select store(s)" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false">
												</div>
												<div>
													<div></div>
												</div>
											</div>
										</button>
										<div class="ms-drop bottom" style="display: none;">
											<ul style="max-height: 250px;">
												<li>
													<input id="allCheck" type="checkbox" name="selectAll">
													<label for="allCheck">Select All</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="df17c52b068e428e94046bcacfd33adb" id="BESTsToreundefined">
													<label for="BESTsToreundefined">BESTsTore</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="2d9e1fa2504149f1a36b2b7eaf90daef" id="New_CSP_Storeundefined">
													<label for="New_CSP_Storeundefined">New CSP Store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="8c69323a6b28488f9f5e688f592979cf" id="New_Storeundefined">
													<label for="New_Storeundefined">New Store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="e926fc3cd7614d549d9ac824b3f92e23" id="New_Store_СЫЗ2undefined">
													<label for="New_Store_СЫЗ2undefined">New Store СЫЗ2</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="86240cf9e12e41e585183105da181f67" id="Vlad_storeundefined">
													<label for="Vlad_storeundefined">Vlad store</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="2b2f054ecc58450aa7c59cb9a03ec6ac" id="West_Street_Cafeundefined">
													<label for="West_Street_Cafeundefined">West Street Cafe</label>
												</li>
												<li>
													<input type="checkbox" name="selectItem" value="028f25cf079a4019a12f67d575d11512" id="WestGuestCafeundefined">
													<label for="WestGuestCafeundefined">WestGuestCafe</label>
												</li>
												<li class="ms-no-results" style="display: none;">No matches found</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modifier-report__col modifier-report__col_xs">
						<label>Register:</label>
						<select data-bind="value: departmentId, event: { change: $root.departmentChanged.bind($root) }">
							<option value="">All</option>
							<option value="cd29975bc97d42ac86e33497f596699f">!AutomationDepartment</option>
							<option value="6a897da2a2af4104935bee96446de938">1122h</option>
							<option value="0e3da3ac80b249749cd9a6f821c48948">Active</option>
							<option value="4067850f2c43408eab83091fb5df0f13">ads</option>
							<option value="28d7949af98b4f9f9ad5216d4660bf4f">Alcohol</option>
						</select>
					</div>
					<div class="modifier-report__col modifier-report__col_xs">
						<label>Employee:</label>
						<select data-bind="value: departmentId, event: { change: $root.departmentChanged.bind($root) }">
							<option value="">All</option>
							<option value="cd29975bc97d42ac86e33497f596699f">!AutomationDepartment</option>
							<option value="6a897da2a2af4104935bee96446de938">1122h</option>
							<option value="0e3da3ac80b249749cd9a6f821c48948">Active</option>
							<option value="4067850f2c43408eab83091fb5df0f13">ads</option>
							<option value="28d7949af98b4f9f9ad5216d4660bf4f">Alcohol</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="modifier-report__table-wrapper">
			<div id="productMixReportTable_wrapper" class="dataTables_wrapper">
				<div id="productMixReportTable_filter" class="dataTables_filter">
					<label>Search:<input type="search" class="" placeholder="" aria-controls="productMixReportTable"></label>
				</div>
				<div id="productMixReportTable_processing" class="dataTables_processing" style="display: none;">Processing...</div>
				<table class="datatable dataTable" id="modifierReportTable" data-bind="visible: !loading()" style="width: 100%;" role="grid">
					<thead>
						<tr role="row">
							<th class="w80 row-expandable sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Modifier: Activate to sort by ascending columns">Modifier</th>
							<th class="w150 sorting_asc" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Modifier group name: Activate to sort by descending columns" aria-sort="ascending">Modifier group name</th>
							<th class="sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Product: Activate to sort by ascending columns">Product</th>
							<th class="sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Category: Activate to sort by ascending columns">Category</th>
							<th class="sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Department: Activate to sort by ascending columns">Department</th>
							<th class="sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Store: Activate to sort by ascending columns">Store</th>
							<th class="sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Employee: Activate to sort by ascending columns">Employee</th>
							<th class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Register: Activate to sort by ascending columns">Register</th>
							<th class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Quantity: Activate to sort by ascending columns">Qty Sold</th>
							<th class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Gross Sales: Activate to sort by ascending columns">Gross Sales</th>
							<th class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Gross Sales: Activate to sort by ascending columns">Net Sales</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="text-right row-expandable" colspan="8" rowspan="1">Total:</th>
							<th class="text-right numeric-data" rowspan="1" colspan="1">55</th>
							<th class="text-right numeric-data" rowspan="1" colspan="1">$143.25</th>
							<th class="text-right numeric-data" rowspan="1" colspan="1">$143.25</th>
						</tr>
					</tfoot>
					<tbody>
						{% set table = [
							{
								modifier: 'Cheese',
								group: 'Toppings',
								product: 'Hamburger',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'John Wick',
								register: 'Register 1',
								qty: '1',
								gross: '$13.50',
								net: '$13.50'
							},
							{
								modifier: 'Salami',
								group: 'Toppings',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'John Wick',
								register: 'Register 1',
								qty: '2',
								gross: '$26.00',
								net: '$26.00'
							},
							{
								modifier: 'Chicken',
								group: 'Toppings',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'John Wick',
								register: 'Register 1',
								qty: '3',
								gross: '$14.00',
								net: '$14.00'
							},
							{
								modifier: 'Bacon',
								group: 'Toppings',
								product: 'Hamburger',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'John Wick',
								register: 'Register 1',
								qty: '6',
								gross: '$16.00',
								net: '$16.00'
							},
							{
								modifier: 'Papper',
								group: 'Toppings',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'John Wick',
								register: 'Register 1',
								qty: '5',
								gross: '$3.50',
								net: '$3.50'
							},
							{
								modifier: 'Tomatoes',
								group: 'Toppings',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'Ben Stiller',
								register: 'Register 2',
								qty: '4',
								gross: '$4.00',
								net: '$4.00'
							},
							{
								modifier: 'Corn',
								group: 'Toppings',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'Ben Stiller',
								register: 'Register 2',
								qty: '10',
								gross: '$4.00',
								net: '$4.00'
							},
							{
								modifier: 'L',
								group: 'Sizes',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'Ben Stiller',
								register: 'Register 2',
								qty: '9',
								gross: '$28.50',
								net: '$28.50'
							},
							{
								modifier: 'M',
								group: 'Sizes',
								product: 'Pizza',
								category: 'FastFood',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'Ben Stiller',
								register: 'Register 2',
								qty: '8',
								gross: '$26.50',
								net: '$26.50'
							},
							{
								modifier: 'Coockies',
								group: 'Icecream Flavors',
								product: 'Icecream',
								category: 'Sweets',
								department: 'Food',
								store: 'WestGuestCafe',
								employee: 'Ben Stiller',
								register: 'Register 2',
								qty: '1',
								gross: '$7.25',
								net: '$7.25'
							}
						] %}
						{% for item in table %}
							<tr class="editable odd" role="row">
								<td class=" row-expandable">{{item.modifier}}</td>
								<td class="sorting_1">{{item.group}}</td>
								<td>{{item.product}}</td>
								<td>{{item.category}}</td>
								<td>{{item.department}}</td>
								<td>{{item.store}}</td>
								<td>{{item.employee}}</td>
								<td class=" numeric-data">{{item.register}}</td>
								<td class=" numeric-data">{{item.qty}}</td>
								<td class=" numeric-data">{{item.gross}}</td>
								<td class=" numeric-data">{{item.net}}</td>
							</tr>
						{% endfor %}
						{#<tr class="editable even" role="row">
							<td class=" row-expandable">5582</td>
							<td class="sorting_1">Chicken soup</td>
							<td>Food</td>
							<td>Soup</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-1</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$7.00</td>
						</tr>
						<tr class="editable odd" role="row">
							<td class=" row-expandable">5518</td>
							<td class="sorting_1">Chocolate Cappuccino</td>
							<td>Drinks</td>
							<td>Coffee</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-1</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$3.50</td>
						</tr>
						<tr class="editable even" role="row">
							<td class=" row-expandable">5544</td>
							<td class="sorting_1">Club sandwich</td>
							<td>Food</td>
							<td>Sandwiches</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-2</td>
							<td class=" numeric-data">2</td>
							<td class=" numeric-data">$15.00</td>
						</tr>
						<tr class="editable odd" role="row">
							<td class=" row-expandable">4453</td>
							<td class="sorting_1">Cola</td>
							<td>Beverages</td>
							<td>Soft Drinks</td>
							<td>Register 16</td>
							<td>WestGuestCafe</td>
							<td>Los  Angeles </td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-738</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$18.95</td>
						</tr>
						<tr class="editable even" role="row">
							<td class=" row-expandable">5570</td>
							<td class="sorting_1">Egg salad</td>
							<td>Food</td>
							<td>Salad</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-1</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$10.00</td>
						</tr>
						<tr class="editable odd" role="row">
							<td class=" row-expandable">5571</td>
							<td class="sorting_1">Garden salad</td>
							<td>Food</td>
							<td>Salad</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-1</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$8.00</td>
						</tr>
						<tr class="editable even" role="row">
							<td class=" row-expandable">5516</td>
							<td class="sorting_1">Latte</td>
							<td>Drinks</td>
							<td>Coffee</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-2</td>
							<td class=" numeric-data">2</td>
							<td class=" numeric-data">$6.00</td>
						</tr>
						<tr class="editable odd" role="row">
							<td class=" row-expandable">5586</td>
							<td class="sorting_1">Lobster stew</td>
							<td>Food</td>
							<td>Soup</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-1</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$7.00</td>
						</tr>
						<tr class="editable even" role="row">
							<td class=" row-expandable">5558</td>
							<td class="sorting_1">Pasta Fiori</td>
							<td>Food</td>
							<td>Pasta</td>
							<td>Register 1</td>
							<td>West Street Cafe</td>
							<td>John Baker</td>
							<td class=" numeric-data">0</td>
							<td class=" numeric-data">-1</td>
							<td class=" numeric-data">1</td>
							<td class=" numeric-data">$20.00</td>
						</tr>#}
					</tbody>
				</table>
				<div class="dataTables_paginate paging_simple_numbers" id="productMixReportTable_paginate">
					<a class="paginate_button previous disabled" aria-controls="productMixReportTable" data-dt-idx="0" tabindex="0" id="productMixReportTable_previous">Previous</a>
					<span>
						<a class="paginate_button current" aria-controls="productMixReportTable" data-dt-idx="1" tabindex="0">1</a>
						<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="2" tabindex="0">2</a>
						<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="3" tabindex="0">3</a>
						<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="4" tabindex="0">4</a>
						<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="5" tabindex="0">5</a>
						<span class="ellipsis">…</span>
						<a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="6" tabindex="0">466</a>
					</span>
					<a class="paginate_button next" aria-controls="productMixReportTable" data-dt-idx="7" tabindex="0" id="productMixReportTable_next">Next</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}