---
title: Product Mix Report
headerTitle: Product Mix Report
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="pane-body item-list" data-bind="with: filter">
		{{simpleFilters.call({
			search: { placeholder: 'Search item by title or code' },
			fields: [
				{ label: 'Stores' },
				{ label: 'Department' },
				{ label: 'Category' },
				{ label: 'Register' },
				{ label: 'Employee' }
			]
		})}}
		<div class="product-mix-report-error"></div>
		<div id="productMixReportTable_wrapper" class="dataTables_wrapper">
			<div id="productMixReportTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="productMixReportTable"></label></div>
			<div id="productMixReportTable_processing" class="dataTables_processing" style="display: none;">Processing...</div>
			<table class="datatable dataTable" id="productMixReportTable" data-bind="visible: !loading()" style="width: 100%; min-width: 1700px;" role="grid">
				<thead>
					<tr role="row">
						<th data-bind="local: 'reports/productMixReport.id'" style="width: 80px" class="row-expandable sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="ID: Activate to sort by ascending columns">ID</th>
						<th data-bind="local: 'reports/productMixReport.item'" class="sorting_asc" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Item: Activate to sort by descending columns" aria-sort="ascending">Item</th>
						<th data-bind="local: 'reports/productMixReport.department'" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Department">Department</th>
						<th data-bind="local: 'reports/productMixReport.category'" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Category">Category</th>
						<th data-bind="local: 'reports/productMixReport.min_qty'" style="width: 100px" class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Min. Qty: Activate to sort by ascending columns">Min. Qty</th>
						<th data-bind="local: 'reports/productMixReport.quantity'" style="width: 100px" class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Total Quantity: Activate to sort by ascending columns">Total Quantity</th>
						<th data-bind="local: 'reports/productMixReport.qty_sold'" style="width: 100px" class="numeric-data sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Qty Sold: Activate to sort by ascending columns">Qty Sold</th>
						<th data-bind="local: 'reports/productMixReport.cogs'" style="width: 100px" class="numeric-data break-word sorting_disabled" rowspan="1" colspan="1" aria-label="COGS">COGS</th>
						<th data-bind="local: 'reports/productMixReport.gross_sales'" style="width: 100px;" class="numeric-data break-word sorting_disabled" rowspan="1" colspan="1" aria-label="Gross Sales">Gross Sales</th>
						<th data-bind="local: 'reports/productMixReport.discounts'" style="width: 100px;" class="numeric-data break-word sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Discounts: Activate to sort by ascending columns">Discounts</th>
						<th data-bind="local: 'reports/productMixReport.refunds'" style="width: 100px;" class="numeric-data break-word sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Refunds: Activate to sort by ascending columns">Refunds</th>
						<th data-bind="local: 'reports/productMixReport.netSales'" style="width: 100px;" class="numeric-data break-word sorting_disabled" rowspan="1" colspan="1" aria-label="Net Sales">Net Sales</th>
						<th data-bind="local: 'reports/productMixReport.grossProfit'" style="width: 100px;" class="numeric-data break-word sorting_disabled" rowspan="1" colspan="1" aria-label="Gross Profit">Gross Profit</th>
						<th data-bind="local: 'reports/productMixReport.grossMargin'" style="width: 100px;" class="numeric-data break-word sorting_disabled" rowspan="1" colspan="1" aria-label="Gross Margin">Gross Margin</th>
						<th data-bind="local: 'reports/productMixReport.taxAmount'" style="width: 100px;" class="numeric-data break-word sorting" tabindex="0" aria-controls="productMixReportTable" rowspan="1" colspan="1" aria-label="Tax Amount: Activate to sort by ascending columns">Tax Amount</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th class="text-right row-expandable" colspan="4" data-bind="local: 'reports/productMixReport.total'" rowspan="1">Total:</th>
						<th class="numeric-data" rowspan="1" colspan="1">1199</th>
						<th class="numeric-data" rowspan="1" colspan="1">-3580</th>
						<th class="numeric-data" rowspan="1" colspan="1">87</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">$1,000,000,134.89</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">$892.98</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">$3.17</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">$16.00</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">$873.81</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">($999,999,261.08)</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">-114441269.96%</th>
						<th class="numeric-data break-word" rowspan="1" colspan="1">$35.80</th>
					</tr>
				</tfoot>
				<tbody>
					<tr class="editable odd" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">5198</td>
						<td class="sorting_1">Apple</td>
						<td>Drinks and Dessert</td>
						<td>Fruits</td>
						<td class=" numeric-data">44</td>
						<td class=" numeric-data">0</td>
						<td class=" numeric-data">9</td>
						<td class=" numeric-data  break-word">$0.00</td>
						<td class=" numeric-data break-word">$58.50</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$58.50</td>
						<td class=" numeric-data break-word">$58.50</td>
						<td class=" numeric-data break-word">100%</td>
						<td class=" numeric-data break-word">$0.60</td>
					</tr>
					<tr class="editable even" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">6542</td>
						<td class="sorting_1">Cake</td>
						<td>Hot Drinks1</td>
						<td>bgfb</td>
						<td class=" numeric-data">225</td>
						<td class=" numeric-data">337</td>
						<td class=" numeric-data">1</td>
						<td class=" numeric-data  break-word">$1.50</td>
						<td class=" numeric-data break-word">$2.50</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$2.50</td>
						<td class=" numeric-data break-word">$1.00</td>
						<td class=" numeric-data break-word">40%</td>
						<td class=" numeric-data break-word">$0.13</td>
					</tr>
					<tr class="editable odd" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">5546</td>
						<td class="sorting_1">Cheeseburger</td>
						<td>Food</td>
						<td>Sandwiches</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">2</td>
						<td class=" numeric-data">1</td>
						<td class=" numeric-data  break-word">$0.00</td>
						<td class=" numeric-data break-word">$7.50</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$7.50</td>
						<td class=" numeric-data break-word">$7.50</td>
						<td class=" numeric-data break-word">100%</td>
						<td class=" numeric-data break-word">$0.38</td>
					</tr>
					<tr class="editable even" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">6494</td>
						<td class="sorting_1">Chocolate </td>
						<td>Hot Drinks</td>
						<td>Tea</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">0</td>
						<td class=" numeric-data">3</td>
						<td class=" numeric-data  break-word">$0.00</td>
						<td class=" numeric-data break-word">$1.62</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$1.62</td>
						<td class=" numeric-data break-word">$1.62</td>
						<td class=" numeric-data break-word">100%</td>
						<td class=" numeric-data break-word">$0.09</td>
					</tr>
					<tr class="editable odd" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">5540</td>
						<td class="sorting_1">Ciabatta with chicken</td>
						<td>Food</td>
						<td>Sandwiches</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">-110</td>
						<td class=" numeric-data">1</td>
						<td class=" numeric-data  break-word">$0.00</td>
						<td class=" numeric-data break-word">$6.50</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$6.50</td>
						<td class=" numeric-data break-word">$6.50</td>
						<td class=" numeric-data break-word">100%</td>
						<td class=" numeric-data break-word">$0.33</td>
					</tr>
					<tr class="editable even" data-bind="click: selectItem" role="row">
						<td class=" row-expandable"><span class="expand-icon"></span>6762</td>
						<td class="sorting_1">Example Matrix</td>
						<td>Test Dep</td>
						<td>Test Cat</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">-2</td>
						<td class=" numeric-data">2</td>
						<td class=" numeric-data  break-word">$2.00</td>
						<td class=" numeric-data break-word">$3.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$3.00</td>
						<td class=" numeric-data break-word">$1.00</td>
						<td class=" numeric-data break-word">33.33%</td>
						<td class=" numeric-data break-word">$0.03</td>
					</tr>
					<tr class="editable odd" data-bind="click: selectItem" role="row">
						<td class=" row-expandable"><span class="expand-icon"></span>5804</td>
						<td class="sorting_1">gfd</td>
						<td>Department_with_Serials</td>
						<td>sort name</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">-7</td>
						<td class=" numeric-data">0</td>
						<td class=" numeric-data  break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word"></td>
						<td class=" numeric-data break-word">$0.00</td>
					</tr>
					<tr class="editable even" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">5545</td>
						<td class="sorting_1">Hamburger</td>
						<td>Food</td>
						<td>Sandwiches</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">-50</td>
						<td class=" numeric-data">1</td>
						<td class=" numeric-data  break-word">$75.40</td>
						<td class=" numeric-data break-word">$13.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$13.00</td>
						<td class=" numeric-data break-word">($62.40)</td>
						<td class=" numeric-data break-word">-480%</td>
						<td class=" numeric-data break-word">$0.65</td>
					</tr>
					<tr class="editable odd" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">274</td>
						<td class="sorting_1">iProd4</td>
						<td>Alcohol</td>
						<td>Craft beer</td>
						<td class=" numeric-data">1</td>
						<td class=" numeric-data">-301</td>
						<td class=" numeric-data">1</td>
						<td class=" numeric-data  break-word">$0.00</td>
						<td class=" numeric-data break-word">$43.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$43.00</td>
						<td class=" numeric-data break-word">$43.00</td>
						<td class=" numeric-data break-word">100%</td>
						<td class=" numeric-data break-word">$0.00</td>
					</tr>
					<tr class="editable even" data-bind="click: selectItem" role="row">
						<td class=" row-expandable">6488</td>
						<td class="sorting_1">Mango</td>
						<td>Hot Drinks</td>
						<td>Tea</td>
						<td class=" numeric-data"></td>
						<td class=" numeric-data">86</td>
						<td class=" numeric-data">11</td>
						<td class=" numeric-data  break-word">$16.00</td>
						<td class=" numeric-data break-word">$29.50</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$0.00</td>
						<td class=" numeric-data break-word">$29.50</td>
						<td class=" numeric-data break-word">$13.50</td>
						<td class=" numeric-data break-word">45.76%</td>
						<td class=" numeric-data break-word">$0.96</td>
					</tr>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_simple_numbers" id="productMixReportTable_paginate"><a class="paginate_button previous disabled" aria-controls="productMixReportTable" data-dt-idx="0" tabindex="0" id="productMixReportTable_previous">Previous</a><span><a class="paginate_button current" aria-controls="productMixReportTable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="productMixReportTable" data-dt-idx="3" tabindex="0">3</a></span><a class="paginate_button next" aria-controls="productMixReportTable" data-dt-idx="4" tabindex="0" id="productMixReportTable_next">Next</a></div>
		</div>
	</div>

{% endblock %}