---
title: Tax Report
headerTitle: Tax Report
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="pane-body item-list">
		<div id="taxReportMessages"></div>
		<div style="float:left;margin-left:-40px;" class="select-stores-width-adaptive">
			<!--ko compose: { view: 'controls/storesFilter.html', mode:'templated' }-->
			<div data-bind="if: $data.storesFilter.storesArr().length > 1" data-view="views/controls/storesFilter" data-active-view="true" style="">
				<div data-bind="with: $data.storesFilter, css: self.divStyle">
					<div class="stores-filter-label-wrapper" data-bind="visible: !labelNotVisible">
						<label data-bind="local: 'employees/manage-tabs/generalTab.stores'">Stores:</label>
					</div>
					<div data-bind="css: contStyle" class="filter_control_cont">
						<select class="form-control input-lg" data-bind="options: storesArr, optionsText: 'storeName', optionsValue: 'id',
							multipleSelect: storesArr, selectedElements: stores, multipleSelectOptions: setupMultiSelect(), attr: { id: name }" style="display: none;">
							<option value="5a4b11ccd458452facd24376cc851f7b">28 aug test</option>
							<option value="ea56b32ca4064c43b2d943700b5a796c">28 august store</option>
							<option value="df17c52b068e428e94046bcacfd33adb">BESTsTore</option>
							<option value="9b95b38021254511970c394af32606e1">FAstSTore</option>
							<option value="dec86c0a82174c449744d003e8f3dceb">ivanstore</option>
							<option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option>
							<option value="8c69323a6b28488f9f5e688f592979cf">New Store</option>
							<option value="662fd10aa39844839b3b909d232547a3">New Store  8931b</option>
							<option value="e926fc3cd7614d549d9ac824b3f92e23">New Store 32</option>
							<option value="b3dcb79fc4474880af4fd17c2f9ac400">New Store 8931a</option>
							<option value="a3474647d20d40a1b267cdc7cd141428">New Store a</option>
							<option value="887cc460a3dd47a79a14203dc23dd111">New Store s</option>
							<option value="b6f3d5c57a84498db16a3f5d4b22dfe6">New Store s2</option>
							<option value="fbff8a9bbec04e3f831b0c1b3f78184f">New Store X1</option>
							<option value="e359ba2d45c6467795cfe279152a7ccc">New Store X2</option>
							<option value="6050df646589491b81a3dd087204c5d4">New Store234</option>
							<option value="5d09b2d4754c498c8ec665b2ea4bf621">New Storeq</option>
							<option value="29e2ac6d8a094defa9369454323ba645">Olga Store</option>
							<option value="6298584313f54a40b31d6403e55614d5">Store 2</option>
							<option value="688cd61f63b24a5dadc4c526c0b2a7a2">Store 27</option>
							<option value="f596311134c747418136bd872557750c">Store 28</option>
							<option value="46116dbcea1c43fd8a91c797c668147c">Store 3</option>
							<option value="600172f4371c40aab4999b63a5775634">Store ulevan</option>
							<option value="eaa6a02e0a604f87a3450a897cd9649d">STORE!</option>
							<option value="46a47ec55ae34e5699a815196881f4bc">TestCreation</option>
							<option value="86240cf9e12e41e585183105da181f67">Vlad store</option>
							<option value="2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</option>
							<option value="028f25cf079a4019a12f67d575d11512">WestGuestCafe</option>
						</select>
						<div class="ms-parent" style="width: 200px;">
							<button type="button" class="select">
								<div class="fl">
									<div><input id="txtMs_data_undefined" class="filter-text  " type="text" dataid="data_undefined" selectid="undefined" placeholder="Select store(s)" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false"></div>
									<div>
										<div></div>
									</div>
								</div>
							</button>
							<div class="ms-drop bottom" data-name="multipleSelect3">
								<ul style="max-height: 250px;">
									<li><input id="allCheck" type="checkbox" name="selectAllmultipleSelect3"> <label for="allCheck">Select All</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="5a4b11ccd458452facd24376cc851f7b" id="id_multipleSelect3_5a4b11ccd458452facd24376cc851f7b"> <label for="id_multipleSelect3_5a4b11ccd458452facd24376cc851f7b">28 aug test</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="ea56b32ca4064c43b2d943700b5a796c" id="id_multipleSelect3_ea56b32ca4064c43b2d943700b5a796c"> <label for="id_multipleSelect3_ea56b32ca4064c43b2d943700b5a796c">28 august store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="df17c52b068e428e94046bcacfd33adb" id="id_multipleSelect3_df17c52b068e428e94046bcacfd33adb"> <label for="id_multipleSelect3_df17c52b068e428e94046bcacfd33adb">BESTsTore</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="9b95b38021254511970c394af32606e1" id="id_multipleSelect3_9b95b38021254511970c394af32606e1"> <label for="id_multipleSelect3_9b95b38021254511970c394af32606e1">FAstSTore</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="dec86c0a82174c449744d003e8f3dceb" id="id_multipleSelect3_dec86c0a82174c449744d003e8f3dceb"> <label for="id_multipleSelect3_dec86c0a82174c449744d003e8f3dceb">ivanstore</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="2d9e1fa2504149f1a36b2b7eaf90daef" id="id_multipleSelect3_2d9e1fa2504149f1a36b2b7eaf90daef"> <label for="id_multipleSelect3_2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="8c69323a6b28488f9f5e688f592979cf" id="id_multipleSelect3_8c69323a6b28488f9f5e688f592979cf"> <label for="id_multipleSelect3_8c69323a6b28488f9f5e688f592979cf">New Store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="662fd10aa39844839b3b909d232547a3" id="id_multipleSelect3_662fd10aa39844839b3b909d232547a3"> <label for="id_multipleSelect3_662fd10aa39844839b3b909d232547a3">New Store  8931b</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="e926fc3cd7614d549d9ac824b3f92e23" id="id_multipleSelect3_e926fc3cd7614d549d9ac824b3f92e23"> <label for="id_multipleSelect3_e926fc3cd7614d549d9ac824b3f92e23">New Store 32</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="b3dcb79fc4474880af4fd17c2f9ac400" id="id_multipleSelect3_b3dcb79fc4474880af4fd17c2f9ac400"> <label for="id_multipleSelect3_b3dcb79fc4474880af4fd17c2f9ac400">New Store 8931a</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="a3474647d20d40a1b267cdc7cd141428" id="id_multipleSelect3_a3474647d20d40a1b267cdc7cd141428"> <label for="id_multipleSelect3_a3474647d20d40a1b267cdc7cd141428">New Store a</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="887cc460a3dd47a79a14203dc23dd111" id="id_multipleSelect3_887cc460a3dd47a79a14203dc23dd111"> <label for="id_multipleSelect3_887cc460a3dd47a79a14203dc23dd111">New Store s</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="b6f3d5c57a84498db16a3f5d4b22dfe6" id="id_multipleSelect3_b6f3d5c57a84498db16a3f5d4b22dfe6"> <label for="id_multipleSelect3_b6f3d5c57a84498db16a3f5d4b22dfe6">New Store s2</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="fbff8a9bbec04e3f831b0c1b3f78184f" id="id_multipleSelect3_fbff8a9bbec04e3f831b0c1b3f78184f"> <label for="id_multipleSelect3_fbff8a9bbec04e3f831b0c1b3f78184f">New Store X1</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="e359ba2d45c6467795cfe279152a7ccc" id="id_multipleSelect3_e359ba2d45c6467795cfe279152a7ccc"> <label for="id_multipleSelect3_e359ba2d45c6467795cfe279152a7ccc">New Store X2</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="6050df646589491b81a3dd087204c5d4" id="id_multipleSelect3_6050df646589491b81a3dd087204c5d4"> <label for="id_multipleSelect3_6050df646589491b81a3dd087204c5d4">New Store234</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="5d09b2d4754c498c8ec665b2ea4bf621" id="id_multipleSelect3_5d09b2d4754c498c8ec665b2ea4bf621"> <label for="id_multipleSelect3_5d09b2d4754c498c8ec665b2ea4bf621">New Storeq</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="29e2ac6d8a094defa9369454323ba645" id="id_multipleSelect3_29e2ac6d8a094defa9369454323ba645"> <label for="id_multipleSelect3_29e2ac6d8a094defa9369454323ba645">Olga Store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="6298584313f54a40b31d6403e55614d5" id="id_multipleSelect3_6298584313f54a40b31d6403e55614d5"> <label for="id_multipleSelect3_6298584313f54a40b31d6403e55614d5">Store 2</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="688cd61f63b24a5dadc4c526c0b2a7a2" id="id_multipleSelect3_688cd61f63b24a5dadc4c526c0b2a7a2"> <label for="id_multipleSelect3_688cd61f63b24a5dadc4c526c0b2a7a2">Store 27</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="f596311134c747418136bd872557750c" id="id_multipleSelect3_f596311134c747418136bd872557750c"> <label for="id_multipleSelect3_f596311134c747418136bd872557750c">Store 28</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="46116dbcea1c43fd8a91c797c668147c" id="id_multipleSelect3_46116dbcea1c43fd8a91c797c668147c"> <label for="id_multipleSelect3_46116dbcea1c43fd8a91c797c668147c">Store 3</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="600172f4371c40aab4999b63a5775634" id="id_multipleSelect3_600172f4371c40aab4999b63a5775634"> <label for="id_multipleSelect3_600172f4371c40aab4999b63a5775634">Store ulevan</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="eaa6a02e0a604f87a3450a897cd9649d" id="id_multipleSelect3_eaa6a02e0a604f87a3450a897cd9649d"> <label for="id_multipleSelect3_eaa6a02e0a604f87a3450a897cd9649d">STORE!</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="46a47ec55ae34e5699a815196881f4bc" id="id_multipleSelect3_46a47ec55ae34e5699a815196881f4bc"> <label for="id_multipleSelect3_46a47ec55ae34e5699a815196881f4bc">TestCreation</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="86240cf9e12e41e585183105da181f67" id="id_multipleSelect3_86240cf9e12e41e585183105da181f67"> <label for="id_multipleSelect3_86240cf9e12e41e585183105da181f67">Vlad store</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="2b2f054ecc58450aa7c59cb9a03ec6ac" id="id_multipleSelect3_2b2f054ecc58450aa7c59cb9a03ec6ac"> <label for="id_multipleSelect3_2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</label></li>
									<li><input type="checkbox" name="selectItemmultipleSelect3" value="028f25cf079a4019a12f67d575d11512" id="id_multipleSelect3_028f25cf079a4019a12f67d575d11512"> <label for="id_multipleSelect3_028f25cf079a4019a12f67d575d11512">WestGuestCafe</label></li>
									<li class="ms-no-results">No matches found</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ko-->
		</div>
		<div class="pull-left select-stores-width-adaptive">
			<div class="stores-filter-label-wrapper">
				<label data-bind="local: 'taxReport.taxAgency2'">Tax Agency:</label>
			</div>
			<div class="pull-left">
				<select data-bind="options: agencies, optionsText: 'name', optionsValue: 'id', value: agencyId, optionsCaption: 'All'">
					<option value="">All</option>
					<option value="5c4803249782499491a8ef585a3a3608">111</option>
					<option value="d5ce17aac0614b968a54ec5bb01a558e">123</option>
					<option value="2217ba8718824f8aa4b2a83942cf96b8">2</option>
					<option value="06ea970799574a07b82cca64347b647c">231</option>
					<option value="d58a1b048c2445f4b7d79094bc4a3ef3">3</option>
					<option value="500e12811341484bb9bc5254e92e234b">355</option>
					<option value="2f8b597b1ad74a478389cc0d4d271d69">3565</option>
					<option value="07688e3043ee49248ebc49e39b24b97f">654</option>
					<option value="19c283df6f4a4bffaa653ecfe6ed3a49">88888</option>
					<option value="9482b5f692dd40bbba01f3bf66124792">abcd 12345</option>
					<option value="5ddef72ccc204185b7a154062cce91fd">Default Agency</option>
					<option value="89ec67c361f646719afe11e1efa77e34">Josh </option>
					<option value="c32781e1277d4bfc9985528d81d3d136">new taxxxx</option>
					<option value="96f2a0ec3c20431ebb7e0b30172a65c6">Tax test</option>
					<option value="89aeb153556c4dc99118e8c2e0bb8158">Янык</option>
				</select>
			</div>
		</div>
		<button class="btn btn-lg btn-primary" type="button" data-keypress="Enter" data-bind="local: 'common.searchButton', click: search" style="margin-left: 10px;">Search</button>
		<date-filter params="value: dateRange">
			<div class="pull-right">
				<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
					&nbsp;
					<span>Today</span> 
					<b class="caret"></b>
				</div>
			</div>
		</date-filter>
		<div class="report-export-wrapper pull-right">
			<a href="api/Transaction/ExportTaxReport" target="_blank" class="btn-report-export" data-bind="click: exportTableData, local: 'shell.exportReport'">Export</a>
			<i class="fa fa-file-excel-o" aria-hidden="true" data-bind="click: exportTableData"></i>
			<a style="display: none" id="taxReportLink"></a>
		</div>
		<br class="clear">
		<div class="loader-container" data-bind="visible: loading()" style="min-height: 400px; display: none;"></div>
		<div data-bind="visible: !loading()" class="mt30" style="">
			<p>
				<span data-bind="local: 'taxReport.totalSales'" id="txt-total-sales">Total Sales</span>:
				<strong data-bind="currency: totalSales" id="txt-total-sales-value">$927.68</strong>
			</p>
			<p>
				<span data-bind="local: 'taxReport.nonTaxableAmount'" id="txt-non-taxable">Non-Taxable Amount</span>:
				<strong data-bind="currency: nonTaxableAmount" id="txt-non-taxable-value">$209.01</strong>
			</p>
			<table id="tax-report-table" class="datatable dataTable">
				<thead>
					<tr>
						<th data-sort="taxName" data-bind="local: 'taxReport.taxName', click : sortClick" class="sorting_asc">Tax Name</th>
						<th data-sort="taxRate" data-bind="local: 'taxReport.taxRate', click : sortClick">Tax Rate</th>
						<th data-sort="taxableAmount" data-bind="local: 'taxReport.taxableAmount', click : sortClick">Taxable Amount</th>
						<th data-sort="taxCollected" data-bind="local: 'taxReport.taxCollected', click : sortClick">Tax Collected</th>
						<th data-sort="taxAgencyName" data-bind="local: 'taxReport.taxAgency', click : sortClick">Tax Agency</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: lines">
					<tr>
						<td>
							<div style="float:left; margin-left: 7px;" data-bind="text: taxName">1</div>
						</td>
						<td>
							<span data-bind="text: taxRate">1</span>%
						</td>
						<td data-bind="currency: taxableAmount">$128.44</td>
						<td data-bind="currency: taxCollected">$1.31</td>
						<td data-bind="text: taxAgencyName">123</td>
					</tr>
					<!--ko foreach: childLines--><!--/ko-->
					<tr>
						<td>
							<div style="float:left; margin-left: 7px;" data-bind="text: taxName">12 %</div>
						</td>
						<td>
							<span data-bind="text: taxRate">12.12</span>%
						</td>
						<td data-bind="currency: taxableAmount">$79.75</td>
						<td data-bind="currency: taxCollected">$9.64</td>
						<td data-bind="text: taxAgencyName">123</td>
					</tr>
					<!--ko foreach: childLines--><!--/ko-->
					<tr>
						<td>
							<div style="float:left; margin-left: 7px;" data-bind="text: taxName">District Tax</div>
						</td>
						<td>
							<span data-bind="text: taxRate">5</span>%
						</td>
						<td data-bind="currency: taxableAmount">$419.62</td>
						<td data-bind="currency: taxCollected">$21.05</td>
						<td data-bind="text: taxAgencyName"></td>
					</tr>
					<!--ko foreach: childLines--><!--/ko-->
					<tr>
						<td>
							<div style="float:left; margin-left: 7px;" data-bind="text: taxName">Federal Tax</div>
						</td>
						<td>
							<span data-bind="text: taxRate">10</span>%
						</td>
						<td data-bind="currency: taxableAmount">$17.99</td>
						<td data-bind="currency: taxCollected">$1.80</td>
						<td data-bind="text: taxAgencyName"></td>
					</tr>
					<!--ko foreach: childLines--><!--/ko-->
					<tr>
						<td>
							<div style="float:left; margin-left: 7px;" data-bind="text: taxName">Tax 10</div>
						</td>
						<td>
							<span data-bind="text: taxRate">10</span>%
						</td>
						<td data-bind="currency: taxableAmount">$20.00</td>
						<td data-bind="currency: taxCollected">$2.00</td>
						<td data-bind="text: taxAgencyName">Default Agency</td>
					</tr>
					<!--ko foreach: childLines--><!--/ko-->
				</tbody>
				<tfoot>
					<tr class="report-total">
						<td colspan="2">&nbsp;</td>
						<td><span data-bind="local: 'taxReport.total'">Total</span>:</td>
						<td data-bind="currency: taxCollected">$35.80</td>
						<td>&nbsp;</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

{% endblock %}