---
title: PO Receiving Details
headerTitle: PO Receiving Details
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="pane-body inventory" id="storeTransferDetails">
		<div class="report-export-wrapper pull-right drilldown">
			<form id="drilldownForm" method="post" action="PdfExport/Html2Pdf" style="display: none">
				<input type="hidden" name="html" id="drilldownFormHtml">
				<input type="hidden" name="fileName" id="drilldownFormFileName">
			</form>
			<div class="btn-group">
				<div class="dropdown js-exp">
					<button type="button" class="btn dropdown-toggle btn-report-export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showDropdown(event)">
						<span data-bind="local: 'shell.exportReport'">Export</span>
						<b class="caret"></b>
					</button>
					<div class="dropdown-menu js-exp-dd">
						<a class="dropdown-item" data-bind="attr: { href: exportTableData }" href="api/Products/ExportPODrilldown?id=3418350d-090a-4237-a58d-35c04045c57b&amp;ingredientMode=false&amp;storetransfer=false&amp;tzoffset=-180">
							<i class="fa fa-file-excel-o"></i>
							CSV
						</a>
						<a class="dropdown-item" data-bind="click: exportToPdf">
							<i class="ic ic-pdf"></i>
							PDF
						</a>
					</div>
				</div>
			</div>
			<script>
				function showDropdown(e) {
					$(e.currentTarget)
						.closest('.js-exp')
						.find('.js-exp-dd')
						.toggle();
				}
			</script>
		</div>
		<br class="clear"><br>
		<div id="storeTransferDetailsMessage"></div>
		<table class="store-transfer-attr">
			<tbody>
				<tr>
					<td data-bind="visible: !model.vendor()" style="display: none;">
						<span data-bind="local: 'storeTransfer.storeTransferId'">Store Transfer ID</span>
						<span data-bind="text: model.code">1642</span>
					</td>
					<td data-bind="visible: model.vendor()" style="">
						<span data-bind="local: 'poReceiving.poReceivingId'">PO Receiving ID</span>
						<span data-bind="text: model.code">1642</span>
					</td>
					<td data-bind="visible: model.vendor()" style="">
						<span data-bind="local: 'poReceiving.vendor'">Vendor</span>
						<span data-bind="text: model.vendor">10</span>
					</td>
					<td data-bind="visible: model.storeOut()" style="display: none;">
						<span data-bind="local: 'storeTransfer.storeOut'">Store Out</span>
						<span data-bind="text: model.storeOut"></span>
					</td>
					<td>
						<span data-bind="local: 'storeTransfer.storeIn'">Store In</span>
						<span data-bind="text: model.storeIn">BESTsTore</span>
					</td>
					<td>
						<span data-bind="local: 'storeTransfer.date'">Date</span>
						<span data-bind="text: model.date">13/06/2018 1:33:19 PM</span>
					</td>
					<td>
						<span data-bind="local: 'storeTransfer.employee'">Employee</span>
						<span data-bind="text: model.employee">Car Machine</span>
					</td>
					<td data-bind="visible: model.refNum" style="display: none;">
						<span data-bind="local: 'storeTransfer.refNum'">Ref Num</span>
						<span data-bind="text: model.refNum"></span>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="datatable dataTable">
			<thead>
				<tr>
					<th data-bind="local: 'storeTransfer.id'" style="width: 80px">ID</th>
					<th data-bind="local: 'storeTransfer.name'">Name</th>
					<th data-bind="html: $root.barCodeHeader">UPC</th>
					<th data-bind="local: 'storeTransfer.sku'">SKU</th>
					<th data-bind="local: 'ingredients.uom', visible:$root.isIngredientMode()" style="display: none;">UOM</th>
					<th data-bind="local: 'storeTransfer.cost'">Cost</th>
					<th>
						<span data-bind="visible: !model.vendor(), local: 'storeTransfer.transferQuantity'" style="display: none;">Transfer Qty</span>
						<span data-bind="visible: model.vendor(), local: 'poReceiving.receivedQuantity'" style="">Received Qty</span>
					</th>
					<th>
						<span data-bind="visible: !model.vendor(), local: 'storeTransfer.totalCostTransferred'" style="display: none;">Total Cost Transferred</span>
						<span data-bind="visible: model.vendor(), local: 'poReceiving.totalCostReceived'" style="">Total Cost Received</span>
					</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: model.inventoryTransferLines">
				<tr>
					<td>
						<span data-bind="text: $data.productCode, visible: $data.parentLineId == null  ">5511</span>
					</td>
					<td data-bind="text: $data.name">11_22_33</td>
					<td data-bind="text: $data.upc">2222222</td>
					<td data-bind="text: $data.sku"></td>
					<td data-bind="text: $data.uom, visible:$root.isIngredientMode()" style="display: none;">item</td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0 || $data.productType == 2 || ($data.productType == 1 &amp;&amp; $data.jsonVariants)">$0.00</td>
					<td data-bind="visible:$data.productType != 0 &amp;&amp; $data.productType != 2 &amp;&amp; !($data.productType == 1 &amp;&amp; $data.jsonVariants)" style="display: none;"></td>
					<td data-bind="text: $data.transferQuantity, visible:$data.productType == 0 || $data.productType == 2 || ($data.productType == 1 &amp;&amp; $data.jsonVariants)">1</td>
					<td data-bind="visible:$data.productType != 0 &amp;&amp; $data.productType != 2 &amp;&amp; !($data.productType == 1 &amp;&amp; $data.jsonVariants)" style="display: none;"></td>
					<td data-bind="currency: $data.totalCost">$0.00</td>
				</tr>
				<tr>
					<td>
						<span data-bind="text: $data.productCode, visible: $data.parentLineId == null  " style="display: none;">0</span>
					</td>
					<td data-bind="text: $data.name">a</td>
					<td data-bind="text: $data.upc"></td>
					<td data-bind="text: $data.sku"></td>
					<td data-bind="text: $data.uom, visible:$root.isIngredientMode()" style="display: none;"></td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0 || $data.productType == 2 || ($data.productType == 1 &amp;&amp; $data.jsonVariants)">$0.00</td>
					<td data-bind="visible:$data.productType != 0 &amp;&amp; $data.productType != 2 &amp;&amp; !($data.productType == 1 &amp;&amp; $data.jsonVariants)" style="display: none;"></td>
					<td data-bind="text: $data.transferQuantity, visible:$data.productType == 0 || $data.productType == 2 || ($data.productType == 1 &amp;&amp; $data.jsonVariants)">1</td>
					<td data-bind="visible:$data.productType != 0 &amp;&amp; $data.productType != 2 &amp;&amp; !($data.productType == 1 &amp;&amp; $data.jsonVariants)" style="display: none;"></td>
					<td data-bind="currency: $data.totalCost">$0.00</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th data-bind="attr: { colspan: $root.isIngredientMode() ? 5 : 4 }" colspan="4"></th>
					<th data-bind="local: 'storeTransfer.total'">Total</th>
					<th data-bind="text: model.transferredQuantity">1</th>
					<th data-bind="currency: model.totalCostTransferred">$0.00</th>
				</tr>
			</tfoot>
		</table>
		<div class="form-buttons">
			<input data-bind="click: model.back, local: 'storeTransfer.back'" class="btn btn-lg btn-primary" type="button" value="Back">
		</div>
	</div>

{% endblock %}