---
title: Empty 
headerTitle: Empty 
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="pane-body">
	</div>

	<div class="v-popup">
		<div class="v-popup__container">
			<div class="v-popup__header">
				{#<button class="v-popup__close">
					<i class="fa fa-close"></i>
				</button>#}
				<div class="v-popup__img" style="background-image: url(https://placekitten.com/g/200/200);"></div>
				<div class="v-popup__title">Welcome to eHopper!</div>
			</div>
			<div class="v-popup__body">
				<p>We are very excited to help you take the first steps in joining a community of the many other retailers and merchants who are choosing a smarter, easier, and better way of doing business!</p>
				<button class="v-popup__btn"><span>Start setup</span><i class="fa fa-arrow-right"></i></button>
			</div>
		</div>
	</div>
{% endblock %}