<!-- begin g-box -->
<div class="g-box" data-guide-upgrade>
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<a href="#" class="v-guide-link v-guide-content__back" data-guide-form-close="upgrade"><i class="fa fa-angle-left"></i>Previous</a>
		<div class="g-box__footer-row">
			<div class="g-box__footer-col">
				<button class="v-guide-btn v-guide-btn_wide g-box__btn" data-guide-form-open="upgrade">Upgrade to Freedom <i class="fa fa-angle-right"></i></button>
			</div>
			<div class="g-box__footer-col">
				<button class="v-guide-btn v-guide-btn_gray v-guide-btn_wide g-box__btn" data-guide-direction="next">Stay with Essential</button>
			</div>
		</div>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__container g-box__center">
			<div class="g-box__col g-box__video">
				<div class="g-box__video-in">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="g-box__col g-box__content">
				<div class="g-box__content-in">
					<iframe src="welcome-v2/upgrade.html" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end g-box -->