<!-- begin g-box -->
<div class="g-box" data-guide-upgrade>
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<a href="#" class="v-guide-link v-guide-content__back" data-guide-form-close="upgrade"><i class="fa fa-angle-left"></i>Previous</a>
		<div class="g-box__footer-row">
			<div class="g-box__footer-col">
				<button class="v-guide-btn v-guide-btn_wide g-box__btn" data-guide-form-open="upgrade">Upgrade to Freedom <i class="fa fa-angle-right"></i></button>
			</div>
			<div class="g-box__footer-col">
				<button class="v-guide-btn v-guide-btn_gray v-guide-btn_wide g-box__btn" data-guide-direction="next">Stay with Essential</button>
			</div>
		</div>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__container g-box__center">
			<div class="g-box__col g-box__video">
				<div class="g-box__video-in">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="g-box__col g-box__content">
				<div class="g-box__content-in">
					<iframe src="welcome-v2/upgrade.html" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end g-box -->

<!-- begin v-guide-content FORM -->
<div class="v-guide-content v-guide-content_form" data-guide-form="upgrade">
	<div class="v-guide-content__submit">
		<a href="#" class="v-guide-link v-guide-content__back" data-guide-form-close="upgrade"><i class="fa fa-angle-left"></i>Previous</a>
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-submit>Complete</button>
	</div>
	<div class="v-guide-content__inner v-guide-content__vertical">
		<div class="v-guide-content__center">
			{% include 'partials/components/_guide-form.html' %}
		</div>
	</div>
</div>
<!-- end v-guide-content FORM -->

<!-- begin v-guide-content SUCCESS PAYMENT -->
<div class="v-guide-content v-guide-content_success v-box" data-success>
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-direction="next">Get Started <i class="fa fa-angle-right"></i></button>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__container g-box__center">
			<div class="g-box__col g-box__video">
				<div class="g-box__video-in">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="g-box__col g-box__content">
				<div class="g-box__content-in">
					<div class="v-box__container">
						<div class="v-box__icon" data-animation="icon"> <i class="fa fa-check " aria-hidden="true"></i> </div>
						<h3 class="v-box__title" data-animation="title">Thank you for your payment</h3>
						<div class="v-box__description" data-animation="text">
							<p>Your account has been upgraded to Freedom.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end v-guide-content SUCCESS PAYMENT -->