{% macro call(props) %}
<!-- begin select -->
<div class="select-box {{props.errorClass}}">
	<div class="n-select js-select {{props.classList}}">
		<div class="n-select__field js-select-field">
			{% if props.placeholder %}
				<div class="n-select__placeholder">{{props.placeholder}}</div>
			{% endif %}
			<div class="n-select__value js-select-value">{{props.value or props.options[props.selected - 1]}}</div>
			<i class="fa fa-angle-down n-select__arrow"></i>
		</div>
		<div class="n-select__body js-select-dropdown">
			<ul class="n-select__list" data-scrollbar="default">
				{% for option in props.options %}
					<li class="n-select__item js-select-item">{{option}}</li>
				{% endfor %}
			</ul>
			{% if props.selectFooter %}
				<div class="n-select__footer">
					{{props.selectFooter | safe}}
				</div>
			{% endif %}
		</div>
	</div>
	{% if props.errorMessage %}
		<div class="error-message select-box__error-message">{{props.errorMessage}}</div>
	{% endif %}
</div>
<!-- end select -->
{% endmacro %}