<div class="pane-header pane-header_double">
	<div class="pane-header__left">
		<div class="toggle-options-panel-button" data-bind="click: clickButton">&nbsp;</div>
		<b><span data-part="navPath" data-bind="text: navigationPath">{{headerTitle}}</span></b>
	</div>
	<div class="pane-header__right">
		<button class="pane-header__back">
			<i class="fa fa-angle-left"></i>
			<span>{{headerBack or 'Back'}}</span>
		</button>
		<b class="pane-header__subtitle"><span>{{headerSubtitle}}</span></b>
	</div>
</div>