.v-filters
	font-size: 0
	&__row
		margin: 0 -10px
	&__cols,
	&__btn
		display: inline-block
		vertical-align: top
	&__cols
		width: calc(100% - 160px)
	&__col
		display: inline-block
		vertical-align: top
		width: 20%
		+r(1279)
			width: 33.33%
	&__col,
	&__btn
		padding: 10px
		font-size: 14px
	&__btn
		margin-top: 30px
	&__label
		font-size: 16px
		line-height: 20px
		padding-bottom: 10px
	select,
	.select
		width: 100%