<!-- begin v-guide-content FORM -->
<div class="v-guide-content v-guide-content_form v-guide-content_payment" data-modal-container="payment">
	<button class="v-guide-content__close" data-modal-close="payment">
		<i class="fa fa-close"></i>
	</button>
	<div class="v-guide-content__inner v-guide-content__vertical">
		<div class="v-guide-content__center">
			<h2 class="v-guide-content__title">Upgrade to Freedom</h2>
			{% include 'partials/components/_guide-form.html' %}
		</div>
	</div>
	<div class="v-guide-content__submit">
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-submit>Complete</button>
	</div>
</div>
<!-- end v-guide-content FORM -->
