<div class="barcode-filters">
	<div class="barcode-filters__item">
		<div class="barcode-filters__label">Store In</div>
		<select class="barcode-filters__select">
			<option value="2d9e1fa2504149f1a36b2b7eaf90daef">New CSP Store</option>
			<option value="8c69323a6b28488f9f5e688f592979cf">New Store</option>
			<option value="e926fc3cd7614d549d9ac824b3f92e23">New Store СЫЗ2</option>
			<option value="86240cf9e12e41e585183105da181f67">Vlad store</option>
			<option value="028f25cf079a4019a12f67d575d11512">West Guest Cafe</option>
			<option value="2b2f054ecc58450aa7c59cb9a03ec6ac">West Street Cafe</option>
		</select>
	</div>
	<div class="barcode-filters__search">
		<input class="form-control input-lg datatable-search scannerInput barcode-filters__input" type="text" placeholder="{{searchPlaceholder or 'Search item by title or code'}}">
		<button type="button" class="btn btn-lg btn-primary barcode-filters__btn">Search</button>
	</div>
	<div class="barcode-filters__checkbox">
		<input type="checkbox" id="barcodeDisplayList">
		<label for="barcodeDisplayList">Display list</label>
	</div>
</div>