<!-- begin v-guide-content -->
<div class="v-guide-content v-guide-content_vertical">
	<div class="v-guide-content__info v-guide-content__center">
		<div class="v-guide-content__img" style="background-image: url(https://placekitten.com/g/200/200);"></div>
		<div class="v-guide-content__description">
			<p>We are very excited to help you take the first steps in joining a community of the many other retailers and merchants who are choosing a smarter, easier, and better way of doing business!</p>
		</div>
	</div>
</div>
<!-- end v-guide-content -->