<!-- begin v-guide-content -->
<div class="v-guide-content">
	<div class="v-guide-content__inner">
		<div class="v-guide-content__info">
			<div class="v-guide-content__description">
				<p>We are very excited to help you take the first steps in joining a community of the many other retailers and merchants who are choosing a smarter, easier, and better way of doing business!</p>
			</div>
			<div class="v-guide-video v-guide-content__video">
				<div class="v-guide-video__inner">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="v-guide-content__submit">
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-direction="next">Start Setup <i class="fa fa-angle-right"></i></button>
	</div>
</div>
<!-- end v-guide-content -->