<!-- begin v-guide-content INFO -->
<div class="v-guide-content">
	<div class="v-guide-content__inner">
		<div class="v-guide-content__info">
			<div class="v-guide-video v-guide-content__video">
				<div class="v-guide-video__inner">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="v-guide-content__description">
				<iframe src="welcome-guide-second-step-iframe.html" frameborder="0" class="v-guide-content__iframe"></iframe>
			</div>
		</div>
	</div>
	<div class="v-guide-content__submit">
		<a href="#" class="v-guide-link v-guide-content__back" data-guide-direction="prev"><i class="fa fa-angle-left"></i>Previous</a>
		<a href="#" class="v-guide-link v-guide-content__link" data-guide-direction="next">Skip for now</a>
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-form-open="upgrade">Upgrade <i class="fa fa-angle-right"></i></button>
	</div>
</div>
<!-- end v-guide-content INFO -->

<!-- begin v-guide-content FORM -->
<div class="v-guide-content v-guide-content_form" data-guide-form="upgrade">
	<div class="v-guide-content__inner v-guide-content__vertical">
		<div class="v-guide-content__center">
			{% include 'partials/components/_guide-form.html' %}
		</div>
	</div>
	<div class="v-guide-content__submit">
		<a href="#" class="v-guide-link v-guide-content__link" data-guide-direction="next">Skip for now</a>
		<a href="#" class="v-guide-link v-guide-content__back" data-guide-form-close="upgrade"><i class="fa fa-angle-left"></i>Previous</a>
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-submit>Complete</button>
	</div>
</div>
<!-- end v-guide-content FORM -->

<!-- begin v-guide-content SUCCESS PAYMENT -->
<div class="v-guide-content v-guide-content_success v-box" data-success>
	<div class="v-guide-content__inner v-guide-content__vertical">
		<div class="v-guide-content__center">
			<div class="v-box__container">
				<div class="v-box__icon" data-animation="icon"> <i class="fa fa-check " aria-hidden="true"></i> </div>
				<h3 class="v-box__title" data-animation="title">Thank you for your payment</h3>
				<div class="v-box__description" data-animation="text">
					<p>Your account has been upgraded to Freedom.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="v-guide-content__submit" data-animation="form">
		<button class="v-guide-btn v-guide-btn_wide v-guide-content__btn" data-guide-direction="next">Get Started <i class="fa fa-angle-right"></i></button>
	</div>
</div>
<!-- end v-guide-content SUCCESS PAYMENT -->