<!-- begin v-guide-content -->
<div class="v-guide-content v-guide-content_simple">
	<div class="v-guide-pricing">
		<div class="v-guide-pricing__header">
			{% for item in [
				'Essential Package',
				'Freedom Package'
			] %}
				<div class="v-guide-pricing__item">
					<div class="v-guide-pricing__title">{{item}}</div>
					<div class="v-guide-pricing__btn">
						<button class="v-guide-btn v-guide-btn_wide"><span>Get Started!</span></button>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="v-guide-pricing__body">
			{% for item in [
				{
					label: 'Price',
					essential: '<div class="v-guide-pricing__price"><small>$</small><strong>0.00</strong></div>',
					freedom: '<div class="v-guide-pricing__price"><small>$</small><strong>39.99</strong><span>per month, per register</span></div>'
				},
				{
					label: 'License fee',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Limit',
					essential: 'Limited to 1 Register',
					freedom: 'Unlimited Registers ($39.99/mo per register)'
				},
				{
					label: 'Works on Android tablets, iPad and Windows PC *',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Point of Sale',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Order Tracking',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Inventory Management',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Customer Management',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Tip Management',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Modifier Management',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Include/Exclude Taxes',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Assign Taxes to Products',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Include Tax in Product Price',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Full/Split Payment',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Print/Email Receipts',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Reporting',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Online Documentation',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: '<a href="https://ehopper.com/hardware/#device-requirements">Use your own hardware</a> or <a href="#">Purchase new hardware</a>',
					state: true,
					essential: 'check',
					freedom: 'check'
				},
				{
					label: 'Merchant services integration',
					essential: '(Credit/Debit) with A1 Charge',
					freedom: 'A1 Charge or your own'
				},
				{
					label: 'EBT',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Use eHopper on <a href="https://ehopper.com/poynt-pos/">Poynt</a> Terminal',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Clock in/Clock Out',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Menu Builder',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Inventory Matrix',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Ingredients Management',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Inventory Adjustments',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Store Transfer',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Purchase Order Receiving',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Puerto Rico Control #',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'QuickBooks Integration',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Email support',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Implementation & training',
					state: true,
					essential: 'close',
					freedom: 'check'
				},
				{
					label: 'Phone & chat support – 7 days a week',
					state: true,
					essential: 'close',
					freedom: 'check'
				}
			] %}
				<div class="v-guide-pricing__row">
					<div class="v-guide-pricing__item">
						{% if not item.state %}
							{{item.essential | safe}}
						{% elif item.state and item.essential == 'check' %}
							{{item.label | safe}}
						{% elif item.state and item.essential == 'close' %}
							<span class="v-guide-pricing__disabled">{{item.label | safe}}</span>
						{% endif %}
					</div>
					<div class="v-guide-pricing__item">
						{% if not item.state %}
							{{item.freedom | safe}}
						{% elif item.state and item.freedom == 'check' %}
							{{item.label | safe}}
						{% elif item.state and item.freedom == 'close' %}
							<span class="v-guide-pricing__disabled">{{item.label | safe}}</span>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end v-guide-content -->