<!-- begin v-guide-content -->
<div class="v-guide-content v-guide-content_simple">
	<div class="v-guide-content__inner">
		<div class="v-guide-demo">
			<div class="v-guide-video v-guide-demo__video">
				<div class="v-guide-video__inner v-guide-demo__video-in">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="v-guide-demo__table">
				<div class="v-guide-demo__row">
					<div class="v-guide-demo__container">
						<div class="v-guide-demo__inner">
							<div class="v-guide-demo__description">
								<div class="v-guide-demo__title">Freedom Plan Demo</div>
								<p>New to eHopper POS? Select one of the demos below to test drive all features available on eHopper under the Freedom plan. You can try up to 200 transactions then demo test will be erased.</p>
							</div>
							<div class="v-guide-selection v-guide-demo__selection">
								<ul class="v-guide-selection__items">
									{% for item in [
										{
											id: 'food-drinks',
											img: 'content/images/demo/qsr.png',
											color: 'rgb(236, 165, 53)',
											title: 'Food &amp; Drinks',
											list: [
												'Ingredients',
												'Modifiers',
												'Orders &amp; Tips',
												'Delivery',
												'Sales &amp; Kitchen Receipts'
											]
										},
										{
											id: 'retail-store',
											img: 'content/images/demo/retail.png',
											color: 'rgb(45, 167, 130)',
											title: 'Retail Store',
											list: [
												'Inventory Matrix: ex vendor, style, color, size',
												'Multi Store support',
												'Vendor management',
												'Retail Reports'
											]
										},
										{
											id: 'serialized-store',
											img: 'content/images/demo/serialized.png',
											color: 'rgb(139, 98, 175)',
											title: 'Serialized Store',
											list: [
												'Full Inventory Management',
												'Serialized Items Tracking',
												'Aging Report'
											]
										},
										{
											id: 'grocery',
											img: 'content/images/demo/grocery.png',
											color: 'rgb(73, 161, 174)',
											title: 'Grocery',
											list: [
												'Same as QSR',
												'Full Inventory Control',
												'Unit Priced Items: lb., oz.,  kg., etc.'
											]
										},
										{
											id: 'fresh-start',
											classList: 'v-guide-selection__item_special',
											title: 'Skip Demo',
											text: 'Use this option if you are ready to use the product right away and don’t want any demos or sample data.'
										}
									] %}
										<li class="v-guide-selection__item {{item.classList}}">
											<a href="#" class="v-guide-selection__container" {% if item.img and item.color %}style="background-image: url({{item.img}}); background-color: {{item.color}};"{% endif %}>
												<div class="v-guide-selection__title">{{item.title | safe}}</div>
												{% if item.list %}
													<ul class="v-guide-selection__list">
														{% for item in item.list %}
															<li>{{item | safe}}</li>
														{% endfor %}
													</ul>
												{% endif %}
												{% if item.text %}
													<div class="v-guide-selection__text">
														<p>{{item.text}}</p>
													</div>
												{% endif %}
											</a>
											<div class="v-guide-selection__meta">{{item.meta or 'Select'}}</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end v-guide-content -->