.n-search
	position: relative
	+clr
	&__field
		overflow: hidden
	&__aside
		float: right
		padding-left: 20px
	&__btn
		display: inline-block
		vertical-align: top
		padding: 0
		border-radius: 3px
		width: 160px
	&__btn,
	&__link
		margin-right: 8px
		height: 53px
		line-height: 53px
		font-size: 16px
		text-align: center
		text-decoration: none
		+hover
			text-decoration: underline
		&.is-active
			text-decoration: underline
			
