.n-search
	position: relative
	+clr
	&_sidebar
		padding-bottom: 20px
	&__field
		position: relative
		overflow: hidden
		input
			padding-left: 40px
	&__icon
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 40px
		color: #c8cbd4
		font-size: 20px
		line-height: 53px
		text-align: center
	&__aside
		float: right
		padding-left: 20px
	&__link
		margin-right: 8px
		height: 53px
		line-height: 53px
		font-size: 16px
		text-align: center
		text-decoration: none
		+hover
			text-decoration: underline
		&.is-active
			text-decoration: underline
	&__links
		margin: 0 -10px
		font-size: 0
	&__col
		display: inline-block
		vertical-align: top
		padding: 0 10px 20px
		width: 25%
	&__btn
		display: inline-block
		vertical-align: top
		width: 100%
		min-width: 100%
		font-size: 16px