{% import "partials/_mixins.html" as mixins %}
{% import "partials/form/_form.html" as form %}
<!doctype html>
<html>
	<head>
		<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
		<base /> 
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

		<link rel="shortcut icon" href="content/favicon.ico">
		<link rel="stylesheet" href="content/bootstrap.css" />
		<link rel="stylesheet" href="content/bootstrap-NsBo-theme.css" />
		<link rel="stylesheet" href="content/font-awesome.css" />
		<link rel="stylesheet" href="content/durandal.css" />
		<link rel="stylesheet" href="content/morrisJs/morris.css" />
		<link rel="stylesheet" href="content/jquery.datatables/css/jquery.dataTables.css" />
		<link rel="stylesheet" href="content/datepicker/jquery.datetimepicker.css" />
		<link rel="stylesheet" href="content/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="content/colorpicker/bootstrap.colorpickersliders.css" />
		<link rel="stylesheet" href="content/jQuery-File-Upload/css/jquery.fileupload.css" />
		<link rel="stylesheet" href="content/slim/slim.min.css" />
		<link rel="stylesheet" href="content/jQuery-Tag-Input/jquery.tag-editor.css" />
		<link rel="stylesheet" href="content/app.css" />
		<link rel="stylesheet" href="css/new-app.css" />
	</head>
	<body>
	
		<div id="applicationHost">
			{% if toolbar %}
				<div class="v-toolbar">
					<button class="btn btn-upgrade v-toolbar__btn" data-modal-target="payment">Upgrade</button>
					<div class="v-toolbar__content">
						<p>You a currently working in Demo Mode. You free trial ends in 197 transactions. <a href="#">Go Essential</a>.</p>
					</div>
				</div>
			{% endif %}
			<div class="main-container">
				{% if nav %}
					<div data-bind="compose:'viewmodels/navigationpanel'">
						<div class="navigation-panel" data-view="views/navigationpanel" data-active-view="true" style="display: block;">

							<div class="pane pane-left">
								<div class="pane-header">
									<p class="logo" data-bind="click: close">
										<span class="fa fa-chevron-left"></span>
										<span class="enterprise-name" data-bind="text: title, attr: { title: title }" title="INSIDER">INSIDER</span>
									</p>
								</div>

								<div class="pane-body-wrapper">
									<div class="pane-body">
										<!-- ko if: isDemo --><!-- /ko -->
										<ul class="main-menu" data-bind="foreach: router.navigationModel">
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="dashboard-icon active">Dashboard</a>
												<!-- ko if: $data.childRoutes !== undefined  --><!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#orders" class="transactions-icon">Orders</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#order-details/:id">Order Details</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="hasSubitems">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="inventory-icon">Inventory</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#departments">Departments</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#categories">Categories</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#itemModifiers">Modifiers</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#items">Products</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#menuBuilder">Menu Builder</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#store-transfer">Store Transfer</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#po-receiving">PO Receiving</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#adjustment">Inventory Adjustment</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="hasSubitems">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="customers-icon">Customers</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#importCustomers">Import Customers</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="hasSubitems">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="vendors-icon">Vendors</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#vendorsList">Vendor List</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="hasSubitems">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="employees-icon">Employees</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#employees">Employee List</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#clockIn">Time Clock</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="open">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="reports-icon">Reports</a>
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="hasSubitems">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="app-store-icon">Apps</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-directory">App Directory</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#appdepartments/:isAppMode">App Departments</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#appcategories/:isAppMode">App Categories</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#quickbooks">QuickBooks Online</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_METROPORT-settings/139f7a7a-7161-4389-b6af-0d469579f195">MetroPCS Port Eligibility</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_PROGRESSIVE-settings/ea6e7ba8-685b-48f1-a0ac-3b67997b1124">Progressive Financing</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_METROEDGE-settings/97acfdd3-2ccd-437a-a6ba-712fddad5a40">MetroPCS EDGE</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_SMARTPAY-settings/fb2830f6-ccaf-4bee-a707-788b1f12a2e2">Smartpay Leasing</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_TRACFONEACTIVATION-settings/b7fb4bc2-cf24-40d1-954a-cce43608d0c9">TracFone Phone Activation</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_METROACTIVATION-settings/0d23bf69-1b6b-495e-bb62-cec9422083d4">MetroPCS Phone Activation</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_INCOMM-settings/2a6a055f-a322-4b0b-a4d2-dce9a80a1ce9">Incomm 5.0 payment</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#app-WS_INCOMMTRACFONE-settings/b408f79b-93a2-4f1a-8d6f-e76847803ec1">Incomm Airtime/Redemption</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="hasSubitems">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#" class="manage-app-icon">Settings</a>
												<!-- ko if: $data.childRoutes !== undefined  -->
												<ul data-bind="foreach: $data.childRoutes.routes">
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#enterpriseSettings">Company Settings</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#stores">Store Settings</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#registerSettings">Register Settings</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#taxes">Tax Manager</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#tax-agencies">Tax Agencies</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission" style="display: none;">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#">Tender Settings</a>
													</li>
												
													<li data-bind="visible: nav, permission: $data.permission">
														<a data-bind="attr: { href: hash }, text: $root.itemLabel($data), click: $root.selectMenu" href="#support-access">eHopper Support Access</a>
													</li>
												</ul>
												<!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="Zendesk/Login" target="_blank" class="customers-icon">Community</a>
												<!-- ko if: $data.childRoutes !== undefined  --><!-- /ko -->
											</li>
											<!-- /ko -->
											<!-- ko if: $data.parent === undefined  -->
											<li data-bind="visible: nav, css: { hasSubitems: $data.childRoutes !== undefined &amp;&amp; !$data.noSubItems }, permission: $data.permission" class="">
												<a data-bind="attr: { href: $data.link || hash, target: $data.link &amp;&amp; '_blank' }, text: $root.itemLabel($data), css: iconClass, click: $root.selectMenu" href="#logout" class="logout-icon">Logout</a>
												<!-- ko if: $data.childRoutes !== undefined  --><!-- /ko -->
											</li>
											<!-- /ko -->
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
				{% endif %}

				{% if nav %}
				<section id="content" class="show-content">
				{% else %}
				<section id="content" class="hide-content">
				{% endif %}

					{% if singleLayout %}
						{% block contentSingle %}{% endblock %}
					{% else %}
						<div class="pane pane-right">
							{% include "partials/_header.html" %}
							{% if iHeader %}
								{% for item in iHeader %}
									{% set iHeader = item %}
									{% include 'partials/components/_i-header.html' %}
								{% endfor %}
							{% endif %}
							<div class="pane-body-wrapper {{paneBodyWrapperClassList}}">
								{% block content %}{% endblock %}
							</div>
						</div>
					{% endif %}
					
				</section>
			</div>
		</div>

		<!-- BEGIN scripts -->
		<script type="text/javascript" src="js/app.js"></script>
		<!-- END scripts -->

	</body>
</html>
