.i-tooltip
	position: relative
	display: inline-block
	vertical-align: top
	font-size: 0
	i
		width: 53px
		height: 53px
		color: #333
		font-size: 25px
		line-height: 53px
		text-align: center
		cursor: pointer
		&:hover + .i-tooltip__box
			opacity: 1
			visibility: visible
	&__box
		position: absolute
		left: 50%
		bottom: 100%
		width: 360px
		opacity: 0
		visibility: hidden
		transform: translate3d(-65%,-10px,0)
		transition: opacity 0.25s, visibility 0.25s
		.i-tooltip.is-active &
			opacity: 1
			visibility: visible
	&__arrow
		position: absolute
		top: 100%
		right: 35%
		margin-right: -30px
		width: 60px
		height: 40px
		overflow: hidden
		pointer-events: none
		&:before
			content: ''
			display: block
			margin: -10px auto 0
			width: 20px
			height: 20px
			background: $white
			box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
			transform: rotate(45deg)
	&__content
		padding: 8px
		color: #333
		background: $white
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
		font-size: 14px
		p 
			margin: 0
			+ p 
				margin-top: 10px
