.modifier-report
	&__filters
		padding: 20px 20px 5px
		min-width: 1700px
		&_sm
			min-width: 1400px
	&__container
		width: 100%
	&__row
		margin: 0 -10px 
		+clr
	&__col
		position: relative
		float: left
		padding: 0 10px 15px
		label
			display: inline-block
			vertical-align: middle
			padding-right: 10px
			//max-width: 100px
			max-width: 120px
	&__col
		width: 100%
		&_xs
			width: 20%
		&_sm
			width: 25%
	&__action
		float: right
	select, .select, &__multi-select
		display: inline-block
		vertical-align: middle
		width: 210px
	&__multi-select
		+clr
		.stores-filter-label-wrapper
			display: none !important
	&__table-wrapper
		padding: 0 20px 40px
	&__search-icon
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 40px
		color: #c8cbd4
		font-size: 20px
		line-height: 53px
		text-align: center
	&__search-input
		padding-left: 40px
	&__search 
		position: relative