.sm-configurable
	position: relative
	text-align: center
	&_update
		padding: 5px 15px 11px !important
	&__input
		border: none
		border-bottom: 1px solid #ccc
		width: 100%
		text-align: right
		transition: border-color ease-in-out .15s
		&:focus
			border-color: #66afe9
	&__units
		position: absolute
		right: 15px
		bottom: 2px
		font-size: 12px
		line-height: 1