.sm-configurable
	position: relative
	text-align: center
	+hover
		.sm-configurable
			&__btn
				display: block
	&.is-open
		.sm-configurable
			&__input
				opacity: 1
				visibility: visible
	&__input
		position: absolute
		top: 0
		left: 0
		right: 0
		border: none
		border-bottom: 1px solid #ccc
		width: 100%
		opacity: 0
		visibility: hidden
		text-align: center
	&__btn
		float: right
		display: none
		padding: 0
		border: none
		background: none
		font-size: 24px
	&__text
		display: block
		overflow: hidden
		padding-right: 8px
		line-height: 24px
		+text-overflow
