.v-popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow: auto
	padding: 20px
	background: rgba($black, 0.7)
	+vertical
	&_md 
		.v-popup
			&__container
				width: 1024px
			&__body 
				overflow: auto
				height: 516px - 50px
				background: rgba($darkGray, 0.15)
				&_white
					background: $white
	&__container
		position: relative
		display: inline-block
		vertical-align: middle
		overflow: hidden
		width: 400px
		background: $white
		box-shadow: 0 2px 7px 1px rgba($black, 0.5)
		text-align: center
	&__header
		position: relative
		padding: 13px 20px
		color: $white
		background: $blue
		.v-popup__img
			margin: -50px auto 12px
			+ .v-popup__title
				padding-bottom: 12px
	&__close
		position: absolute
		top: 0
		right: 0
		border: none
		width: 50px
		height: 50px
		color: inherit
		opacity: 0.5
		background: none
		+vertical
		transition: opacity 0.25s
		&:hover 
			opacity: 1
		i 
			display: inline-block
			vertical-align: middle
			font-size: 24px
	&__img
		border-radius: 50%
		width: 100px
		height: 100px
		+cover
	&__title
		font-size: 24px
		font-weight: bold
		line-height: 1
	&__body 
		color: #aaa
		+clr
		p 
			margin: 0
			font-size: 16px
	&__btn 
		padding: 1px 0 2px
		border: none 
		color: #333
		background: none
		+vertical
		transition: opacity 0.25s
		&:hover 
			span + i 
				transform: translate3d(5px,0,0)
		&:disabled
			opacity: 0.5
			cursor: not-allowed
			span + i 
				transform: translate3d(0,0,0)
		&:not(:first-child)
			margin-top: 20px
		&_left,
		&_right
			position: absolute
			top: 20px
			margin: 0 !important
		&_left 
			left: 20px
		&_right
			right: 20px
		span,
		i 
			display: inline-block
			vertical-align: middle
			font-size: 16px
			text-transform: uppercase
		span 
			font-weight: bold
			+ i 
				margin-left: 5px
				transition: transform 0.25s
	&__video
		position: relative
		padding-bottom: 56.25%
		width: 100%
		height: 0
		&:not(:first-child)
			margin-top: 20px
		iframe 
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
	&__content
		font-size: 0
		+clr
		// .v-popup
		// 	&__img,
		// 	&__description
		// 		display: inline-block
		// 		vertical-align: middle
		// 	&__img 
		// 		margin-right: -100px
		// 	&__description
		// 		padding-left: 120px
		.v-popup__img
			margin: 0 auto 20px
	&__frame
		&:not(:first-child)
			margin-top: 20px
		iframe
			width: 500px
			height: 232px
	&__row 
		padding: 0 10px 75px
		margin-bottom: -65px
		height: 100%
	&__col
		float: left
		padding: 40px 10px
		width: 50%
		height: 100%
		.v-popup__frame,
		iframe
			width: 100%
			height: 100%
	&__description
		margin: 0 auto
		max-width: 400px
	&__submit
		position: relative
		padding: 20px
		+clr
		&_mod 
			padding: 0 20px 12px
	&__button
		padding: 15px 16px
		border-radius: 3px
		font-size: 16px
		line-height: 21px
	&__section 
		background: $white
		transform: translate3d(100%,0,0)
		transition: transform 0.5s linear
		&.is-active 
			+gpu
		&.is-prev
			transform: translate3d(-100%,0,0)
		&:not(:first-child)
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
	&__text 
		padding: 20px
		color: $darkGray
		background: $white
		text-align: left
		p 
			font-size: 17px
	&__footer
		padding: 15px 20px
		color: $darkGray
		text-align: left
		+clr
		&-btn 
			float: right
			padding: 13px 0 13px 20px
		&-in 
			overflow: hidden
		p 
			font-size: 18px
	&__link
		position: relative
		display: inline-block
		vertical-align: top
		padding: 5px 0
		margin: 0
		border: none
		color: $blue
		background: none
		font-size: 28px
		font-weight: 700
		&:hover 
			&:before 
				opacity: 0
		&:before 
			content: ''
			position: absolute
			z-index: -1
			left: 0
			right: 0
			bottom: 7px
			border-bottom: 2px solid $blue
			transition: opacity 0.25s

.v-selection
	overflow: hidden
	border-bottom: 4px solid $red
	text-align: left
	&__items
		padding: 0
		margin: 0 -1px
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		border-right: 1px solid #fff
		border-left: 1px solid #fff
		width: 25%
	&__container
		position: relative
		display: block
		padding: 15px 20px 60px
		height: 230px
		color: $white !important
		opacity: 0.7
		background-position: left bottom
		background-repeat: no-repeat
		font-weight: 700
		text-shadow: 1px 1px #333
		text-decoration: none !important
		cursor: pointer
		transition: opacity 0.25s
		&:hover 
			opacity: 1
	&__title 
		padding-bottom: 10px
		font-size: 24px
		line-height: 26px
	&__list 
		padding: 0
		font-size: 14px
		line-height: 21px
		li 
			&:before 
				content: '• '
	&__list,
	&__list li,
	&__items,
	&__item
		list-style-type: none
	&__meta
		position: absolute
		right: 20px
		bottom: 10px
		padding: 13px 31px 13px 16px
		border-radius: 3px
		background: $blue
		font-size: 14px
		line-height: 20px
		text-transform: uppercase
		&:after
			content: '›'
			position: absolute
			top: 9px
			right: 10px
			font-size: 2.2em
			font-weight: normal

.v-pricing
	border-bottom: 1px solid #ccc
	height: 100%
	font-size: 0
	&__table 
		height: 100%
	&__header
		box-shadow: 0 15px 45px -5px rgba(39,55,74,.15), 0 15px 40px -20px rgba(39,55,74,.1)
		text-align: right
		.v-pricing__col 
			color: $darkGray
			font-size: 24px
			font-weight: 700
			&:not(:first-child)
				border-left: 1px solid #c1cbd4
	&__body
		overflow: auto
		height: calc(100% - 60px)
		.v-pricing__row
			&:hover 
				background: #f1f3f5
	&__row
		+clr
	&__col 
		position: relative
		// float: left
		display: inline-block
		vertical-align: middle
		padding: 13px 20px
		width: 50%
		color: $darkGray
		font-size: 16px
		text-align: center
		a 
			color: $blue 
			transition: color 0.25s
			&:hover
				color: lighten($blue, 10%)
		.fa 
			font-size: 22px
		.fa-check 
			color: $green 
		.fa-close 
			color: $red
	&__label
		width: 44%
		text-align: left
	&__price 
		position: relative
		line-height: 1
		small 
			font-size: 36px
		strong
			font-size: 48px
		span 
			display: block
			font-size: 16px
	&__disabled
		color: #aaa
		text-decoration: line-through
	&__btn 
		padding: 13px 20px
		color: $white
		background: $blue
		font-size: 18px