.v-guide-btn
	display: inline-block
	vertical-align: top
	padding: 18px 20px 19px
	margin: 0
	border: none 
	border-radius: 3px
	color: $white
	background: $blue
	font-size: 16px
	line-height: 1
	text-align: center
	&:hover 
		background: #1B79B2
	&:active
		background: #286090
	&_wide
		width: 100%