.v-guide-demo
	padding: 0 0 30px
	margin: 0 auto
	max-width: 980px
	font-size: 0
	&__inner
		// background: $white
		// box-shadow: 0 15px 45px -5px rgba(39,55,74,.15), 0 15px 40px -20px rgba(39,55,74,.1)
	&__video
		margin: 0 auto 20px
		max-width: 600px
		+rh($demoBreakpoint)
			max-width: 500px
		+rh($demoBreakpointSM)
			max-width: 400px
	&__title
		margin-bottom: 15px
		font-size: 22px
		font-weight: 700
		+rh($demoBreakpointSM)
			margin-bottom: 0
		+rh($demoBreakpoint)
			font-size: 18px
			line-height: 1.3
		+r(1024)
			font-size: 18px
			line-height: 1.3
	&__description
		padding: 20px
		margin: 0 auto 
		color: $gray
		// text-align: left 
		text-align: center
		+rh($demoBreakpoint)
			font-size: 14px
			line-height: 1.3
		+r(1024)
			font-size: 14px
			line-height: 1.3
	// &__table
	// 	display: table
	// 	table-layout: fixed
	// 	width: 100%
	// &__row 
	// 	display: table-row
	// &__container,
	// &__footer
	// 	position: relative
	// 	display: table-cell
	// 	vertical-align: top
	&__container
		// padding-right: 20px
		// width: 70%
	&__footer
		padding: 20px
		width: 30%
		background: $white
		box-shadow: 0 15px 45px -5px rgba(39,55,74,.15), 0 15px 40px -20px rgba(39,55,74,.1)
		text-align: left
		+clr
		+rh($demoBreakpoint)
			font-size: 16px
			line-height: 1.3
		+r(1024)
			font-size: 16px
	&__description,
	&__footer
		font-size: 18px
		line-height: 25px
		p 
			padding: 0
			margin: 0
			+ p 
				margin-top: 5px
	&__btn
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 10px
		text-align: center
	&__link
		position: relative
		display: inline-block
		vertical-align: top
		padding: 13px 31px 13px 16px
		border-radius: 3px
		color: $white !important
		background: $blue
		font-size: 14px
		font-weight: 700
		line-height: 20px
		text-transform: uppercase
		text-decoration: none !important
		+rh($demoBreakpointSM)
			padding: 5px 31px 5px 10px
		&:after
			content: '›'
			position: absolute
			top: 9px
			right: 10px
			font-size: 2.2em
			font-weight: normal
			+rh($demoBreakpointSM)
				top: 1px
