$demoBreakpoint: 880
$demoBreakpointSM: 730

$contentBreakpoint: 760

$stepWidth: 33.33%

@import steps
@import video
@import btn
@import link
@import pricing
@import selection
@import demo
@import content
@import main