.v-guide-link
	display: inline-block
	vertical-align: top
	outline: none !important
	color: $darkGray
	background: none
	font-size: 22px
	text-decoration: underline
	transition: color 0.25s
	&:hover 
		color: $blue
	.fa-angle-left 
		margin-right: 8px