.v-guide
	position: fixed
	z-index: 2000
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow: auto
	background: #f8f8f8
	&__container
		height: calc(100% - 135px)
		min-height: calc(600px - 135px)
		+sm 
			min-height: auto
	.slick-list,
	.slick-track,
	.slick-slide,
	.slick-slide > div,
	&__item
		position: relative
		height: 100%
	&_adaptive
		.slick-list,
		.slick-track,
		.slick-slide,
		.slick-slide > div,
		.v-guide__item
			// +md 
				// height: auto
	.is-hidden
		display: none
	&__item
		+md 
			overflow: auto
	.loader-container
		z-index: 510

.v-guide-loader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 600