<div>
	{% include 'partials/store-transfer/_filters.html' %}
	<div id="storeTransferMessage"></div>
	<div class="min-table-width-wrapper">
		<table class="datatable dataTable min-table-width inventory-transfer-list" role="grid">
			<thead>
				<tr role="row">
					<th data-bind="local: 'storeTransfer.id'" class="product-id">ID</th>
					<th data-bind="local: 'storeTransfer.name'" class="product-name">Name</th>
					<th data-bind="local: 'storeTransfer.upc'">UPC</th>
					<th data-bind="local: 'storeTransfer.sku'">SKU</th>
					<th data-bind="local: 'storeTransfer.cost'">Cost</th>
					<th data-bind="local: 'storeTransfer.storeOutQuantity'">Store Out Qty</th>
					<th data-bind="local: 'storeTransfer.storeInQuantity'">Store In Qty</th>
					<th data-bind="local: 'storeTransfer.transferQuantity'">Transfer Qty</th>
					<th data-bind="visible: !$root.fullList()" style="width: 80px; display: none;"></th>
				</tr>
			</thead>
			<tbody data-bind="visible: !fullList() &amp;&amp; inventoryTransferLines().length === 0" style="display: none;">
				<tr>
					<td colspan="9" class="start-search-message" data-bind="local: 'storeTransfer.startSearch'">Search for individual products in search field or display the full list of products.</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">2748</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc">42022456</td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities ">10</span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">2373</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc">42022081</td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities ">1</span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">2289</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc">42021997</td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities ">0</span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">1075</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc">42020783</td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities ">0</span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">5413</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc"></td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities "></span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">2126</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc">42021834</td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities ">9</span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="visible: visible, click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: showProductCode">719</span>
					</td>
					<td data-bind="text: $data.name" class="product-name force-wrap"></td>
					<td data-bind="text: $data.upc">42020427</td>
					<td data-bind="text: $data.sku"></td>
					<td>
						<span data-bind="currency: $data.cost, visible: showCost">$0.00</span>
					</td>
					<td>
						<span data-bind="text: $data.storeOutQuantity, visible: showQuantities ">0</span>
					</td>
					<td>
						<span data-bind="text: $data.storeInQuantity, visible: showQuantities ">0</span>
					</td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress },
							   visible: showQuantity, enable: quantityEditable "><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow">
					</td>
				</tr>
			</tbody>
		</table>

		<div class="dataTables_wrapper" data-bind="visible: fullList() &amp;&amp; pagination().length > 1" style="">
			<div class="dataTables_paginate paging_simple_numbers">
				<a class="paginate_button previous disabled" data-dir="previous" data-bind="css: { disabled: pagination()[0] &amp;&amp; pagination()[0].current }, click: $root.gotoPage, local: 'storeTransfer.previous'">Previous</a>
				<span data-bind="foreach: pagination">
					<a class="paginate_button current" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">1</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">2</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">3</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">4</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">5</a>
					<span>…</span>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">24</a>
				</span>
				<a class="paginate_button next" data-dir="next" data-bind="css: { disabled: pagination().length &amp;&amp; pagination()[pagination().length - 1].current }, click: $root.gotoPage, local: 'storeTransfer.next'">Next</a>
			</div>
		</div>
	</div>
	{% include 'partials/po-receiving/_buttons.html' %}
</div>