<div>
	{% include 'partials/po-receiving/_filters.html' %}
	<div id="storeTransferMessage"></div>
	<div class="min-table-width-wrapper">
		<table class="datatable dataTable min-table-width" role="grid">
			<thead>
				<tr role="row">
					<th data-bind="local: 'storeTransfer.id'" class="product-id">ID</th>
					<th data-bind="local: 'storeTransfer.name'" class="product-name">Name</th>
					<th data-bind="local: 'storeTransfer.upc'">UPC</th>
					<th data-bind="local: 'storeTransfer.sku'">SKU</th>
					<th data-bind="local: 'storeTransfer.cost'">Cost</th>
					<th data-bind="local: 'storeTransfer.storeInQuantity'">Store In Qty</th>
					<th data-bind="local: 'poReceiving.receivedQuantity'">Received Qty</th>
				</tr>
			</thead>
			<tbody data-bind="visible: !fullList() &amp;&amp; inventoryTransferLines().length === 0" style="display: none;">
				<tr>
					<td colspan="7" class="start-search-message" data-bind="local: 'storeTransfer.startSearch'">Search for individual products in search field or display the full list of products.</td>
				</tr>
			</tbody>
			<!-- ko foreach: inventoryTransferLines -->
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() -->
						<span class="expand-icon"></span>
						<!-- /ko -->
						<span data-bind="text: $data.productCode, visible: $data.variantKey == null">5088</span>
					</td>
					<td data-bind="text: $data.name" class="product-name">10varykiihl</td>
					<td data-bind="text: $data.upc">11111111111111111</td>
					<td data-bind="text: $data.sku"></td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0" class="sm-configurable js-configurable">
						<div class="sm-configurable__inner">
							<!-- <span class="sm-configurable__symbol">$</span> -->
							<input type="text" class="sm-configurable__input js-configurable-input" value="$400.00">
							<!-- <i class="fa fa-edit sm-configurable__btn"></i>
							<span class="sm-configurable__text">$<span class="js-configurable-text">0.00</span></span> -->
						</div>
					</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td data-bind="text: $root.getStoreInQuantity($data.storeQuantities), visible:$data.productType == 0" style="display: none;"></td>
					<td data-bind="visible:$data.productType != 0"></td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress }, visible:$data.productType === 0, attr: { readonly: $data.inventoryType === 1 }" style="display: none;">
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow, visible: $data.productType === 0" style="display: none;">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: $data.inventoryType === 1 &amp;&amp; (!$root.fullList() || ($data.expanded() &amp;&amp; $root.lineVisible($data)))" class="po-receiving-serial" style="display: none;">
				<!-- ko foreach: $data.serials --><!-- /ko -->
				<tr>
					<td></td>
					<td colspan="4">
						<input type="text" class="form-control input-lg" maxlength="50" data-bind="value: newSerialNo, event: { keypress: $root.onKeyPress }, local: 'inventory/inventory-manage-tabs/serials.serialNo', localAttr: 'placeholder'" placeholder="Serial #">
						<input class="modifier-add-button" type="button" data-bind="click: $root.addSerial">
					</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
			
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))" style="display: none;">
				<tr data-bind="click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: $data.variantKey == null" style="display: none;">0</span>
					</td>
					<td data-bind="text: $data.name" class="product-name">1 / 3 / 65</td>
					<td data-bind="text: $data.upc">4324</td>
					<td data-bind="text: $data.sku">234</td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0">$432.00</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td data-bind="text: $root.getStoreInQuantity($data.storeQuantities), visible:$data.productType == 0">0</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress }, visible:$data.productType === 0, attr: { readonly: $data.inventoryType === 1 }"><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow, visible: $data.productType === 0">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: $data.inventoryType === 1 &amp;&amp; (!$root.fullList() || ($data.expanded() &amp;&amp; $root.lineVisible($data)))" class="po-receiving-serial" style="display: none;">
				<!-- ko foreach: $data.serials --><!-- /ko -->
				<tr>
					<td></td>
					<td colspan="4">
						<input type="text" class="form-control input-lg" maxlength="50" data-bind="value: newSerialNo, event: { keypress: $root.onKeyPress }, local: 'inventory/inventory-manage-tabs/serials.serialNo', localAttr: 'placeholder'" placeholder="Serial #">
						<input class="modifier-add-button" type="button" data-bind="click: $root.addSerial">
					</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
			
			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))" style="display: none;">
				<tr data-bind="click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: $data.variantKey == null" style="display: none;">0</span>
					</td>
					<td data-bind="text: $data.name" class="product-name">1 / 4 / 65</td>
					<td data-bind="text: $data.upc">324324</td>
					<td data-bind="text: $data.sku">1000000002</td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0">$432.00</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td data-bind="text: $root.getStoreInQuantity($data.storeQuantities), visible:$data.productType == 0">0</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress }, visible:$data.productType === 0, attr: { readonly: $data.inventoryType === 1 }"><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow, visible: $data.productType === 0">
					</td>
				</tr>
			</tbody>
			<tbody data-bind="visible: $data.inventoryType === 1 &amp;&amp; (!$root.fullList() || ($data.expanded() &amp;&amp; $root.lineVisible($data)))" class="po-receiving-serial" style="display: none;">
				<!-- ko foreach: $data.serials --><!-- /ko -->
				<tr>
					<td></td>
					<td colspan="4">
						<input type="text" class="form-control input-lg" maxlength="50" data-bind="value: newSerialNo, event: { keypress: $root.onKeyPress }, local: 'inventory/inventory-manage-tabs/serials.serialNo', localAttr: 'placeholder'" placeholder="Serial #">
						<input class="modifier-add-button" type="button" data-bind="click: $root.addSerial">
					</td>
					<td colspan="2"></td>
				</tr>
			</tbody>

			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() -->
						<span class="expand-icon"></span>
						<!-- /ko -->
						<span data-bind="text: $data.productCode, visible: $data.variantKey == null">5511</span>
					</td>
					<td data-bind="text: $data.name" class="product-name">11_22_33</td>
					<td data-bind="text: $data.upc">2222222</td>
					<td data-bind="text: $data.sku"></td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0" class="sm-configurable js-configurable">
						<div class="sm-configurable__inner">
							<!-- <span class="sm-configurable__symbol">$</span> -->
							<input type="text" class="sm-configurable__input js-configurable-input" value="$400.00">
							<!-- <i class="fa fa-edit sm-configurable__btn"></i>
							<span class="sm-configurable__text">$<span class="js-configurable-text">0.00</span></span> -->
						</div>
					</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td data-bind="text: $root.getStoreInQuantity($data.storeQuantities), visible:$data.productType == 0">1</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress }, visible:$data.productType === 0, attr: { readonly: $data.inventoryType === 1 }" readonly="true">
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow, visible: $data.productType === 0">
					</td>
				</tr>
			</tbody>

			<tbody data-bind="visible: $data.inventoryType === 1 &amp;&amp; (!$root.fullList() || ($data.expanded() &amp;&amp; $root.lineVisible($data)))" class="po-receiving-serial" style="display: none;">
				<!-- ko foreach: $data.serials --><!-- /ko -->
				<tr>
					<td></td>
					<td colspan="4">
						<input type="text" class="form-control input-lg" maxlength="50" data-bind="value: newSerialNo, event: { keypress: $root.onKeyPress }, local: 'inventory/inventory-manage-tabs/serials.serialNo', localAttr: 'placeholder'" placeholder="Serial #">
						<input class="modifier-add-button" type="button" data-bind="click: $root.addSerial">
					</td>
					<td colspan="2"></td>
				</tr>
			</tbody>

			<tbody data-bind="visible: !$root.fullList() || ($root.lineVisible($data) &amp;&amp; (!$data.parent || $data.parent.expanded()))">
				<tr data-bind="click: $root.expandLine, css: { open: $data.expanded() }" class="">
					<td class="product-id">
						<!-- ko if: ($data.inventoryType === 1 || $data.child) && $root.fullList() --><!-- /ko -->
						<span data-bind="text: $data.productCode, visible: $data.variantKey == null">5479</span>
					</td>
					<td data-bind="text: $data.name" class="product-name">112233</td>
					<td data-bind="text: $data.upc">5454545454545</td>
					<td data-bind="text: $data.sku"></td>
					<td data-bind="currency: $data.cost, visible:$data.productType == 0" class="sm-configurable js-configurable">
						<div class="sm-configurable__inner">
							<input type="text" class="sm-configurable__input js-configurable-input" value="$400.00">
						</div>
					</td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td data-bind="text: $root.getStoreInQuantity($data.storeQuantities), visible:$data.productType == 0"></td>
					<td data-bind="visible:$data.productType != 0" style="display: none;"></td>
					<td style="white-space: initial">
						<input type="number" class="form-control input" data-bind="value: $data.transferQuantity, valueUpdate: 'input', event: { keypress: $root.qtyKeyPress }, visible:$data.productType === 0, attr: { readonly: $data.inventoryType === 1 }"><span class="fieldError" style="display: none;"></span>
					</td>
					<td data-bind="visible: !$root.fullList()" style="display: none;">
						<input type="button" class="delete-row-button" data-bind="click: $root.deleteRow, visible: $data.productType === 0">
					</td>
				</tr>
			</tbody>
		</table>
		<div class="dataTables_wrapper" data-bind="visible: fullList() &amp;&amp; pagination().length > 1" style="">
			<div class="dataTables_paginate paging_simple_numbers">
				<a class="paginate_button previous disabled" data-dir="previous" data-bind="css: { disabled: pagination()[0] &amp;&amp; pagination()[0].current }, click: $root.gotoPage, local: 'storeTransfer.previous'">Previous</a>
				<span data-bind="foreach: pagination">
					<a class="paginate_button current" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">1</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">2</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">3</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">4</a>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">5</a>
					<span>…</span>
					<a class="paginate_button" data-bind="text: pageNo, css: { current: $data.current }, click: $root.gotoPage">24</a>
				</span>
				<a class="paginate_button next" data-dir="next" data-bind="css: { disabled: pagination().length &amp;&amp; pagination()[pagination().length - 1].current }, click: $root.gotoPage, local: 'storeTransfer.next'">Next</a>
			</div>
		</div>
	</div>
	{% include 'partials/po-receiving/_buttons.html' %}
</div>