<!-- begin g-box SUCCESS PAYMENT -->
<div class="g-box g-box_success v-box is-open" data-success>
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<button class="v-guide-btn v-guide-btn_gray v-guide-btn_wide g-box__btn">Stay with Essential</button>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__center g-box__center_noscroll">
			<div class="v-box__icon" data-animation="icon">
				<i class="fa fa-close is-red " aria-hidden="true"></i>
			</div>
			<h3 class="v-box__title" data-animation="title">There was an issue processing your payment.</h3>
			<div class="v-box__description" data-animation="text">
				<p>Please <a href="#">try again</a> or email at <a href="#">support@ehopper.com</a>.</p>
			</div>
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end g-box SUCCESS PAYMENT -->