<!-- begin g-box PAYMENT FORM -->
<div class="g-box g-box_form" data-guide-form="upgrade">
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<a href="#" class="v-guide-link g-box__back" data-guide-form-close="upgrade"><i class="fa fa-angle-left"></i>Previous</a>
		<button class="v-guide-btn v-guide-btn_wide g-box__btn" data-guide-submit>Complete</button>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__container g-box__center">
			{% include 'partials/components/_guide-form.html' %}
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end g-box PAYMENT FORM -->