<!-- begin g-box -->
<div class="g-box">
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<a href="#" class="v-guide-link g-box__back" data-guide-direction="prev"><i class="fa fa-angle-left"></i>Previous</a>
		<div class="g-box__footer-row">
			<div class="g-box__footer-col">
				<button class="v-guide-btn v-guide-btn_wide g-box__btn js-guide-demo-submit" disabled>Start Demo <i class="fa fa-angle-right"></i></button>
			</div>
			<div class="g-box__footer-col">
				<button class="v-guide-btn v-guide-btn_gray v-guide-btn_wide g-box__btn">Skip Demo</button>
			</div>
		</div>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__container g-box__center">
			<div class="g-box__col g-box__video">
				<div class="g-box__video-in">
					<iframe src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-video="GetStarted"></iframe>
				</div>
			</div>
			<div class="g-box__col g-box__content">
				<div class="g-box__content-in">
					<div class="g-box-selection g-box__selection">
						<h2 class="g-box__title g-box__title_simple">Select Freedom Plan Demo</h2>
						<div class="g-box__description">Would you like to try our Freedom Plan for Free?</div>
						<ul class="g-box-selection__items">
							{% for item in [
								{
									id: 'food-drinks',
									img: 'content/images/demo/qsr.png',
									color: 'rgb(236, 165, 53)',
									title: 'Food &amp; Drinks',
									list: [
										'Ingredients',
										'Modifiers',
										'Orders &amp; Tips',
										'Delivery',
										'Sales &amp; Kitchen Receipts'
									] 
								},
								{
									id: 'retail-store',
									img: 'content/images/demo/retail.png',
									color: 'rgb(45, 167, 130)',
									title: 'Retail Store',
									list: [
										'Inventory Matrix: ex vendor, style, color, size',
										'Multi Store support',
										'Vendor management',
										'Retail Reports'
									]
								},
								{
									id: 'serialized-store',
									img: 'content/images/demo/serialized.png',
									color: 'rgb(139, 98, 175)',
									title: 'Serialized Store',
									list: [
										'Full Inventory Management',
										'Serialized Items Tracking',
										'Aging Report'
									]
								},
								{
									id: 'grocery',
									img: 'content/images/demo/grocery.png',
									color: 'rgb(73, 161, 174)',
									title: 'Grocery',
									list: [
										'Same as QSR',
										'Full Inventory Control',
										'Unit Priced Items: lb., oz.,  kg., etc.'
									]
								}
							] %}
								<li class="g-box-selection__item {{item.classList}}">
									<input type="radio" name="get-started" id="{{item.id}}" class="js-guide-demo-variant">
									<label for="{{item.id}}">
										<i class="fa fa-check"></i>
									</label>
									<div class="g-box-selection__container" {% if item.img and item.color %}style="background-image: url({{item.img}}); background-color: {{item.color}};"{% endif %}>
										<div class="g-box-selection__title">{{item.title | safe}}</div>
										{% if item.list %}
											<ul class="g-box-selection__list">
												{% for item in item.list %}
													<li>{{item | safe}}</li>
												{% endfor %}
											</ul>
										{% endif %}
										{% if item.text %}
											<div class="g-box-selection__text">
												<p>{{item.text}}</p>
											</div>
										{% endif %}
									</div>
									{#<div class="g-box-selection__meta">{{item.meta or 'Select'}}</div>#}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end g-box -->