<!-- begin g-box SUCCESS PAYMENT -->
<div class="g-box g-box_success v-box" data-success>
	<!-- begin g-box__footer -->
	<div class="g-box__footer">
		<button class="v-guide-btn v-guide-btn_wide g-box__btn" data-guide-direction="next">Get Started <i class="fa fa-angle-right"></i></button>
	</div>
	<!-- end g-box__footer -->

	<!-- begin g-box__inner -->
	<div class="g-box__inner g-box__vertical">
		<div class="g-box__container g-box__center">
			<div class="g-box__col g-box__video">
				<div class="g-box__video-in">
					<iframe src="https://www.youtube-nocookie.com/embed/_ueI01hQMZ0?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="g-box__col g-box__content">
				<div class="g-box__content-in">
					<div class="v-box__container">
						<div class="v-box__icon" data-animation="icon"> <i class="fa fa-check " aria-hidden="true"></i> </div>
						<h3 class="v-box__title" data-animation="title">Thank you for your payment</h3>
						<div class="v-box__description" data-animation="text">
							<p>Your account has been upgraded to Freedom.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end g-box__inner -->
</div>
<!-- end g-box SUCCESS PAYMENT -->